@font-face {
    font-family: "Sarabun";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Sarabun/Sarabun-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Sarabun/Sarabun-Regular.ttf") format("truetype") /* Safari, Android, iOS */,
        url("../fonts/Sarabun/Sarabun-Regular.eot?#iefix") format("embedded-opentype") /* IE6-IE8 */,
        url("../fonts/Sarabun/Sarabun-Regular.woff2") format("woff2") /* Super Modern Browsers */,
        url("../fonts/Sarabun/Sarabun-Regular.woff") format("woff") /* Modern Browsers */;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/roboto-regular.eot?#iefix") format("embedded-opentype") /* IE6-IE8 */,
        url("../fonts/Roboto/roboto-regular.woff2") format("woff2") /* Super Modern Browsers */,
        url("../fonts/Roboto/roboto-regular.woff") format("woff") /* Modern Browsers */,
        url("../fonts/Roboto/roboto-regular.ttf") format("truetype") /* Safari, Android, iOS */,
        url("../fonts/Roboto/roboto-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/HindMadurai/HindMadurai-Light.eot");
    src: url("../fonts/HindMadurai/HindMadurai-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HindMadurai/HindMadurai-Light.woff2") format("woff2"),
        url("../fonts/HindMadurai/HindMadurai-Light.woff") format("woff"),
        url("../fonts/HindMadurai/HindMadurai-Light.svg#HindMadurai-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/HindMadurai/HindMadurai-Regular.eot");
    src: url("../fonts/HindMadurai/HindMadurai-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HindMadurai/HindMadurai-Regular.woff2") format("woff2"),
        url("../fonts/HindMadurai/HindMadurai-Regular.woff") format("woff"),
        url("../fonts/HindMadurai/HindMadurai-Regular.svg#HindMadurai-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/HindMadurai/HindMadurai-Medium.eot");
    src: url("../fonts/HindMadurai/HindMadurai-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HindMadurai/HindMadurai-Medium.woff2") format("woff2"),
        url("../fonts/HindMadurai/HindMadurai-Medium.woff") format("woff"),
        url("../fonts/HindMadurai/HindMadurai-Medium.svg#HindMadurai-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/HindMadurai/HindMadurai-SemiBold.eot");
    src: url("../fonts/HindMadurai/HindMadurai-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HindMadurai/HindMadurai-SemiBold.woff2") format("woff2"),
        url("../fonts/HindMadurai/HindMadurai-SemiBold.woff") format("woff"),
        url("../fonts/HindMadurai/HindMadurai-SemiBold.svg#HindMadurai-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/HindMadurai/HindMadurai-Bold.eot");
    src: url("../fonts/HindMadurai/HindMadurai-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HindMadurai/HindMadurai-Bold.woff2") format("woff2"),
        url("../fonts/HindMadurai/HindMadurai-Bold.woff") format("woff"),
        url("../fonts/HindMadurai/HindMadurai-Bold.svg#HindMadurai-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-24 {
    font-size: 24px;
}
