//  __  __           _                _____           _                
// |  \/  |         (_)              / ____|         | |               
// | \  / |   __ _   _   _ __       | |        ___   | |   ___    _ __ 
// | |\/| |  / _` | | | | '_ \      | |       / _ \  | |  / _ \  | '__|
// | |  | | | (_| | | | | | | |     | |____  | (_) | | | | (_) | | |   
// |_|  |_|  \__,_| |_| |_| |_|      \_____|  \___/  |_|  \___/  |_|   

$primary: #FF3D57;
$primary-dark: #E6374E;
$primary-light-1: #FBCFD3;
$primary-light-2: #F8EFF0;
$primary-hover: #D83A4F;

$secondary: #33475B;
$secondary-light-1: #6B7884;
$secondary-light-2: #84919D;
$secondary-light-3: #C2C9CD;
$secondary-border-light: #E3E8EC;
$secondary-hover: #283949;

$blue-light: #4798de;

$default: #FFFFFF;
$default-border: #E3E8EC;
$default-hover: #EDF3F7;

$icon: #6B7884;
$icon-hover: #33475B;

$caution: #F4A927;
$caution-dark: #DB900E;
$caution-light: #FEF6E9;

$input-focus-border: #C2C8CD;

$btn_switch_t: #f47b28;
$btn_switch_f: #28C10B;

$active: #28C10B;
$inactive :#C2C8CD;
//  _   _                  _                    _      _____           _                
// | \ | |                | |                  | |    / ____|         | |               
// |  \| |   ___   _   _  | |_   _ __    __ _  | |   | |        ___   | |   ___    _ __ 
// | . ` |  / _ \ | | | | | __| | '__|  / _` | | |   | |       / _ \  | |  / _ \  | '__|
// | |\  | |  __/ | |_| | | |_  | |    | (_| | | |   | |____  | (_) | | | | (_) | | |   
// |_| \_|  \___|  \__,_|  \__| |_|     \__,_| |_|    \_____|  \___/  |_|  \___/  |_|   

$chat-background: #EDF3F7;
$chat-bubble: #E4EAF1;
$grey-background: #F6F9FA;
$white: #FFFFFF;

//  _______                      _____           _                
// |__   __|                    / ____|         | |               
//    | |      __ _    __ _    | |        ___   | |   ___    _ __ 
//    | |     / _` |  / _` |   | |       / _ \  | |  / _ \  | '__|
//    | |    | (_| | | (_| |   | |____  | (_) | | | | (_) | | |   
//    |_|     \__,_|  \__, |    \_____|  \___/  |_|  \___/  |_|   
//                     __/ |                                      
//                    |___/                                       

$following-font: #3E4CEA;
$following-bg: #EBECFD;
$assigned-font: #F4A927;
$assigned-bg: #FEF6E9;
$date-chat-bg: #536A85;
$done-font: #0AB262;
$done-bg: #E5FAF0;
$other-tags: #33475B;
$other-tags-bg: #EFF3F6;

//  ____                       _                      _____           _                
// |  _ \                     | |                    / ____|         | |               
// | |_) |   ___    _ __    __| |   ___   _ __      | |        ___   | |   ___    _ __ 
// |  _ <   / _ \  | '__|  / _` |  / _ \ | '__|     | |       / _ \  | |  / _ \  | '__|
// | |_) | | (_) | | |    | (_| | |  __/ | |        | |____  | (_) | | | | (_) | | |   
// |____/   \___/  |_|     \__,_|  \___| |_|         \_____|  \___/  |_|  \___/  |_|   

$border-primary: #FF3D57;
$border-grey: #ECE8EC;







$switch_chat_t: #f4a927;
$switch_chat_f: #536a85;

$dropdown_primary: #2b3b5a;
$dropdown_item: #637c96;
$dropdown_item_hover: #F6F9FA;
$dropdown_item_active: #FFECEE;

$btn_secondary: #f0f6f8;
$btn_hover_secondary: #e3f5fc;
$btn_border_secondary: #e3e8ec;

$btn_export_color:#33475b;
$btn_export_color_hover:#2b3b5a;


$invalid_form: #FF3D57;
