.broadcastpanel-component{
    flex: 1 0 0;
    max-width: 100%;
    min-width: 1px;
    min-height: 1px;
    -webkit-box-flex: 1.1 !important;
    flex-grow: 1.1 !important;
}
.font-type-broadcast{
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    border: unset;
}

.btn-type-broadcast{
    cursor: pointer;
    color: #6385A9;
    text-align: center;
    width: 100px;
    height: 40px;
    margin-right: 6px;
    &:hover {
        background: #d2dce6 0% 0% no-repeat padding-box;
        color: red;
        font-weight: bold;
        border-radius: 20px;
      }
    &:active {
        background: #d2dce6 0% 0% no-repeat padding-box;
        color: red;
        font-weight: bold;
        border-radius: 20px;
    }
}
.pointerTag {
    cursor: pointer;
}
.disablePointerTag {
    opacity: 0.5
}
.bc-target-all{
    background: #EDF3F7;
    border-radius: 11px;
    padding: 5px 10px;
    color:#33475B;
}
.bc-target-tg{
    background: #FEF6E9;
    border-radius: 11px;
    padding: 5px 10px;
    color:#DB900E;

}
.TextBroadcastWrapper{
    padding: 0;
  position: relative;
  -webkit-box-flex: 2;
  flex-grow: 2;
  overflow: auto;
}
.TextBroadcastContainer{
    position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
}
.BreadCrumbDiv{
    background-color: unset;
    padding: 0;
    font-size: 26px;

    .breadcrumb-item {
      a {
        color: #6c757d;
      }
      &.active {
        color: red;
        font-weight: bold;
      }
    }
}

.DivForRadioCustom {
  input[type="radio"].custom-control-input:checked + label:before {
    top: calc(50% - 0.5rem);
    border-color: red !important;
    background-color: red !important;
  }
  
  input[type="radio"].custom-control-input + label:before {
    top: calc(50% - 0.5rem);
  }
  
  label:after {
    top: calc(50% - 0.5rem);
  }
}
.ButtonTypeBroadcast{
  &:hover {
    background-color: #ece8e8;
  }
  &.active {
    background-color: #ece8e8;
  }
}

.DropdownButton{
  border: 1px solid  #dfdfdf;
  text-align: left;
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
}

.JSONInput{
  &,
  &:focus {
    min-height: 25rem;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 0.9rem;
  }
}

.ButtonDash{
  border: 1px dashed !important;
  width: 100px;
}
.btn-send{
  background-color: #ee3f4c;
  color: #fff;
  width: 120px;
  &:hover {
    background-color :#33475B;
    color: #fff;
    width: 120px;
  }
}

.CheckboxCustom{
  input[type="checkbox"].custom-control-input:checked + label:before {
    border-color: #ee3f4c !important;
    background-color: #ee3f4c !important;
  }
  label {
    width: 100% ;
    color: #ee3f4c;
  }
}

.TagContainer{
  border: 1px solid red;
  border-radius: 12px;
  min-width: 3rem;
  text-align: center;
  padding: 0rem 0.4rem;
  
}

.item-seleted:hover{
  background-color: #f0f6f8;
  cursor: pointer;
}

.font-view {
  font-weight: 600;
  color: #33475b;
}
.button-responsive {
  @media only screen and (max-width: 1280px) {
    top: 42px;
    left: 110px;
    position: relative;
    
  }
  @media only screen and (max-width: 980px) {
    top: 42px;
    left: 13rem;
    position: relative;
    
  }
 
}

.form-data-responsive{
 
  @media only screen and (max-width: 2080px) and (min-width: 1280px) {
    height: 785px; overflow: auto
  }
  height: 425px; overflow: auto
  // @media only screen and  (min-width: 1240px) {
  //   height: 400px; overflow: auto
    
  // }
}

.header-tag-list {
  border-radius: 5px !important;
  color: #2e4a6a;
  font-size: 14px;
  font-weight: bold;
  overflow-x: auto;
  min-height: 2.5rem;
  background-color: #a6b6c4;
}