@mixin set-style-button(
  $font-size,
  $font-weight,
  $height,
  $padding,
  $svg-width,
  $svg-height
) {
  font-size: $font-size;
  font-weight: $font-weight;
  height: $height;
  padding: $padding;

  svg {
    margin-top: -1px;
    margin-left: -2px;
    margin-right: 2px;
    width: $svg-width;
    height: $svg-height;
  }
}

button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.sm {
    @include set-style-button(12px, 400, 24px, 3px 9px 3px 9px, 16px, 16px);
  }

  &.md {
    @include set-style-button(14px, 500, 32px, 6px 14px 5px 14px, 16px, 16px);
    line-height: 0.5;
  }

  &.lg {
    @include set-style-button(14px, 600, 40px, 10px 18px 9px 18px, 24px, 24px);
    line-height: 1.5;
  }

  &.xl {
    @include set-style-button(16px, 600, 48px, 13px 20px 11px 20px, 24px, 24px);
    line-height: 1.5;
  }

  &.outline {
    background-color: transparent !important;
  }

  &:disabled {
    opacity: 0.4;
  }
}

button:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.btn--primary {
  color: $white;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 4px;
  &:hover {
    background-color: $primary-hover;
    border: 1px solid $primary-hover;
  }
  &.outline {
    color: $primary !important;
  }
}

.btn--primary-100 {
  font-size: 16px;
  font-weight: 600;
  color: $white;
  height: 48px;
  width: 100%;
  background-color: $primary;
  border: 1px solid $primary;
  padding: 7px 14px 5px 14px;
  line-height: 24px;
  border-radius: 24px;
  &:hover {
    background-color: $primary-hover;
    border: 1px solid $primary-hover;
  }
}

.btn--100 {
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: 100%;
  padding: 7px 14px 5px 14px;
  border: none;
  line-height: 24px;
  border-radius: 24px;
}

.btn--secondary-100 {
  font-size: 16px;
  font-weight: 600;
  color: $white;
  height: 48px;
  width: 100%;
  background-color: $secondary;
  border: 1px solid $secondary;
  padding: 7px 14px 5px 14px;
  line-height: 24px;
  border-radius: 24px;
  &:hover {
    background-color: $secondary-hover;
    border: 1px solid $secondary-hover;
  }
}


.btn--yellow {
  display: inline-block;
  text-align: center;
  color: $white;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #F4A927;
  border: 1px solid #F4A927;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: $secondary-hover;
    border: 1px solid $secondary-hover;
  }

  &:disabled {
    opacity: 0.4;
  }
}



.btn--secondary {
  color: $white;
  background-color: $secondary;
  border: 1px solid $secondary;
  border-radius: 4px;
  &:hover {
    background-color: $secondary-hover;
    border: 1px solid $secondary-hover;
  }
}

.btn--default {
  color: $secondary;
  background-color: $default;
  border: 1px solid $default-border;
  border-radius: 4px;
  &:hover {
    background-color: $default-hover;
  }
}

.btn--default-100 {
  font-size: 16px;
  font-weight: 600;
  color: $secondary;
  height: 48px;
  width: 100%;
  background-color: $default;
  border: 1px solid $default-border;
  padding: 7px 14px 5px 14px;
  line-height: 24px;
  border-radius: 24px;

  &:hover {
    background-color: $default-hover;
    border: 1px solid $default-hover;
  }
}

.btn-disabled {
  background-color: $secondary-light-2 !important;
  pointer-events: none;
}

.ButtonCreate {
  background-color: $primary;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }
}

.btn-cancel {
  border: 1px solid $secondary-light-3;
}

.btn-new-send,
.btn-default {
  background-color: #33475b;
  color: #ffffff;
  width: 120px;
  font-weight: 600;

  &:hover {
    background-color: #33475b;
    color: #ffffff;
    width: 120px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: no-drop;
  }
}

.btn-new-send.active,
.btn-default.active {
  background-color: $primary !important;
}

.btn-new-send.active:hover,
.btn-default.active:hover {
  background-color: $primary !important;
}

.btn-new-outline-secondary {
  background-color: #ffffff;
  border: 1px solid #e3e8ec;
  color: #33475b;
  font-weight: 600;
  width: 120px;
}

.ButtonClear {
  background-color: $secondary-light-2;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $secondary-light-2;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $secondary-light-2;
    border-color: $btn_border_secondary;
  }
}
.ButtonPrimary {
  background-color: $primary;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;
}
.ButtonCancel {
  background-color: $secondary;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $secondary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $secondary;
    border-color: $btn_border_secondary;
  }

  &.white {
    color: $secondary !important;
    background-color: $white !important;
    border-color: $btn_border_secondary !important;
  }
}

.ButtonSearch {
  background-color: $primary;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }
}

.ButtonSubmit {
  background-color: $primary;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }
}

.button-edit-column {
  background-color: transparent;
  height: 2.3rem;
  border: 1px solid $secondary;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $secondary;
  transition: all 0.25s;
  &:hover {
    color: $white;
    background-color: $secondary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $secondary;
    border-color: $btn_border_secondary;
  }
}

.ButtonDraft {
  background-color: transparent;
  height: 2.3rem;
  border: 1px solid $secondary;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $secondary;
  transition: all 0.25s;
  &:hover {
    color: $white;
    background-color: $secondary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $secondary;
    border-color: $btn_border_secondary;
  }
}

.ButtonSelect {
  background-color: $primary;
  height: 2.3rem;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: $white;

  &:hover {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }

  &:focus {
    color: $white;
    background-color: $primary;
    border-color: $btn_border_secondary;
  }
}

.btn-upload {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 4px;
  background-color: #33475b;
  color: #ffffff;
  cursor: pointer;
  min-width: 5em;
}

.eye-click {
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.avatar-icon {
  border-radius: 50%;
  width: 10%;
}

.report-btn-center {
  right: 50px;
  position: relative;
}

.btn-icon-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884'%3E%3Cpath d='M21.3343827,20.1253467 L17.336892,15.9467713 C18.6235708,14.4172254 19.3285497,12.4927437 19.3285497,10.4892748 C19.3285497,5.80836251 15.5201872,2 10.8392748,2 C6.15836251,2 2.35,5.80836251 2.35,10.4892748 C2.35,15.1701872 6.15836251,18.9785497 10.8392748,18.9785497 C12.5965547,18.9785497 14.2711565,18.4485236 15.7028911,17.44236 L19.7383991,21.660429 C19.9491545,21.8793047 20.2326225,22 20.5363909,22 C20.8239189,22 21.096683,21.8903776 21.3037475,21.6910642 C21.7437134,21.2677078 21.7577392,20.5656817 21.3343827,20.1253467 Z M10.8392748,4.21459343 C14.299208,4.21459343 17.1139562,7.02934169 17.1139562,10.4892748 C17.1139562,13.949208 14.299208,16.7639562 10.8392748,16.7639562 C7.37934169,16.7639562 4.56459343,13.949208 4.56459343,10.4892748 C4.56459343,7.02934169 7.37934169,4.21459343 10.8392748,4.21459343 Z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-color: transparent;
  background-size: 20px 20px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B'%3E%3Cpath d='M21.3343827,20.1253467 L17.336892,15.9467713 C18.6235708,14.4172254 19.3285497,12.4927437 19.3285497,10.4892748 C19.3285497,5.80836251 15.5201872,2 10.8392748,2 C6.15836251,2 2.35,5.80836251 2.35,10.4892748 C2.35,15.1701872 6.15836251,18.9785497 10.8392748,18.9785497 C12.5965547,18.9785497 14.2711565,18.4485236 15.7028911,17.44236 L19.7383991,21.660429 C19.9491545,21.8793047 20.2326225,22 20.5363909,22 C20.8239189,22 21.096683,21.8903776 21.3037475,21.6910642 C21.7437134,21.2677078 21.7577392,20.5656817 21.3343827,20.1253467 Z M10.8392748,4.21459343 C14.299208,4.21459343 17.1139562,7.02934169 17.1139562,10.4892748 C17.1139562,13.949208 14.299208,16.7639562 10.8392748,16.7639562 C7.37934169,16.7639562 4.56459343,13.949208 4.56459343,10.4892748 C4.56459343,7.02934169 7.37934169,4.21459343 10.8392748,4.21459343 Z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.btn-icon-arrow-up {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884'%3E%3Cpath d='M7.03318827,3.5185804 C6.62065319,4.04334751 6.65934586,4.80144227 7.14831982,5.28250182 L13.9764825,11.9999568 L7.14808042,18.7174857 C6.61838905,19.2387382 6.61712248,20.0846606 7.14539605,20.607208 C7.40292258,20.8617119 7.74786613,21 8.1047353,21 C8.46045854,21 8.80422884,20.8626907 9.06125249,20.6099914 L16.8518369,12.9461891 C17.1066071,12.6961408 17.25,12.3553011 17.25,12.0000217 C17.25,11.645102 17.1067045,11.3048401 16.8521325,11.0541128 L9.06143198,3.38996896 C8.53160774,2.86905727 7.6743096,2.87016049 7.14588329,3.39238668 L7.03318827,3.5185804 Z' transform='translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) '%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B'%3E%3Cpath d='M7.03318827,3.5185804 C6.62065319,4.04334751 6.65934586,4.80144227 7.14831982,5.28250182 L13.9764825,11.9999568 L7.14808042,18.7174857 C6.61838905,19.2387382 6.61712248,20.0846606 7.14539605,20.607208 C7.40292258,20.8617119 7.74786613,21 8.1047353,21 C8.46045854,21 8.80422884,20.8626907 9.06125249,20.6099914 L16.8518369,12.9461891 C17.1066071,12.6961408 17.25,12.3553011 17.25,12.0000217 C17.25,11.645102 17.1067045,11.3048401 16.8521325,11.0541128 L9.06143198,3.38996896 C8.53160774,2.86905727 7.6743096,2.87016049 7.14588329,3.39238668 L7.03318827,3.5185804 Z' transform='translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) '%3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.btn-icon-arrow-down {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 18 18' fill='%236B7884'%3E%3Cpath d='M5.2748912,2.6389353 C4.96548989,3.03251063 4.9945094,3.6010817 5.36123986,3.96187636 L10.4823618,8.9999676 L5.36106032,14.0381143 C4.96379179,14.4290536 4.96284186,15.0634954 5.35904703,15.455406 C5.55219193,15.6462839 5.8108996,15.75 6.07855147,15.75 C6.34534391,15.75 6.60317163,15.6470181 6.79593937,15.4574936 L12.6388777,9.70964183 C12.8299554,9.52210563 12.9375,9.26647582 12.9375,9.00001627 C12.9375,8.73382647 12.8300284,8.47863006 12.6390994,8.29058457 L6.79607398,2.54247672 C6.39870581,2.15179295 5.7557322,2.15262037 5.35941247,2.54429001 L5.2748912,2.6389353 Z' transform='translate(9.000000, 9.000000) rotate(-270.000000) translate(-9.000000, -9.000000) '%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 18 18' fill='%2333475B'%3E%3Cpath d='M5.2748912,2.6389353 C4.96548989,3.03251063 4.9945094,3.6010817 5.36123986,3.96187636 L10.4823618,8.9999676 L5.36106032,14.0381143 C4.96379179,14.4290536 4.96284186,15.0634954 5.35904703,15.455406 C5.55219193,15.6462839 5.8108996,15.75 6.07855147,15.75 C6.34534391,15.75 6.60317163,15.6470181 6.79593937,15.4574936 L12.6388777,9.70964183 C12.8299554,9.52210563 12.9375,9.26647582 12.9375,9.00001627 C12.9375,8.73382647 12.8300284,8.47863006 12.6390994,8.29058457 L6.79607398,2.54247672 C6.39870581,2.15179295 5.7557322,2.15262037 5.35941247,2.54429001 L5.2748912,2.6389353 Z' transform='translate(9.000000, 9.000000) rotate(-270.000000) translate(-9.000000, -9.000000) '%3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.btn-add-time {
  display: inline-block;
  text-align: center;
  color: $white;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%23047CFA'%3E%3Cpath d='M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,6.28571429 L11.9062197,6.29076181 C11.4750243,6.33746392 11.1397732,6.70251076 11.1397732,7.14594109 L11.1395161,11.1395161 L7.14594109,11.1397732 C6.67056892,11.1397732 6.28571429,11.5248961 6.28571429,12 L6.29075847,12.0937336 C6.33743054,12.524742 6.7022604,12.8602268 7.14594109,12.8602268 L11.1395161,12.8596774 L11.1397732,16.8540589 C11.1397732,17.3291628 11.5246278,17.7142857 12,17.7142857 L12.0937803,17.7092382 C12.5249757,17.6625361 12.8602268,17.2974892 12.8602268,16.8540589 L12.8596774,12.8596774 L16.8540589,12.8602268 C17.3294311,12.8602268 17.7142857,12.4751039 17.7142857,12 L17.7092415,11.9062664 C17.6625695,11.475258 17.2977396,11.1397732 16.8540589,11.1397732 L12.8596774,11.1395161 L12.8602268,7.14594109 C12.8602268,6.67083717 12.4753722,6.28571429 12,6.28571429 Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  color: #047cfa;
  background-position: left;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0 0 0 17px;
  line-height: 21px;
  cursor: pointer;
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%230363C8'%3E%3Cpath d='M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,6.28571429 L11.9062197,6.29076181 C11.4750243,6.33746392 11.1397732,6.70251076 11.1397732,7.14594109 L11.1395161,11.1395161 L7.14594109,11.1397732 C6.67056892,11.1397732 6.28571429,11.5248961 6.28571429,12 L6.29075847,12.0937336 C6.33743054,12.524742 6.7022604,12.8602268 7.14594109,12.8602268 L11.1395161,12.8596774 L11.1397732,16.8540589 C11.1397732,17.3291628 11.5246278,17.7142857 12,17.7142857 L12.0937803,17.7092382 C12.5249757,17.6625361 12.8602268,17.2974892 12.8602268,16.8540589 L12.8596774,12.8596774 L16.8540589,12.8602268 C17.3294311,12.8602268 17.7142857,12.4751039 17.7142857,12 L17.7092415,11.9062664 C17.6625695,11.475258 17.2977396,11.1397732 16.8540589,11.1397732 L12.8596774,11.1395161 L12.8602268,7.14594109 C12.8602268,6.67083717 12.4753722,6.28571429 12,6.28571429 Z'%3E%3C/path%3E%3C/svg%3E");
    color: #0363c8;
  }
}

.btn-icon-sticker {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884' %3E%3Cpath d='M12.0016177,2 L12.2426368,2.00288196 C17.6624675,2.13212364 21.9995029,6.5678026 21.9995029,12.0002485 C21.9995029,17.5225321 17.5220874,22 11.9997515,22 C6.47741556,22 2,17.5225321 2,12.0002485 C2,6.64888388 6.20853781,2.26475401 11.5167083,2.01150395 L11.7587353,2.00284855 L12.0016177,2 Z M12.0000775,3.40941051 L11.7744702,3.41309005 C7.12619823,3.53273306 3.41020507,7.34003811 3.41020507,12.0002485 C3.41020507,16.7437011 7.25625401,20.5897949 11.9997515,20.5897949 C16.7432489,20.5897949 20.5892979,16.7437011 20.5892979,12.0002485 C20.5892979,7.416435 16.9941419,3.65779195 12.4547923,3.42197181 L12.2270503,3.41312898 L12.0000775,3.40941051 Z M17.0558921,12.8009559 C17.4258227,12.9117563 17.6476445,13.2823816 17.5818223,13.6535081 L17.5614629,13.7390436 L17.4979378,13.9382714 C16.6968723,16.3074657 14.5126908,17.8851656 11.9997515,17.8851656 C9.41682406,17.8851656 7.18096468,16.2184177 6.43802004,13.738977 C6.31876474,13.3408182 6.54531128,12.920486 6.94187788,12.8013281 C7.33809555,12.6791182 7.76149196,12.9070702 7.88162418,13.3060124 C8.43240219,15.1437374 10.0869118,16.377559 11.9997515,16.377559 C13.9124136,16.377559 15.5665606,15.1439031 16.1178498,13.3061092 C16.1754683,13.1134072 16.3053041,12.9538946 16.4825719,12.8581964 C16.6591558,12.7635065 16.8641152,12.7432302 17.0558921,12.8009559 Z M8.70774842,7.90616488 L8.8265066,7.91074162 C9.61029436,7.97138855 10.2278902,8.62721933 10.2278902,9.42681484 C10.2278902,10.2659696 9.54690317,10.9469566 8.70774842,10.9469566 C7.86825193,10.9469566 7.18760664,10.2661361 7.18760664,9.42681484 C7.18760664,8.62706072 7.80489252,7.97137344 8.58894596,7.91074054 L8.70774842,7.90616488 Z M15.2917545,7.90616488 L15.410557,7.91074054 C16.1946104,7.97137344 16.8118963,8.62706072 16.8118963,9.42681484 C16.8118963,10.2661361 16.131251,10.9469566 15.2917545,10.9469566 C14.4525998,10.9469566 13.7716127,10.2659696 13.7716127,9.42681484 C13.7716127,8.62721933 14.3892086,7.97138855 15.1729963,7.91074162 L15.2917545,7.90616488 Z' %3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B' %3E%3Cpath d='M12.0016177,2 L12.2426368,2.00288196 C17.6624675,2.13212364 21.9995029,6.5678026 21.9995029,12.0002485 C21.9995029,17.5225321 17.5220874,22 11.9997515,22 C6.47741556,22 2,17.5225321 2,12.0002485 C2,6.64888388 6.20853781,2.26475401 11.5167083,2.01150395 L11.7587353,2.00284855 L12.0016177,2 Z M12.0000775,3.40941051 L11.7744702,3.41309005 C7.12619823,3.53273306 3.41020507,7.34003811 3.41020507,12.0002485 C3.41020507,16.7437011 7.25625401,20.5897949 11.9997515,20.5897949 C16.7432489,20.5897949 20.5892979,16.7437011 20.5892979,12.0002485 C20.5892979,7.416435 16.9941419,3.65779195 12.4547923,3.42197181 L12.2270503,3.41312898 L12.0000775,3.40941051 Z M17.0558921,12.8009559 C17.4258227,12.9117563 17.6476445,13.2823816 17.5818223,13.6535081 L17.5614629,13.7390436 L17.4979378,13.9382714 C16.6968723,16.3074657 14.5126908,17.8851656 11.9997515,17.8851656 C9.41682406,17.8851656 7.18096468,16.2184177 6.43802004,13.738977 C6.31876474,13.3408182 6.54531128,12.920486 6.94187788,12.8013281 C7.33809555,12.6791182 7.76149196,12.9070702 7.88162418,13.3060124 C8.43240219,15.1437374 10.0869118,16.377559 11.9997515,16.377559 C13.9124136,16.377559 15.5665606,15.1439031 16.1178498,13.3061092 C16.1754683,13.1134072 16.3053041,12.9538946 16.4825719,12.8581964 C16.6591558,12.7635065 16.8641152,12.7432302 17.0558921,12.8009559 Z M8.70774842,7.90616488 L8.8265066,7.91074162 C9.61029436,7.97138855 10.2278902,8.62721933 10.2278902,9.42681484 C10.2278902,10.2659696 9.54690317,10.9469566 8.70774842,10.9469566 C7.86825193,10.9469566 7.18760664,10.2661361 7.18760664,9.42681484 C7.18760664,8.62706072 7.80489252,7.97137344 8.58894596,7.91074054 L8.70774842,7.90616488 Z M15.2917545,7.90616488 L15.410557,7.91074054 C16.1946104,7.97137344 16.8118963,8.62706072 16.8118963,9.42681484 C16.8118963,10.2661361 16.131251,10.9469566 15.2917545,10.9469566 C14.4525998,10.9469566 13.7716127,10.2659696 13.7716127,9.42681484 C13.7716127,8.62721933 14.3892086,7.97138855 15.1729963,7.91074162 L15.2917545,7.90616488 Z' %3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }

  &.disabled {
    background-color: transparent !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884' %3E%3Cpath d='M12.0016177,2 L12.2426368,2.00288196 C17.6624675,2.13212364 21.9995029,6.5678026 21.9995029,12.0002485 C21.9995029,17.5225321 17.5220874,22 11.9997515,22 C6.47741556,22 2,17.5225321 2,12.0002485 C2,6.64888388 6.20853781,2.26475401 11.5167083,2.01150395 L11.7587353,2.00284855 L12.0016177,2 Z M12.0000775,3.40941051 L11.7744702,3.41309005 C7.12619823,3.53273306 3.41020507,7.34003811 3.41020507,12.0002485 C3.41020507,16.7437011 7.25625401,20.5897949 11.9997515,20.5897949 C16.7432489,20.5897949 20.5892979,16.7437011 20.5892979,12.0002485 C20.5892979,7.416435 16.9941419,3.65779195 12.4547923,3.42197181 L12.2270503,3.41312898 L12.0000775,3.40941051 Z M17.0558921,12.8009559 C17.4258227,12.9117563 17.6476445,13.2823816 17.5818223,13.6535081 L17.5614629,13.7390436 L17.4979378,13.9382714 C16.6968723,16.3074657 14.5126908,17.8851656 11.9997515,17.8851656 C9.41682406,17.8851656 7.18096468,16.2184177 6.43802004,13.738977 C6.31876474,13.3408182 6.54531128,12.920486 6.94187788,12.8013281 C7.33809555,12.6791182 7.76149196,12.9070702 7.88162418,13.3060124 C8.43240219,15.1437374 10.0869118,16.377559 11.9997515,16.377559 C13.9124136,16.377559 15.5665606,15.1439031 16.1178498,13.3061092 C16.1754683,13.1134072 16.3053041,12.9538946 16.4825719,12.8581964 C16.6591558,12.7635065 16.8641152,12.7432302 17.0558921,12.8009559 Z M8.70774842,7.90616488 L8.8265066,7.91074162 C9.61029436,7.97138855 10.2278902,8.62721933 10.2278902,9.42681484 C10.2278902,10.2659696 9.54690317,10.9469566 8.70774842,10.9469566 C7.86825193,10.9469566 7.18760664,10.2661361 7.18760664,9.42681484 C7.18760664,8.62706072 7.80489252,7.97137344 8.58894596,7.91074054 L8.70774842,7.90616488 Z M15.2917545,7.90616488 L15.410557,7.91074054 C16.1946104,7.97137344 16.8118963,8.62706072 16.8118963,9.42681484 C16.8118963,10.2661361 16.131251,10.9469566 15.2917545,10.9469566 C14.4525998,10.9469566 13.7716127,10.2659696 13.7716127,9.42681484 C13.7716127,8.62721933 14.3892086,7.97138855 15.1729963,7.91074162 L15.2917545,7.90616488 Z' %3E%3C/path%3E%3C/svg%3E") !important;
    cursor: default !important;
  }
}

.btn-icon-add {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 16 16' fill='%236B7884'%3E%3Cpath d='M7.89058962,1.33922211 C7.38752841,1.39370791 6.99640206,1.81959589 6.99640206,2.33693127 L6.99610215,6.99610215 L2.33693127,6.99640206 C1.78233041,6.99640206 1.33333333,7.4457121 1.33333333,8 L1.33921821,8.10935585 C1.39366896,8.61219898 1.8193038,9.00359794 2.33693127,9.00359794 L6.99610215,9.00295699 L6.99640206,13.6630687 C6.99640206,14.2173566 7.44539914,14.6666667 8,14.6666667 L8.10941038,14.6607779 C8.61247159,14.6062921 9.00359794,14.1804041 9.00359794,13.6630687 L9.00295699,9.00295699 L13.6630687,9.00359794 C14.2176696,9.00359794 14.6666667,8.5542879 14.6666667,8 L14.6607818,7.89064415 C14.606331,7.38780102 14.1806962,6.99640206 13.6630687,6.99640206 L9.00295699,6.99610215 L9.00359794,2.33693127 C9.00359794,1.78264337 8.55460086,1.33333333 8,1.33333333 L7.89058962,1.33922211 Z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 16 16' fill='%2333475B'%3E%3Cpath d='M7.89058962,1.33922211 C7.38752841,1.39370791 6.99640206,1.81959589 6.99640206,2.33693127 L6.99610215,6.99610215 L2.33693127,6.99640206 C1.78233041,6.99640206 1.33333333,7.4457121 1.33333333,8 L1.33921821,8.10935585 C1.39366896,8.61219898 1.8193038,9.00359794 2.33693127,9.00359794 L6.99610215,9.00295699 L6.99640206,13.6630687 C6.99640206,14.2173566 7.44539914,14.6666667 8,14.6666667 L8.10941038,14.6607779 C8.61247159,14.6062921 9.00359794,14.1804041 9.00359794,13.6630687 L9.00295699,9.00295699 L13.6630687,9.00359794 C14.2176696,9.00359794 14.6666667,8.5542879 14.6666667,8 L14.6607818,7.89064415 C14.606331,7.38780102 14.1806962,6.99640206 13.6630687,6.99640206 L9.00295699,6.99610215 L9.00359794,2.33693127 C9.00359794,1.78264337 8.55460086,1.33333333 8,1.33333333 L7.89058962,1.33922211 Z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.btn-icon-clip {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' title='Files' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884' %3E%3Cpath d='M20.2451634,4.75485609 C17.9052381,2.41493078 14.1183576,2.41516516 11.7787057,4.75485609 L3.3640059,13.1695559 C1.54533137,14.9881914 1.54533137,17.9473754 3.3640059,19.76605 C5.18314919,21.5852323 8.14237228,21.5841776 9.96049994,19.76605 L18.3751998,11.3513501 C19.6783267,10.0482232 19.6783267,7.92790761 18.3751998,6.6247807 C17.0721119,5.32161473 14.9517573,5.32161473 13.6486303,6.6247807 L6.47178389,13.8016272 C6.19932256,14.0740885 6.19932256,14.515886 6.47178389,14.7883083 C6.74424523,15.0607696 7.18604275,15.0607696 7.45846503,14.7883083 L14.6353115,7.61146183 C15.3943751,6.85239822 16.629455,6.85239822 17.3884796,7.61146183 C18.1475041,8.37052545 18.1475041,9.60560538 17.3884796,10.3646299 L8.97381881,18.7793688 C7.69608256,20.0571051 5.62826703,20.0569488 4.35068704,18.7793688 C3.73326426,18.161946 3.3932247,17.3410464 3.3932247,16.467842 C3.3932247,15.5946376 3.73330332,14.773738 4.35068704,14.1562761 L12.7653869,5.74153722 C14.5599207,3.94700334 17.4641047,3.94723772 19.2584432,5.74153722 C21.0485631,7.53169609 21.0485631,10.4444738 19.2584432,12.2345936 L15.518555,15.9744819 C15.2460936,16.2469432 15.2460936,16.6887017 15.518555,16.961163 C15.7910163,17.2336244 16.2328138,17.2336244 16.5052361,16.961163 L20.2451244,13.2212747 C22.5850887,10.8814276 22.5848153,7.09446889 20.2451634,4.75485609 Z' %3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' title='Files' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B' %3E%3Cpath d='M20.2451634,4.75485609 C17.9052381,2.41493078 14.1183576,2.41516516 11.7787057,4.75485609 L3.3640059,13.1695559 C1.54533137,14.9881914 1.54533137,17.9473754 3.3640059,19.76605 C5.18314919,21.5852323 8.14237228,21.5841776 9.96049994,19.76605 L18.3751998,11.3513501 C19.6783267,10.0482232 19.6783267,7.92790761 18.3751998,6.6247807 C17.0721119,5.32161473 14.9517573,5.32161473 13.6486303,6.6247807 L6.47178389,13.8016272 C6.19932256,14.0740885 6.19932256,14.515886 6.47178389,14.7883083 C6.74424523,15.0607696 7.18604275,15.0607696 7.45846503,14.7883083 L14.6353115,7.61146183 C15.3943751,6.85239822 16.629455,6.85239822 17.3884796,7.61146183 C18.1475041,8.37052545 18.1475041,9.60560538 17.3884796,10.3646299 L8.97381881,18.7793688 C7.69608256,20.0571051 5.62826703,20.0569488 4.35068704,18.7793688 C3.73326426,18.161946 3.3932247,17.3410464 3.3932247,16.467842 C3.3932247,15.5946376 3.73330332,14.773738 4.35068704,14.1562761 L12.7653869,5.74153722 C14.5599207,3.94700334 17.4641047,3.94723772 19.2584432,5.74153722 C21.0485631,7.53169609 21.0485631,10.4444738 19.2584432,12.2345936 L15.518555,15.9744819 C15.2460936,16.2469432 15.2460936,16.6887017 15.518555,16.961163 C15.7910163,17.2336244 16.2328138,17.2336244 16.5052361,16.961163 L20.2451244,13.2212747 C22.5850887,10.8814276 22.5848153,7.09446889 20.2451634,4.75485609 Z' %3E%3C/path%3E%3C/svg%3E");
  }
}

.btn-icon-send-message {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' %3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' %3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-560.000000, -216.000000)' fill='%236B7884' %3E%3Cg id='ic/send_message' transform='translate(560.000000, 216.000000)' %3E%3Cpolygon id='Path' points='2.00950893 3.43 2 10.0966518 16.2857143 12.0014286 2 13.9062054 2.00950893 20.5728571 22 12.0014286' %3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 24px 24px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' %3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' %3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-560.000000, -216.000000)' fill='%2333475B' %3E%3Cg id='ic/send_message' transform='translate(560.000000, 216.000000)' %3E%3Cpolygon id='Path' points='2.00950893 3.43 2 10.0966518 16.2857143 12.0014286 2 13.9062054 2.00950893 20.5728571 22 12.0014286' %3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.btn-icon-dot {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='%236B7884' viewBox='0 0 24 24' %3E%3Cpath d='M11.944,17.112 C13.0176416,17.112 13.888,17.9823584 13.888,19.056 C13.888,20.1296416 13.0176416,21 11.944,21 C10.8703584,21 10,20.1296416 10,19.056 C10,17.9823584 10.8703584,17.112 11.944,17.112 Z M11.944,10.056 C13.0176416,10.056 13.888,10.9263584 13.888,12 C13.888,13.0736416 13.0176416,13.944 11.944,13.944 C10.8703584,13.944 10,13.0736416 10,12 C10,10.9263584 10.8703584,10.056 11.944,10.056 Z M11.944,3 C13.0176416,3 13.888,3.87035845 13.888,4.944 C13.888,6.01764155 13.0176416,6.888 11.944,6.888 C10.8703584,6.888 10,6.01764155 10,4.944 C10,3.87035845 10.8703584,3 11.944,3 Z' %3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 24px 24px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='%2333475B' viewBox='0 0 24 24' %3E%3Cpath d='M11.944,17.112 C13.0176416,17.112 13.888,17.9823584 13.888,19.056 C13.888,20.1296416 13.0176416,21 11.944,21 C10.8703584,21 10,20.1296416 10,19.056 C10,17.9823584 10.8703584,17.112 11.944,17.112 Z M11.944,10.056 C13.0176416,10.056 13.888,10.9263584 13.888,12 C13.888,13.0736416 13.0176416,13.944 11.944,13.944 C10.8703584,13.944 10,13.0736416 10,12 C10,10.9263584 10.8703584,10.056 11.944,10.056 Z M11.944,3 C13.0176416,3 13.888,3.87035845 13.888,4.944 C13.888,6.01764155 13.0176416,6.888 11.944,6.888 C10.8703584,6.888 10,6.01764155 10,4.944 C10,3.87035845 10.8703584,3 11.944,3 Z' %3E%3C/path%3E%3C/svg%3E");
  }
}

.btn-icon-chat {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884' %3E%3Cpath d='M20.3678983,7.87723612 C20.8023125,7.87256326 21.2202478,8.04578892 21.5268923,8.35752561 C21.6791883,8.5122306 21.798478,8.69536196 21.8801716,8.90027651 L21.9343208,9.05794298 L21.9724619,9.21956633 L21.9941915,9.3826494 L22,9.52901751 L22,17.5339275 C22,18.2391301 21.5772361,18.8611831 20.9459755,19.1084041 L20.8075922,19.1555366 L20.6545327,19.1915973 L20.5074309,19.2113181 L20.3708809,19.2173446 L19.9639153,19.215929 L19.966151,20.4904927 C19.9669578,20.6520014 19.9171527,20.8060404 19.8252285,20.9348056 L19.7485207,21.0263625 L19.6568145,21.1067727 L19.5560186,21.1694502 L19.4430526,21.2169262 L19.3281523,21.2435535 L19.230367,21.2518121 L19.1472507,21.2493784 L19.0598175,21.2360204 L18.9721393,21.2114777 L18.858911,21.1616132 L18.7750597,21.1084898 L16.3505151,19.2173449 L10.8832737,19.2173449 C10.1907832,19.2173449 9.57739755,18.7752734 9.33439585,18.1228227 L9.28809935,17.9798762 L9.25284492,17.8226423 L9.23362964,17.6724182 L9.22777789,17.5339275 L9.22777789,16.3545901 C9.22777789,15.9366454 9.56178646,15.5969094 9.9751239,15.5969094 C10.2195939,15.5969094 10.4429669,15.7173446 10.5845713,15.9215317 L10.6400757,16.0140612 L10.6867718,16.1279892 L10.7142124,16.2473769 L10.7224699,16.3546041 L10.722308,17.5285267 C10.7235343,17.5661128 10.7361962,17.6027431 10.753055,17.6299467 L10.7805861,17.662623 L10.8108148,17.6832097 L10.8384959,17.6953602 L10.8878111,17.7019833 L16.4978852,17.701984 L16.5775598,17.7061992 L16.6610722,17.7200085 L16.7449064,17.7435735 L16.8550937,17.7906963 L16.9433865,17.8444755 L18.4660413,18.9872948 L18.4675027,18.4400246 L18.4798948,18.3214335 L18.51103,18.2054243 L18.5615827,18.0916101 L18.6255747,17.9936359 L18.6922671,17.9174491 C18.730585,17.8794988 18.7723837,17.846269 18.8200549,17.8167729 L18.896265,17.7752056 L19.0140454,17.7308205 L19.1319603,17.7071703 L19.2210292,17.7019833 L20.3444627,17.7019833 C20.3774724,17.7019833 20.410704,17.690338 20.4354989,17.6742878 L20.4652814,17.6478141 L20.4855919,17.6146107 L20.4947746,17.5933341 L20.5008257,17.5384533 L20.5009131,9.5217226 C20.5014602,9.49889366 20.4958457,9.4766239 20.4872429,9.45927835 L20.472494,9.43749878 L20.440754,9.40887279 L20.424534,9.40025384 L20.3712043,9.39737318 L19.1462109,9.39737318 C18.901673,9.39737318 18.6783029,9.27696271 18.5367204,9.07276992 L18.4812263,8.98023598 L18.4345443,8.86630059 L18.4071177,8.74691391 L18.3988648,8.63969241 C18.3988648,8.39106981 18.5160833,8.16393798 18.7167271,8.01924147 L18.8077264,7.96245343 L18.920787,7.91426748 L19.0398107,7.88588596 L19.1462114,7.87723612 L20.3678983,7.87723612 Z M15.9679444,3 C16.6639074,3 17.2750508,3.42946335 17.5171128,4.07013454 L17.5632305,4.21057446 L17.5983897,4.36547527 L17.6175782,4.51397089 L17.6234402,4.65154957 L17.6234402,13.2308046 C17.6186067,13.9326197 17.1858347,14.5493577 16.5458627,14.7925286 L16.4056349,14.8388137 L16.2509981,14.8739897 L16.1030689,14.8929629 L15.9671109,14.8984464 L8.79133453,14.8377121 L6.03345408,16.922268 C5.90398578,17.0205128 5.74656226,17.0743564 5.58806615,17.075038 C5.46700079,17.0769185 5.34602216,17.046142 5.2520323,16.9907795 C5.14438983,16.9349249 5.05368864,16.854106 4.98403125,16.7509692 L4.9215404,16.6404911 L4.87834654,16.5224664 L4.85563339,16.4032149 L4.85125959,16.3148804 L4.85055843,14.8964534 L3.62919388,14.8984483 C3.52543652,14.8984483 3.42236256,14.8883781 3.32057825,14.8682463 L3.1689448,14.8305036 L3.01970051,14.7776751 L2.87751355,14.7109516 L2.71000859,14.6093038 L2.58183625,14.5104445 L2.47016646,14.4060425 C2.32449731,14.2559428 2.20929862,14.0800126 2.12832345,13.8831751 L2.07406763,13.7317039 L2.02728747,13.5388032 L2.00594835,13.3753993 L2.00011051,13.2287098 L2.00011051,4.65521331 C1.99504706,4.21520213 2.16417481,3.79156272 2.46970258,3.47999758 C2.62218792,3.32461951 2.80284305,3.20308563 3.0052377,3.12013048 L3.16100938,3.0652216 L3.32083756,3.02675889 L3.48204436,3.00522959 L3.62465651,3 L15.9679444,3 Z M16.0249385,4.52595313 L15.948912,4.51915433 L3.60952086,4.51980909 C3.58901128,4.51915433 3.56881819,4.52415804 3.55298676,4.53213229 L3.53301649,4.54588996 L3.50327139,4.58056552 L3.49400519,4.60056856 L3.49055156,4.65154957 L3.49055156,13.2256701 C3.4908482,13.2553796 3.49797766,13.2833506 3.50833236,13.3048483 L3.5258324,13.3316482 L3.56141557,13.3639999 L3.58195341,13.3740336 L3.62465689,13.3785599 L5.5850797,13.3785674 C5.83013028,13.3802974 6.05420444,13.499997 6.19894152,13.7028442 L6.25594418,13.7947679 L6.30482129,13.9081212 L6.33500937,14.0278938 L6.34604811,14.1432179 L6.34522734,14.8002988 L8.00950234,13.5365434 C8.03132113,13.5189477 8.05389906,13.5028536 8.07818645,13.4878339 L8.15712731,13.4455705 L8.24320302,13.4124957 L8.36471573,13.3851952 L8.45801808,13.3785599 L15.9724441,13.3785937 C16.0037968,13.379065 16.0352213,13.3690067 16.0585992,13.355086 L16.0866164,13.3321416 L16.1058317,13.3042923 L16.1176761,13.2774678 L16.1243074,13.2287098 L16.1243074,4.65154957 C16.1243074,4.61822767 16.1120824,4.58802222 16.0945853,4.56671065 L16.0652545,4.54213585 L16.0249385,4.52595313 Z' %3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 22px 22px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B' %3E%3Cpath d='M20.3678983,7.87723612 C20.8023125,7.87256326 21.2202478,8.04578892 21.5268923,8.35752561 C21.6791883,8.5122306 21.798478,8.69536196 21.8801716,8.90027651 L21.9343208,9.05794298 L21.9724619,9.21956633 L21.9941915,9.3826494 L22,9.52901751 L22,17.5339275 C22,18.2391301 21.5772361,18.8611831 20.9459755,19.1084041 L20.8075922,19.1555366 L20.6545327,19.1915973 L20.5074309,19.2113181 L20.3708809,19.2173446 L19.9639153,19.215929 L19.966151,20.4904927 C19.9669578,20.6520014 19.9171527,20.8060404 19.8252285,20.9348056 L19.7485207,21.0263625 L19.6568145,21.1067727 L19.5560186,21.1694502 L19.4430526,21.2169262 L19.3281523,21.2435535 L19.230367,21.2518121 L19.1472507,21.2493784 L19.0598175,21.2360204 L18.9721393,21.2114777 L18.858911,21.1616132 L18.7750597,21.1084898 L16.3505151,19.2173449 L10.8832737,19.2173449 C10.1907832,19.2173449 9.57739755,18.7752734 9.33439585,18.1228227 L9.28809935,17.9798762 L9.25284492,17.8226423 L9.23362964,17.6724182 L9.22777789,17.5339275 L9.22777789,16.3545901 C9.22777789,15.9366454 9.56178646,15.5969094 9.9751239,15.5969094 C10.2195939,15.5969094 10.4429669,15.7173446 10.5845713,15.9215317 L10.6400757,16.0140612 L10.6867718,16.1279892 L10.7142124,16.2473769 L10.7224699,16.3546041 L10.722308,17.5285267 C10.7235343,17.5661128 10.7361962,17.6027431 10.753055,17.6299467 L10.7805861,17.662623 L10.8108148,17.6832097 L10.8384959,17.6953602 L10.8878111,17.7019833 L16.4978852,17.701984 L16.5775598,17.7061992 L16.6610722,17.7200085 L16.7449064,17.7435735 L16.8550937,17.7906963 L16.9433865,17.8444755 L18.4660413,18.9872948 L18.4675027,18.4400246 L18.4798948,18.3214335 L18.51103,18.2054243 L18.5615827,18.0916101 L18.6255747,17.9936359 L18.6922671,17.9174491 C18.730585,17.8794988 18.7723837,17.846269 18.8200549,17.8167729 L18.896265,17.7752056 L19.0140454,17.7308205 L19.1319603,17.7071703 L19.2210292,17.7019833 L20.3444627,17.7019833 C20.3774724,17.7019833 20.410704,17.690338 20.4354989,17.6742878 L20.4652814,17.6478141 L20.4855919,17.6146107 L20.4947746,17.5933341 L20.5008257,17.5384533 L20.5009131,9.5217226 C20.5014602,9.49889366 20.4958457,9.4766239 20.4872429,9.45927835 L20.472494,9.43749878 L20.440754,9.40887279 L20.424534,9.40025384 L20.3712043,9.39737318 L19.1462109,9.39737318 C18.901673,9.39737318 18.6783029,9.27696271 18.5367204,9.07276992 L18.4812263,8.98023598 L18.4345443,8.86630059 L18.4071177,8.74691391 L18.3988648,8.63969241 C18.3988648,8.39106981 18.5160833,8.16393798 18.7167271,8.01924147 L18.8077264,7.96245343 L18.920787,7.91426748 L19.0398107,7.88588596 L19.1462114,7.87723612 L20.3678983,7.87723612 Z M15.9679444,3 C16.6639074,3 17.2750508,3.42946335 17.5171128,4.07013454 L17.5632305,4.21057446 L17.5983897,4.36547527 L17.6175782,4.51397089 L17.6234402,4.65154957 L17.6234402,13.2308046 C17.6186067,13.9326197 17.1858347,14.5493577 16.5458627,14.7925286 L16.4056349,14.8388137 L16.2509981,14.8739897 L16.1030689,14.8929629 L15.9671109,14.8984464 L8.79133453,14.8377121 L6.03345408,16.922268 C5.90398578,17.0205128 5.74656226,17.0743564 5.58806615,17.075038 C5.46700079,17.0769185 5.34602216,17.046142 5.2520323,16.9907795 C5.14438983,16.9349249 5.05368864,16.854106 4.98403125,16.7509692 L4.9215404,16.6404911 L4.87834654,16.5224664 L4.85563339,16.4032149 L4.85125959,16.3148804 L4.85055843,14.8964534 L3.62919388,14.8984483 C3.52543652,14.8984483 3.42236256,14.8883781 3.32057825,14.8682463 L3.1689448,14.8305036 L3.01970051,14.7776751 L2.87751355,14.7109516 L2.71000859,14.6093038 L2.58183625,14.5104445 L2.47016646,14.4060425 C2.32449731,14.2559428 2.20929862,14.0800126 2.12832345,13.8831751 L2.07406763,13.7317039 L2.02728747,13.5388032 L2.00594835,13.3753993 L2.00011051,13.2287098 L2.00011051,4.65521331 C1.99504706,4.21520213 2.16417481,3.79156272 2.46970258,3.47999758 C2.62218792,3.32461951 2.80284305,3.20308563 3.0052377,3.12013048 L3.16100938,3.0652216 L3.32083756,3.02675889 L3.48204436,3.00522959 L3.62465651,3 L15.9679444,3 Z M16.0249385,4.52595313 L15.948912,4.51915433 L3.60952086,4.51980909 C3.58901128,4.51915433 3.56881819,4.52415804 3.55298676,4.53213229 L3.53301649,4.54588996 L3.50327139,4.58056552 L3.49400519,4.60056856 L3.49055156,4.65154957 L3.49055156,13.2256701 C3.4908482,13.2553796 3.49797766,13.2833506 3.50833236,13.3048483 L3.5258324,13.3316482 L3.56141557,13.3639999 L3.58195341,13.3740336 L3.62465689,13.3785599 L5.5850797,13.3785674 C5.83013028,13.3802974 6.05420444,13.499997 6.19894152,13.7028442 L6.25594418,13.7947679 L6.30482129,13.9081212 L6.33500937,14.0278938 L6.34604811,14.1432179 L6.34522734,14.8002988 L8.00950234,13.5365434 C8.03132113,13.5189477 8.05389906,13.5028536 8.07818645,13.4878339 L8.15712731,13.4455705 L8.24320302,13.4124957 L8.36471573,13.3851952 L8.45801808,13.3785599 L15.9724441,13.3785937 C16.0037968,13.379065 16.0352213,13.3690067 16.0585992,13.355086 L16.0866164,13.3321416 L16.1058317,13.3042923 L16.1176761,13.2774678 L16.1243074,13.2287098 L16.1243074,4.65154957 C16.1243074,4.61822767 16.1120824,4.58802222 16.0945853,4.56671065 L16.0652545,4.54213585 L16.0249385,4.52595313 Z' %3E%3C/path%3E%3C/svg%3E");
  }
}

.btn-icon-edit {
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBB0AB29D-FD98-412F-B517-158D0E2ADC46%3C/title%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-320.000000, -456.000000)' fill='%236B7884'%3E%3Cg id='ic/edit_line' transform='translate(320.000000, 456.000000)'%3E%3Cpath d='M19.8255944,20.1511889 C20.3361295,20.1511889 20.75,20.5650593 20.75,21.0755944 C20.75,21.5861295 20.3361295,22 19.8255944,22 L4.17440557,22 C3.66387047,22 3.25,21.5861295 3.25,21.0755944 C3.25,20.5650593 3.66387047,20.1511889 4.17440557,20.1511889 L19.8255944,20.1511889 Z M14.5070058,2.33316721 C15.0521621,1.79536105 15.9282656,1.79536105 16.4734218,2.33316721 L16.4734218,2.33316721 L19.8241222,5.63869144 C19.8286317,5.64314011 19.8331109,5.64761933 19.8375596,5.6521288 C20.3805703,6.20256084 20.3745542,7.0889714 19.8241222,7.63198219 L19.8241222,7.63198219 L9.5024727,17.8144691 C9.24048906,18.0729205 8.88727633,18.2178237 8.51926469,18.2178237 L8.51926469,18.2178237 L4.74943074,18.2178237 C4.19714599,18.2178237 3.74943074,17.7701085 3.74943074,17.2178237 L3.74943074,17.2178237 L3.74943074,13.5311751 C3.74943074,13.1565783 3.8995512,12.7976058 4.16622272,12.5345297 L4.16622272,12.5345297 Z M15.7709355,4.49475393 C15.6151766,4.34109503 15.3648613,4.34109503 15.2091024,4.49475393 L15.2091024,4.49475393 L6.09325087,13.4877001 C5.90277122,13.6756116 5.79554231,13.9320206 5.79554231,14.1995897 L5.79554231,14.1995897 L5.79554231,15.7985781 C5.79554231,16.019492 5.97462841,16.1985781 6.19554231,16.1985781 L6.19554231,16.1985781 L7.8355175,16.1985781 C8.09838295,16.1985781 8.35067776,16.0950758 8.53780893,15.9104677 L8.53780893,15.9104677 L17.65159,6.91956397 L17.65159,6.91956397 C17.8105752,6.75845843 17.8088563,6.50519827 17.65159,6.35005233 L17.65159,6.35005233 Z' id='Combined-Shape-Copy-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBB0AB29D-FD98-412F-B517-158D0E2ADC46%3C/title%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-320.000000, -456.000000)' fill='%2333475B'%3E%3Cg id='ic/edit_line' transform='translate(320.000000, 456.000000)'%3E%3Cpath d='M19.8255944,20.1511889 C20.3361295,20.1511889 20.75,20.5650593 20.75,21.0755944 C20.75,21.5861295 20.3361295,22 19.8255944,22 L4.17440557,22 C3.66387047,22 3.25,21.5861295 3.25,21.0755944 C3.25,20.5650593 3.66387047,20.1511889 4.17440557,20.1511889 L19.8255944,20.1511889 Z M14.5070058,2.33316721 C15.0521621,1.79536105 15.9282656,1.79536105 16.4734218,2.33316721 L16.4734218,2.33316721 L19.8241222,5.63869144 C19.8286317,5.64314011 19.8331109,5.64761933 19.8375596,5.6521288 C20.3805703,6.20256084 20.3745542,7.0889714 19.8241222,7.63198219 L19.8241222,7.63198219 L9.5024727,17.8144691 C9.24048906,18.0729205 8.88727633,18.2178237 8.51926469,18.2178237 L8.51926469,18.2178237 L4.74943074,18.2178237 C4.19714599,18.2178237 3.74943074,17.7701085 3.74943074,17.2178237 L3.74943074,17.2178237 L3.74943074,13.5311751 C3.74943074,13.1565783 3.8995512,12.7976058 4.16622272,12.5345297 L4.16622272,12.5345297 Z M15.7709355,4.49475393 C15.6151766,4.34109503 15.3648613,4.34109503 15.2091024,4.49475393 L15.2091024,4.49475393 L6.09325087,13.4877001 C5.90277122,13.6756116 5.79554231,13.9320206 5.79554231,14.1995897 L5.79554231,14.1995897 L5.79554231,15.7985781 C5.79554231,16.019492 5.97462841,16.1985781 6.19554231,16.1985781 L6.19554231,16.1985781 L7.8355175,16.1985781 C8.09838295,16.1985781 8.35067776,16.0950758 8.53780893,15.9104677 L8.53780893,15.9104677 L17.65159,6.91956397 L17.65159,6.91956397 C17.8105752,6.75845843 17.8088563,6.50519827 17.65159,6.35005233 L17.65159,6.35005233 Z' id='Combined-Shape-Copy-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.btn-icon-delete {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBC061DAC-1E89-426B-8082-AA27B5781E61%3C/title%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-416.000000, -168.000000)' fill='%236B7884'%3E%3Cg id='ic/delete' transform='translate(416.000000, 168.000000)'%3E%3Cpath d='M14.0454962,2.18 C14.3862965,2.18 14.7231117,2.29073437 15.0556283,2.51229267 C15.3878314,2.73389575 15.617987,3.0023807 15.7457815,3.31779232 L15.7457815,3.31779232 L16.6406567,5.45259698 L20.5910931,5.45259698 C20.7102904,5.45259698 20.8083528,5.49106072 20.8849668,5.5675852 C20.9614466,5.64428879 21,5.74235118 21,5.86163802 L21,5.86163802 L21,6.67989921 C21,6.79918606 20.9614018,6.89729322 20.8849221,6.9738177 C20.8083528,7.05047651 20.7102456,7.08880592 20.5910484,7.08880592 L20.5910484,7.08880592 L19.3636566,7.08880592 L19.3636566,19.2083315 C19.3636566,19.9156792 19.1635018,20.527069 18.7629685,21.042904 C18.3623904,21.5583808 17.8808996,21.8161192 17.3182275,21.8161192 L17.3182275,21.8161192 L6.68172758,21.8161192 C6.1191898,21.8161192 5.63765424,21.5669781 5.23703134,21.0682032 C4.836498,20.5697418 4.63620894,19.9669045 4.63620894,19.2592881 L4.63620894,19.2592881 L4.63620894,7.08880592 L3.40904104,7.08880592 C3.28979897,7.08880592 3.19173659,7.05047651 3.11498822,6.9738177 C3.03828463,6.89724844 3,6.79918606 3,6.67989921 L3,6.67989921 L3,5.86163802 C3,5.74235118 3.03846374,5.64428879 3.11498822,5.5675852 C3.19173659,5.49106072 3.28961986,5.45259698 3.40904104,5.45259698 L3.40904104,5.45259698 L7.35929835,5.45259698 L8.25417358,3.31779232 C8.38205767,3.00233593 8.61216844,2.73389575 8.94459545,2.51229267 C9.27697767,2.29073437 9.6137033,2.18 9.95450367,2.18 L9.95450367,2.18 Z M17.7274476,7.08880592 L6.27268654,7.08880592 L6.27268654,19.208421 C6.27268654,19.3956799 6.30250825,19.5685204 6.36210689,19.7260919 C6.42179509,19.8836186 6.48363261,19.9986964 6.54761943,20.0711461 C6.61169581,20.143775 6.65620449,20.1798207 6.68177236,20.1798207 L6.68177236,20.1798207 L17.3182723,20.1798207 C17.3440192,20.1798207 17.3884384,20.143775 17.4525147,20.0711461 C17.5162777,19.9986964 17.5782048,19.8836186 17.6379377,19.7260919 C17.6977155,19.5685204 17.7274476,19.395859 17.7274476,19.208421 L17.7274476,19.208421 L17.7274476,7.08880592 Z M9.13637681,9.54358949 C9.25584277,9.54358949 9.35368126,9.58191889 9.43042963,9.65844338 C9.50695411,9.73519174 9.54541785,9.83325413 9.54541785,9.9524962 L9.54541785,9.9524962 L9.54541785,17.3163096 C9.54541785,17.4358203 9.50695411,17.5335692 9.43042963,17.6104967 C9.35390515,17.6871555 9.25579799,17.7254402 9.13637681,17.7254402 L9.13637681,17.7254402 L8.31824996,17.7254402 C8.19882878,17.7254402 8.10090073,17.6871108 8.02419714,17.6104967 C7.94744877,17.533614 7.90920892,17.4358203 7.90920892,17.3163096 L7.90920892,17.3163096 L7.90920892,9.9524962 C7.90920892,9.83325413 7.9475831,9.73519174 8.02419714,9.65844338 C8.10090073,9.58187412 8.19882878,9.54358949 8.31824996,9.54358949 L8.31824996,9.54358949 Z M12.4091081,9.54358949 C12.5284845,9.54358949 12.6265469,9.58191889 12.7030266,9.65844338 C12.7799093,9.73519174 12.8180596,9.83325413 12.8180596,9.9524962 L12.8180596,9.9524962 L12.8180596,17.3163096 C12.8180596,17.4358203 12.7799541,17.5335692 12.7030266,17.6104967 C12.6265469,17.6871555 12.5284845,17.7254402 12.4091081,17.7254402 L12.4091081,17.7254402 L11.5909813,17.7254402 C11.4716944,17.7254402 11.3735873,17.6871108 11.2969285,17.6104967 C11.2201801,17.533614 11.1819402,17.4358203 11.1819402,17.3163096 L11.1819402,17.3163096 L11.1819402,9.9524962 C11.1819402,9.83325413 11.2201801,9.73519174 11.2969285,9.65844338 C11.373632,9.58187412 11.4716944,9.54358949 11.5909813,9.54358949 L11.5909813,9.54358949 Z M15.6817947,9.54358949 C15.8013054,9.54358949 15.8993678,9.58191889 15.9759818,9.65844338 C16.0525511,9.73519174 16.0907014,9.83325413 16.0907014,9.9524962 L16.0907014,9.9524962 L16.0907014,17.3163096 C16.0907014,17.4358203 16.0525959,17.5335692 15.9759818,17.6104967 C15.8993678,17.6871555 15.8013054,17.7254402 15.6817947,17.7254402 L15.6817947,17.7254402 L14.8638021,17.7254402 C14.7442466,17.7254402 14.6464977,17.6871108 14.5695702,17.6104967 C14.4929562,17.533614 14.4546715,17.4358203 14.4546715,17.3163096 L14.4546715,17.3163096 L14.4546715,9.9524962 C14.4546715,9.83325413 14.4929562,9.73519174 14.5695702,9.65844338 C14.6464977,9.58187412 14.7442466,9.54358949 14.8638021,9.54358949 L14.8638021,9.54358949 Z M14.0326451,3.8160746 L9.98011631,3.8160746 C9.89490502,3.83300044 9.8224105,3.88001665 9.76281186,3.95667547 L9.76281186,3.95667547 L9.13637681,5.45241787 L14.8638469,5.45241787 L14.2499943,3.95667547 C14.1904852,3.88010621 14.1178564,3.83313477 14.0326451,3.8160746 L14.0326451,3.8160746 Z' id='Combined-Shape-Copy-9'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBC061DAC-1E89-426B-8082-AA27B5781E61%3C/title%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-416.000000, -168.000000)' fill='%2333475B'%3E%3Cg id='ic/delete' transform='translate(416.000000, 168.000000)'%3E%3Cpath d='M14.0454962,2.18 C14.3862965,2.18 14.7231117,2.29073437 15.0556283,2.51229267 C15.3878314,2.73389575 15.617987,3.0023807 15.7457815,3.31779232 L15.7457815,3.31779232 L16.6406567,5.45259698 L20.5910931,5.45259698 C20.7102904,5.45259698 20.8083528,5.49106072 20.8849668,5.5675852 C20.9614466,5.64428879 21,5.74235118 21,5.86163802 L21,5.86163802 L21,6.67989921 C21,6.79918606 20.9614018,6.89729322 20.8849221,6.9738177 C20.8083528,7.05047651 20.7102456,7.08880592 20.5910484,7.08880592 L20.5910484,7.08880592 L19.3636566,7.08880592 L19.3636566,19.2083315 C19.3636566,19.9156792 19.1635018,20.527069 18.7629685,21.042904 C18.3623904,21.5583808 17.8808996,21.8161192 17.3182275,21.8161192 L17.3182275,21.8161192 L6.68172758,21.8161192 C6.1191898,21.8161192 5.63765424,21.5669781 5.23703134,21.0682032 C4.836498,20.5697418 4.63620894,19.9669045 4.63620894,19.2592881 L4.63620894,19.2592881 L4.63620894,7.08880592 L3.40904104,7.08880592 C3.28979897,7.08880592 3.19173659,7.05047651 3.11498822,6.9738177 C3.03828463,6.89724844 3,6.79918606 3,6.67989921 L3,6.67989921 L3,5.86163802 C3,5.74235118 3.03846374,5.64428879 3.11498822,5.5675852 C3.19173659,5.49106072 3.28961986,5.45259698 3.40904104,5.45259698 L3.40904104,5.45259698 L7.35929835,5.45259698 L8.25417358,3.31779232 C8.38205767,3.00233593 8.61216844,2.73389575 8.94459545,2.51229267 C9.27697767,2.29073437 9.6137033,2.18 9.95450367,2.18 L9.95450367,2.18 Z M17.7274476,7.08880592 L6.27268654,7.08880592 L6.27268654,19.208421 C6.27268654,19.3956799 6.30250825,19.5685204 6.36210689,19.7260919 C6.42179509,19.8836186 6.48363261,19.9986964 6.54761943,20.0711461 C6.61169581,20.143775 6.65620449,20.1798207 6.68177236,20.1798207 L6.68177236,20.1798207 L17.3182723,20.1798207 C17.3440192,20.1798207 17.3884384,20.143775 17.4525147,20.0711461 C17.5162777,19.9986964 17.5782048,19.8836186 17.6379377,19.7260919 C17.6977155,19.5685204 17.7274476,19.395859 17.7274476,19.208421 L17.7274476,19.208421 L17.7274476,7.08880592 Z M9.13637681,9.54358949 C9.25584277,9.54358949 9.35368126,9.58191889 9.43042963,9.65844338 C9.50695411,9.73519174 9.54541785,9.83325413 9.54541785,9.9524962 L9.54541785,9.9524962 L9.54541785,17.3163096 C9.54541785,17.4358203 9.50695411,17.5335692 9.43042963,17.6104967 C9.35390515,17.6871555 9.25579799,17.7254402 9.13637681,17.7254402 L9.13637681,17.7254402 L8.31824996,17.7254402 C8.19882878,17.7254402 8.10090073,17.6871108 8.02419714,17.6104967 C7.94744877,17.533614 7.90920892,17.4358203 7.90920892,17.3163096 L7.90920892,17.3163096 L7.90920892,9.9524962 C7.90920892,9.83325413 7.9475831,9.73519174 8.02419714,9.65844338 C8.10090073,9.58187412 8.19882878,9.54358949 8.31824996,9.54358949 L8.31824996,9.54358949 Z M12.4091081,9.54358949 C12.5284845,9.54358949 12.6265469,9.58191889 12.7030266,9.65844338 C12.7799093,9.73519174 12.8180596,9.83325413 12.8180596,9.9524962 L12.8180596,9.9524962 L12.8180596,17.3163096 C12.8180596,17.4358203 12.7799541,17.5335692 12.7030266,17.6104967 C12.6265469,17.6871555 12.5284845,17.7254402 12.4091081,17.7254402 L12.4091081,17.7254402 L11.5909813,17.7254402 C11.4716944,17.7254402 11.3735873,17.6871108 11.2969285,17.6104967 C11.2201801,17.533614 11.1819402,17.4358203 11.1819402,17.3163096 L11.1819402,17.3163096 L11.1819402,9.9524962 C11.1819402,9.83325413 11.2201801,9.73519174 11.2969285,9.65844338 C11.373632,9.58187412 11.4716944,9.54358949 11.5909813,9.54358949 L11.5909813,9.54358949 Z M15.6817947,9.54358949 C15.8013054,9.54358949 15.8993678,9.58191889 15.9759818,9.65844338 C16.0525511,9.73519174 16.0907014,9.83325413 16.0907014,9.9524962 L16.0907014,9.9524962 L16.0907014,17.3163096 C16.0907014,17.4358203 16.0525959,17.5335692 15.9759818,17.6104967 C15.8993678,17.6871555 15.8013054,17.7254402 15.6817947,17.7254402 L15.6817947,17.7254402 L14.8638021,17.7254402 C14.7442466,17.7254402 14.6464977,17.6871108 14.5695702,17.6104967 C14.4929562,17.533614 14.4546715,17.4358203 14.4546715,17.3163096 L14.4546715,17.3163096 L14.4546715,9.9524962 C14.4546715,9.83325413 14.4929562,9.73519174 14.5695702,9.65844338 C14.6464977,9.58187412 14.7442466,9.54358949 14.8638021,9.54358949 L14.8638021,9.54358949 Z M14.0326451,3.8160746 L9.98011631,3.8160746 C9.89490502,3.83300044 9.8224105,3.88001665 9.76281186,3.95667547 L9.76281186,3.95667547 L9.13637681,5.45241787 L14.8638469,5.45241787 L14.2499943,3.95667547 C14.1904852,3.88010621 14.1178564,3.83313477 14.0326451,3.8160746 L14.0326451,3.8160746 Z' id='Combined-Shape-Copy-9'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.btn-icon-reinvite {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='%236B7884' viewBox='0 0 16 16' %3E%3Cpath fill-rule='evenodd' d='M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z' /%3E%3Cpath d='M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='%2333475B' viewBox='0 0 16 16' %3E%3Cpath fill-rule='evenodd' d='M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z' /%3E%3Cpath d='M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z' /%3E%3C/svg%3E");
  }
}

.btn-icon-folder {
  background-image: url("~assets/images/icons/file-management.svg");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 24px 24px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("~assets/images/icons/file-management.svg");
  }
}

.btn-icon-chat-import {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Outline' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23F0F2F3;fill-opacity:0;%7D .st2%7Bfill:%236B7884;stroke:%236B7884;stroke-width:0.25;stroke-miterlimit:10;%7D .st3%7Bfill:%236B7884;%7D .st4%7Bfill:%236B7884;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='9.9,21.7 9.9,8.2 15.5,8.2 15.5,13.1 20.1,13.1 20.1,21.8 9.9,21.8 '/%3E%3Cg id='Group_13610' transform='translate(-152.293 -125.981)'%3E%3Cpath id='Rectangle_7328' class='st1' d='M212.6,126L212.6,126c8.3,0,15,6.7,15,15l0,0c0,8.3-6.7,15-15,15l0,0c-8.3,0-15-6.7-15-15 l0,0C197.6,132.7,204.3,126,212.6,126z'/%3E%3Cg id='Group_13609' transform='translate(5.217 5.641)'%3E%3Cpath id='Path_7535' class='st2' d='M200.4,141.2c0,0.7,0.6,1.3,1.2,1.3h9.2c2,0,3.5-1.6,3.5-3.6c0-1.3-0.8-2.6-2-3.1v-5.1 c0-0.1,0-0.1-0.1-0.2l-3-3c0,0-0.1-0.1-0.2-0.1h-7.5c-0.7,0-1.3,0.6-1.2,1.3v12.5H200.4z M213.9,139c0,1.7-1.4,3-3,3 c-1.7,0-3-1.4-3-3s1.4-3,3-3C212.5,135.9,213.9,137.3,213.9,139z M209.4,128.2l2.1,2.2h-1.4c-0.4,0-0.8-0.3-0.8-0.8L209.4,128.2z M200.9,128.6c0-0.4,0.3-0.8,0.8-0.8h7.2v1.8c0,0.7,0.6,1.3,1.2,1.3h1.8v4.7c-1.8-0.6-3.8,0.5-4.3,2.4l0,0c-0.5,1.5,0.2,3.2,1.6,4 h-7.4c-0.4,0-0.8-0.3-0.8-0.8L200.9,128.6z'/%3E%3Cpath id='Path_7536' class='st3' d='M204.4,132.1c0,0.1,0.1,0.3,0.3,0.3l0,0h6c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-6 C204.5,131.9,204.4,132,204.4,132.1z'/%3E%3Cpath id='Path_7537' class='st3' d='M202.1,133.9h5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,133.8,202,133.9,202.1,133.9z'/%3E%3Cpath id='Path_7538' class='st3' d='M208.1,134.9h-2c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3h2c0.1,0,0.3-0.1,0.3-0.3 S208.3,134.9,208.1,134.9z'/%3E%3Cpath id='Path_7539' class='st3' d='M202.1,136.9h4.5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-4.5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,136.8,202,136.9,202.1,136.9z'/%3E%3Cpath id='Path_7540' class='st3' d='M202.1,132.4h1.5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-1.5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,132.3,202,132.4,202.1,132.4z'/%3E%3Cpath id='Path_7541' class='st3' d='M210.6,133.4h-2.5c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3l0,0h2.5 c0.1,0,0.3-0.1,0.3-0.3S210.8,133.4,210.6,133.4z'/%3E%3Cpath id='Path_7542' class='st3' d='M202.1,135.4h3c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-3c-0.1,0-0.3,0.1-0.3,0.3 C201.9,135.3,202,135.4,202.1,135.4z'/%3E%3Cpath id='Path_7543' class='st3' d='M206.1,139.3h-1c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3l0,0h1c0.1,0,0.3-0.1,0.3-0.3 C206.4,139.4,206.3,139.3,206.1,139.3z'/%3E%3Cpath id='Path_7544' class='st3' d='M202.1,139.8h2c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-2c-0.1,0-0.3,0.1-0.3,0.3 C201.9,139.7,202,139.8,202.1,139.8z'/%3E%3Cpath id='Path_7545' class='st3' d='M202.1,138.5h1.5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-1.5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,138.3,202,138.5,202.1,138.5z'/%3E%3Cpath id='Path_7546' class='st3' d='M202.1,130.9h3c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-3c-0.1,0-0.3,0.1-0.3,0.3 C201.9,130.8,202,130.9,202.1,130.9z'/%3E%3Cpath id='Path_7547' class='st3' d='M206.1,138h-1.5c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3h1.5c0.1,0,0.3-0.1,0.3-0.3 S206.3,138,206.1,138z'/%3E%3Cpath id='Path_7548' class='st3' d='M209.5,137.3c-0.1,0.1-0.1,0.2,0,0.4l0,0c0,0,1,1.2,1.3,1.5c0,0.1,0.1,0.1,0.2,0.1h1.8 c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-1.6l-1.2-1.4C209.7,137.2,209.6,137.2,209.5,137.3L209.5,137.3z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg id='Copy__x2C__Duplicate_1_'%3E%3Cg%3E%3Cg%3E%3Cpath class='st4' d='M16.3,7h-5.9c-1,0-1.7,0.7-1.7,1.8v12.4c0,1,0.7,1.8,1.7,1.8h9.3c1,0,1.7-0.8,1.7-1.8v-8.9L16.3,7z M9.9,21.7V8.2h5.6v4.9h4.6v8.7H9.9V21.7z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M10.8,23.4L10.8,23.4c-2.7,0-4.9-2.2-4.9-4.9v0c0-2.7,2.2-4.9,4.9-4.9h0c2.7,0,4.9,2.2,4.9,4.9v0 C15.8,21.2,13.6,23.4,10.8,23.4z'/%3E%3Cg%3E%3Cg%3E%3Cpath class='st4' d='M10.8,13.1c-3,0-5.4,2.4-5.4,5.4s2.4,5.4,5.4,5.4s5.4-2.4,5.4-5.4S13.8,13.1,10.8,13.1 M10.8,22.8 c-2.4,0-4.3-1.9-4.3-4.3s1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3S13.2,22.8,10.8,22.8 M8,18.8c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5 h3.4c0.3,0,0.5-0.2,0.5-0.5v-3.5c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5v3.1H8z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat !important;
  background-color: transparent;
  background-size: 30px 30px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Outline' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23F0F2F3;fill-opacity:0;%7D .st2%7Bfill:%2333475B;stroke:%2333475B;stroke-width:0.25;stroke-miterlimit:10;%7D .st3%7Bfill:%2333475B;%7D .st4%7Bfill:%2333475B;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='9.9,21.7 9.9,8.2 15.5,8.2 15.5,13.1 20.1,13.1 20.1,21.8 9.9,21.8 '/%3E%3Cg id='Group_13610' transform='translate(-152.293 -125.981)'%3E%3Cpath id='Rectangle_7328' class='st1' d='M212.6,126L212.6,126c8.3,0,15,6.7,15,15l0,0c0,8.3-6.7,15-15,15l0,0c-8.3,0-15-6.7-15-15 l0,0C197.6,132.7,204.3,126,212.6,126z'/%3E%3Cg id='Group_13609' transform='translate(5.217 5.641)'%3E%3Cpath id='Path_7535' class='st2' d='M200.4,141.2c0,0.7,0.6,1.3,1.2,1.3h9.2c2,0,3.5-1.6,3.5-3.6c0-1.3-0.8-2.6-2-3.1v-5.1 c0-0.1,0-0.1-0.1-0.2l-3-3c0,0-0.1-0.1-0.2-0.1h-7.5c-0.7,0-1.3,0.6-1.2,1.3v12.5H200.4z M213.9,139c0,1.7-1.4,3-3,3 c-1.7,0-3-1.4-3-3s1.4-3,3-3C212.5,135.9,213.9,137.3,213.9,139z M209.4,128.2l2.1,2.2h-1.4c-0.4,0-0.8-0.3-0.8-0.8L209.4,128.2z M200.9,128.6c0-0.4,0.3-0.8,0.8-0.8h7.2v1.8c0,0.7,0.6,1.3,1.2,1.3h1.8v4.7c-1.8-0.6-3.8,0.5-4.3,2.4l0,0c-0.5,1.5,0.2,3.2,1.6,4 h-7.4c-0.4,0-0.8-0.3-0.8-0.8L200.9,128.6z'/%3E%3Cpath id='Path_7536' class='st3' d='M204.4,132.1c0,0.1,0.1,0.3,0.3,0.3l0,0h6c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-6 C204.5,131.9,204.4,132,204.4,132.1z'/%3E%3Cpath id='Path_7537' class='st3' d='M202.1,133.9h5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,133.8,202,133.9,202.1,133.9z'/%3E%3Cpath id='Path_7538' class='st3' d='M208.1,134.9h-2c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3h2c0.1,0,0.3-0.1,0.3-0.3 S208.3,134.9,208.1,134.9z'/%3E%3Cpath id='Path_7539' class='st3' d='M202.1,136.9h4.5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-4.5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,136.8,202,136.9,202.1,136.9z'/%3E%3Cpath id='Path_7540' class='st3' d='M202.1,132.4h1.5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-1.5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,132.3,202,132.4,202.1,132.4z'/%3E%3Cpath id='Path_7541' class='st3' d='M210.6,133.4h-2.5c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3l0,0h2.5 c0.1,0,0.3-0.1,0.3-0.3S210.8,133.4,210.6,133.4z'/%3E%3Cpath id='Path_7542' class='st3' d='M202.1,135.4h3c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-3c-0.1,0-0.3,0.1-0.3,0.3 C201.9,135.3,202,135.4,202.1,135.4z'/%3E%3Cpath id='Path_7543' class='st3' d='M206.1,139.3h-1c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3l0,0h1c0.1,0,0.3-0.1,0.3-0.3 C206.4,139.4,206.3,139.3,206.1,139.3z'/%3E%3Cpath id='Path_7544' class='st3' d='M202.1,139.8h2c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-2c-0.1,0-0.3,0.1-0.3,0.3 C201.9,139.7,202,139.8,202.1,139.8z'/%3E%3Cpath id='Path_7545' class='st3' d='M202.1,138.5h1.5c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-1.5c-0.1,0-0.3,0.1-0.3,0.3 C201.9,138.3,202,138.5,202.1,138.5z'/%3E%3Cpath id='Path_7546' class='st3' d='M202.1,130.9h3c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-3c-0.1,0-0.3,0.1-0.3,0.3 C201.9,130.8,202,130.9,202.1,130.9z'/%3E%3Cpath id='Path_7547' class='st3' d='M206.1,138h-1.5c-0.1,0-0.3,0.1-0.3,0.3c0,0.1,0.1,0.3,0.3,0.3h1.5c0.1,0,0.3-0.1,0.3-0.3 S206.3,138,206.1,138z'/%3E%3Cpath id='Path_7548' class='st3' d='M209.5,137.3c-0.1,0.1-0.1,0.2,0,0.4l0,0c0,0,1,1.2,1.3,1.5c0,0.1,0.1,0.1,0.2,0.1h1.8 c0.1,0,0.3-0.1,0.3-0.3c0-0.1-0.1-0.3-0.3-0.3h-1.6l-1.2-1.4C209.7,137.2,209.6,137.2,209.5,137.3L209.5,137.3z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg id='Copy__x2C__Duplicate_1_'%3E%3Cg%3E%3Cg%3E%3Cpath class='st4' d='M16.3,7h-5.9c-1,0-1.7,0.7-1.7,1.8v12.4c0,1,0.7,1.8,1.7,1.8h9.3c1,0,1.7-0.8,1.7-1.8v-8.9L16.3,7z M9.9,21.7V8.2h5.6v4.9h4.6v8.7H9.9V21.7z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M10.8,23.4L10.8,23.4c-2.7,0-4.9-2.2-4.9-4.9v0c0-2.7,2.2-4.9,4.9-4.9h0c2.7,0,4.9,2.2,4.9,4.9v0 C15.8,21.2,13.6,23.4,10.8,23.4z'/%3E%3Cg%3E%3Cg%3E%3Cpath class='st4' d='M10.8,13.1c-3,0-5.4,2.4-5.4,5.4s2.4,5.4,5.4,5.4s5.4-2.4,5.4-5.4S13.8,13.1,10.8,13.1 M10.8,22.8 c-2.4,0-4.3-1.9-4.3-4.3s1.9-4.3,4.3-4.3s4.3,1.9,4.3,4.3S13.2,22.8,10.8,22.8 M8,18.8c-0.3,0-0.5,0.2-0.5,0.5s0.2,0.5,0.5,0.5 h3.4c0.3,0,0.5-0.2,0.5-0.5v-3.5c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5v3.1H8z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #edf3f7;
  }
}

.btn-icon-merge {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884' %3E%3Cpath d='M6.64449165,9.73816223 C7.06702635,9.31569965 7.75211249,9.31569965 8.17457507,9.73816223 C8.59710977,10.1606248 8.59710977,10.8457109 8.1746472,11.2682456 L8.1746472,11.2682456 L5.11455249,14.3284125 L5.11455249,14.3284125 L4.9668868,14.4860233 C4.44753479,15.0779218 4.16388547,15.8289589 4.16388547,16.6235737 C4.16388547,17.4904983 4.50145161,18.305634 5.11455249,18.9187349 C6.38013697,20.1843193 8.43929039,20.1842472 9.70473061,18.9187349 L9.70473061,18.9187349 L12.7649696,15.8584238 C13.1875764,15.4359612 13.8725904,15.4359612 14.2949809,15.8584238 C14.7175156,16.2809585 14.7175156,16.9660446 14.295053,17.3885072 L14.295053,17.3885072 L11.2349583,20.448674 L11.2349583,20.448674 L11.0333655,20.6403779 C10.0071877,21.5672814 8.70845069,22.0307628 7.40971368,22.0307628 C6.0243942,22.0307628 4.63914685,21.5034239 3.58446907,20.4488183 C2.56268235,19.4270316 2,18.0685443 2,16.6235737 C2,15.1789637 2.56246596,13.8206928 3.58374778,12.7990504 L3.58374778,12.7990504 Z M14.2951251,8.20800668 C14.7176598,7.7855441 15.402746,7.7855441 15.8252085,8.20800668 C16.2477432,8.63054138 16.2477432,9.31562752 15.8252085,9.7380901 L15.8252085,9.7380901 L9.70487487,15.8584238 C9.49360752,16.0696911 9.21670231,16.1753609 8.9397971,16.1753609 C8.66296402,16.1753609 8.38605881,16.0696911 8.17479146,15.8584238 C7.75225675,15.4359612 7.75225675,14.7508751 8.17479146,14.3282682 L8.17479146,14.3282682 Z M12.7650417,3.61775642 C14.8741809,1.50861725 18.3061754,1.50854512 20.4154588,3.61775642 C21.4372455,4.63954315 22,5.99803044 22,7.44300103 C22,8.88761098 21.4374619,10.2458819 20.4161801,11.2675243 L20.4161801,11.2675243 L17.3554362,14.3284125 C17.1441689,14.5396798 16.8672637,14.6453496 16.5903584,14.6453496 C16.3135254,14.6453496 16.0366202,14.5396798 15.8253528,14.3284125 C15.4028181,13.9058778 15.4028181,13.2207916 15.8252807,12.7983291 L15.8252807,12.7983291 L18.8853754,9.73816223 L18.8853754,9.73816223 L19.0330576,9.58055139 C19.5524652,8.98865291 19.8361145,8.23761584 19.8361145,7.44300103 C19.8361145,6.57607638 19.4984041,5.76094073 18.8853754,5.14783984 C17.6197909,3.88232749 15.5606375,3.88239962 14.2951973,5.14783984 L14.2951973,5.14783984 L11.234814,8.20815094 C11.0236188,8.41941829 10.7466415,8.52508803 10.4698084,8.52508803 C10.1929032,8.52508803 9.9160701,8.41949042 9.70473061,8.20815094 C9.28219591,7.78568836 9.28219591,7.10053009 9.70473061,6.67806752 L9.70473061,6.67806752 Z' %3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-color: transparent;
  background-size: 20px 20px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B' %3E%3Cpath d='M6.64449165,9.73816223 C7.06702635,9.31569965 7.75211249,9.31569965 8.17457507,9.73816223 C8.59710977,10.1606248 8.59710977,10.8457109 8.1746472,11.2682456 L8.1746472,11.2682456 L5.11455249,14.3284125 L5.11455249,14.3284125 L4.9668868,14.4860233 C4.44753479,15.0779218 4.16388547,15.8289589 4.16388547,16.6235737 C4.16388547,17.4904983 4.50145161,18.305634 5.11455249,18.9187349 C6.38013697,20.1843193 8.43929039,20.1842472 9.70473061,18.9187349 L9.70473061,18.9187349 L12.7649696,15.8584238 C13.1875764,15.4359612 13.8725904,15.4359612 14.2949809,15.8584238 C14.7175156,16.2809585 14.7175156,16.9660446 14.295053,17.3885072 L14.295053,17.3885072 L11.2349583,20.448674 L11.2349583,20.448674 L11.0333655,20.6403779 C10.0071877,21.5672814 8.70845069,22.0307628 7.40971368,22.0307628 C6.0243942,22.0307628 4.63914685,21.5034239 3.58446907,20.4488183 C2.56268235,19.4270316 2,18.0685443 2,16.6235737 C2,15.1789637 2.56246596,13.8206928 3.58374778,12.7990504 L3.58374778,12.7990504 Z M14.2951251,8.20800668 C14.7176598,7.7855441 15.402746,7.7855441 15.8252085,8.20800668 C16.2477432,8.63054138 16.2477432,9.31562752 15.8252085,9.7380901 L15.8252085,9.7380901 L9.70487487,15.8584238 C9.49360752,16.0696911 9.21670231,16.1753609 8.9397971,16.1753609 C8.66296402,16.1753609 8.38605881,16.0696911 8.17479146,15.8584238 C7.75225675,15.4359612 7.75225675,14.7508751 8.17479146,14.3282682 L8.17479146,14.3282682 Z M12.7650417,3.61775642 C14.8741809,1.50861725 18.3061754,1.50854512 20.4154588,3.61775642 C21.4372455,4.63954315 22,5.99803044 22,7.44300103 C22,8.88761098 21.4374619,10.2458819 20.4161801,11.2675243 L20.4161801,11.2675243 L17.3554362,14.3284125 C17.1441689,14.5396798 16.8672637,14.6453496 16.5903584,14.6453496 C16.3135254,14.6453496 16.0366202,14.5396798 15.8253528,14.3284125 C15.4028181,13.9058778 15.4028181,13.2207916 15.8252807,12.7983291 L15.8252807,12.7983291 L18.8853754,9.73816223 L18.8853754,9.73816223 L19.0330576,9.58055139 C19.5524652,8.98865291 19.8361145,8.23761584 19.8361145,7.44300103 C19.8361145,6.57607638 19.4984041,5.76094073 18.8853754,5.14783984 C17.6197909,3.88232749 15.5606375,3.88239962 14.2951973,5.14783984 L14.2951973,5.14783984 L11.234814,8.20815094 C11.0236188,8.41941829 10.7466415,8.52508803 10.4698084,8.52508803 C10.1929032,8.52508803 9.9160701,8.41949042 9.70473061,8.20815094 C9.28219591,7.78568836 9.28219591,7.10053009 9.70473061,6.67806752 L9.70473061,6.67806752 Z' %3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
  &.active {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2328C10B' %3E%3Cpath d='M6.64449165,9.73816223 C7.06702635,9.31569965 7.75211249,9.31569965 8.17457507,9.73816223 C8.59710977,10.1606248 8.59710977,10.8457109 8.1746472,11.2682456 L8.1746472,11.2682456 L5.11455249,14.3284125 L5.11455249,14.3284125 L4.9668868,14.4860233 C4.44753479,15.0779218 4.16388547,15.8289589 4.16388547,16.6235737 C4.16388547,17.4904983 4.50145161,18.305634 5.11455249,18.9187349 C6.38013697,20.1843193 8.43929039,20.1842472 9.70473061,18.9187349 L9.70473061,18.9187349 L12.7649696,15.8584238 C13.1875764,15.4359612 13.8725904,15.4359612 14.2949809,15.8584238 C14.7175156,16.2809585 14.7175156,16.9660446 14.295053,17.3885072 L14.295053,17.3885072 L11.2349583,20.448674 L11.2349583,20.448674 L11.0333655,20.6403779 C10.0071877,21.5672814 8.70845069,22.0307628 7.40971368,22.0307628 C6.0243942,22.0307628 4.63914685,21.5034239 3.58446907,20.4488183 C2.56268235,19.4270316 2,18.0685443 2,16.6235737 C2,15.1789637 2.56246596,13.8206928 3.58374778,12.7990504 L3.58374778,12.7990504 Z M14.2951251,8.20800668 C14.7176598,7.7855441 15.402746,7.7855441 15.8252085,8.20800668 C16.2477432,8.63054138 16.2477432,9.31562752 15.8252085,9.7380901 L15.8252085,9.7380901 L9.70487487,15.8584238 C9.49360752,16.0696911 9.21670231,16.1753609 8.9397971,16.1753609 C8.66296402,16.1753609 8.38605881,16.0696911 8.17479146,15.8584238 C7.75225675,15.4359612 7.75225675,14.7508751 8.17479146,14.3282682 L8.17479146,14.3282682 Z M12.7650417,3.61775642 C14.8741809,1.50861725 18.3061754,1.50854512 20.4154588,3.61775642 C21.4372455,4.63954315 22,5.99803044 22,7.44300103 C22,8.88761098 21.4374619,10.2458819 20.4161801,11.2675243 L20.4161801,11.2675243 L17.3554362,14.3284125 C17.1441689,14.5396798 16.8672637,14.6453496 16.5903584,14.6453496 C16.3135254,14.6453496 16.0366202,14.5396798 15.8253528,14.3284125 C15.4028181,13.9058778 15.4028181,13.2207916 15.8252807,12.7983291 L15.8252807,12.7983291 L18.8853754,9.73816223 L18.8853754,9.73816223 L19.0330576,9.58055139 C19.5524652,8.98865291 19.8361145,8.23761584 19.8361145,7.44300103 C19.8361145,6.57607638 19.4984041,5.76094073 18.8853754,5.14783984 C17.6197909,3.88232749 15.5606375,3.88239962 14.2951973,5.14783984 L14.2951973,5.14783984 L11.234814,8.20815094 C11.0236188,8.41941829 10.7466415,8.52508803 10.4698084,8.52508803 C10.1929032,8.52508803 9.9160701,8.41949042 9.70473061,8.20815094 C9.28219591,7.78568836 9.28219591,7.10053009 9.70473061,6.67806752 L9.70473061,6.67806752 Z' %3E%3C/path%3E%3C/svg%3E");
  }
}

.btn-icon-add-tag {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884'%3E%3Cpath d='M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,6.28571429 L11.9062197,6.29076181 C11.4750243,6.33746392 11.1397732,6.70251076 11.1397732,7.14594109 L11.1395161,11.1395161 L7.14594109,11.1397732 C6.67056892,11.1397732 6.28571429,11.5248961 6.28571429,12 L6.29075847,12.0937336 C6.33743054,12.524742 6.7022604,12.8602268 7.14594109,12.8602268 L11.1395161,12.8596774 L11.1397732,16.8540589 C11.1397732,17.3291628 11.5246278,17.7142857 12,17.7142857 L12.0937803,17.7092382 C12.5249757,17.6625361 12.8602268,17.2974892 12.8602268,16.8540589 L12.8596774,12.8596774 L16.8540589,12.8602268 C17.3294311,12.8602268 17.7142857,12.4751039 17.7142857,12 L17.7092415,11.9062664 C17.6625695,11.475258 17.2977396,11.1397732 16.8540589,11.1397732 L12.8596774,11.1395161 L12.8602268,7.14594109 C12.8602268,6.67083717 12.4753722,6.28571429 12,6.28571429 Z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-color: transparent;
  background-size: 20px 20px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B'%3E%3Cpath d='M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,6.28571429 L11.9062197,6.29076181 C11.4750243,6.33746392 11.1397732,6.70251076 11.1397732,7.14594109 L11.1395161,11.1395161 L7.14594109,11.1397732 C6.67056892,11.1397732 6.28571429,11.5248961 6.28571429,12 L6.29075847,12.0937336 C6.33743054,12.524742 6.7022604,12.8602268 7.14594109,12.8602268 L11.1395161,12.8596774 L11.1397732,16.8540589 C11.1397732,17.3291628 11.5246278,17.7142857 12,17.7142857 L12.0937803,17.7092382 C12.5249757,17.6625361 12.8602268,17.2974892 12.8602268,16.8540589 L12.8596774,12.8596774 L16.8540589,12.8602268 C17.3294311,12.8602268 17.7142857,12.4751039 17.7142857,12 L17.7092415,11.9062664 C17.6625695,11.475258 17.2977396,11.1397732 16.8540589,11.1397732 L12.8596774,11.1395161 L12.8602268,7.14594109 C12.8602268,6.67083717 12.4753722,6.28571429 12,6.28571429 Z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.btn-icon-sort-desc {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;opacity:0;%7D.b,.e%7Bfill:none;%7D.b%7Bstroke:%236b7884;stroke-miterlimit:10;stroke-width:0.75px;%7D.c%7Bfill:%236b7884;%7D.d%7Bstroke:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(4.012 2.011)'%3E%3Cpath class='a' d='M-192.056,215.594h32v32h-32Z' transform='translate(188.044 -217.605)'/%3E%3Cg transform='translate(-0.8 0.577)'%3E%3Cg transform='translate(3.788 5.412)'%3E%3Cg class='b'%3E%3Crect class='d' width='12.989' height='3.497' rx='0.503'/%3E%3Crect class='e' x='0.375' y='0.375' width='12.239' height='2.747' rx='0.128'/%3E%3C/g%3E%3Cg class='b' transform='translate(0 5.828)'%3E%3Crect class='d' width='9.742' height='3.497' rx='0.435'/%3E%3Crect class='e' x='0.375' y='0.375' width='8.992' height='2.747' rx='0.06'/%3E%3C/g%3E%3Cg class='b' transform='translate(0 11.657)'%3E%3Crect class='d' width='6.495' height='3.497' rx='0.356'/%3E%3Crect class='e' x='0.375' y='0.375' width='5.745' height='2.747' rx='0.019'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(22.188 20.565) rotate(180)'%3E%3Cpath class='c' d='M2.555,14.717V1.489L3.671,2.747a.357.357,0,0,0,.547,0,.477.477,0,0,0,0-.616l-1.778-2a.357.357,0,0,0-.547,0l-1.778,2a.474.474,0,0,0,0,.616.357.357,0,0,0,.547,0L1.78,1.489V14.717a.415.415,0,0,0,.388.436.415.415,0,0,0,.388-.436'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat !important;
  background-color: transparent;
  background-size: 30px 30px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;opacity:0;%7D.b,.e%7Bfill:none;%7D.b%7Bstroke:%236b7884;stroke-miterlimit:10;stroke-width:0.75px;%7D.c%7Bfill:%2333475B;%7D.d%7Bstroke:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(4.012 2.011)'%3E%3Cpath class='a' d='M-192.056,215.594h32v32h-32Z' transform='translate(188.044 -217.605)'/%3E%3Cg transform='translate(-0.8 0.577)'%3E%3Cg transform='translate(3.788 5.412)'%3E%3Cg class='b'%3E%3Crect class='d' width='12.989' height='3.497' rx='0.503'/%3E%3Crect class='e' x='0.375' y='0.375' width='12.239' height='2.747' rx='0.128'/%3E%3C/g%3E%3Cg class='b' transform='translate(0 5.828)'%3E%3Crect class='d' width='9.742' height='3.497' rx='0.435'/%3E%3Crect class='e' x='0.375' y='0.375' width='8.992' height='2.747' rx='0.06'/%3E%3C/g%3E%3Cg class='b' transform='translate(0 11.657)'%3E%3Crect class='d' width='6.495' height='3.497' rx='0.356'/%3E%3Crect class='e' x='0.375' y='0.375' width='5.745' height='2.747' rx='0.019'/%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(22.188 20.565) rotate(180)'%3E%3Cpath class='c' d='M2.555,14.717V1.489L3.671,2.747a.357.357,0,0,0,.547,0,.477.477,0,0,0,0-.616l-1.778-2a.357.357,0,0,0-.547,0l-1.778,2a.474.474,0,0,0,0,.616.357.357,0,0,0,.547,0L1.78,1.489V14.717a.415.415,0,0,0,.388.436.415.415,0,0,0,.388-.436'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat !important;
    background-color: #edf3f7;
  }
}

.btn-icon-sort-asc {
  background-image: url("data:image/svg+xml,%3Csvg id='Ascending' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='Ascending-2' data-name='Ascending' transform='translate(-25.988 -14.989)'%3E%3Cpath id='Path_7093' data-name='Path 7093' d='M-192.056,244.7h32v32h-32Z' transform='translate(218.044 -229.715)' fill='%23fff' opacity='0'/%3E%3Cg id='Group_13647' data-name='Group 13647' transform='translate(-2.8 0)'%3E%3Cg id='Group_11999' data-name='Group 11999' transform='translate(35.788 22.989)'%3E%3Cg id='Rectangle_6710' data-name='Rectangle 6710' transform='translate(0 11.657)' fill='none' stroke='%236b7884' stroke-miterlimit='10' stroke-width='0.75'%3E%3Crect width='12.989' height='3.497' rx='0.503' stroke='none'/%3E%3Crect x='0.375' y='0.375' width='12.239' height='2.747' rx='0.128' fill='none'/%3E%3C/g%3E%3Cg id='Rectangle_6711' data-name='Rectangle 6711' transform='translate(0 5.828)' fill='none' stroke='%236b7884' stroke-miterlimit='10' stroke-width='0.75'%3E%3Crect width='9.742' height='3.497' rx='0.435' stroke='none'/%3E%3Crect x='0.375' y='0.375' width='8.992' height='2.747' rx='0.06' fill='none'/%3E%3C/g%3E%3Cg id='Rectangle_6712' data-name='Rectangle 6712' fill='none' stroke='%236b7884' stroke-miterlimit='10' stroke-width='0.75'%3E%3Crect width='6.495' height='3.497' rx='0.356' stroke='none'/%3E%3Crect x='0.375' y='0.375' width='5.745' height='2.747' rx='0.019' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_12000' data-name='Group 12000' transform='translate(54.188 38.143) rotate(180)'%3E%3Cpath id='Path_7094' data-name='Path 7094' d='M2.555.436V13.665l1.116-1.257a.355.355,0,0,1,.547,0,.475.475,0,0,1,0,.615l-1.778,2a.357.357,0,0,1-.547,0l-1.778-2a.473.473,0,0,1,0-.615.355.355,0,0,1,.547,0L1.78,13.665V.436A.415.415,0,0,1,2.167,0a.415.415,0,0,1,.388.436' fill='%236b7884'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: transparent;
  background-size: 30px 30px !important;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg id='Ascending' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg id='Ascending-2' data-name='Ascending' transform='translate(-25.988 -14.989)'%3E%3Cpath id='Path_7093' data-name='Path 7093' d='M-192.056,244.7h32v32h-32Z' transform='translate(218.044 -229.715)' fill='%23fff' opacity='0'/%3E%3Cg id='Group_13647' data-name='Group 13647' transform='translate(-2.8 0)'%3E%3Cg id='Group_11999' data-name='Group 11999' transform='translate(35.788 22.989)'%3E%3Cg id='Rectangle_6710' data-name='Rectangle 6710' transform='translate(0 11.657)' fill='none' stroke='%236b7884' stroke-miterlimit='10' stroke-width='0.75'%3E%3Crect width='12.989' height='3.497' rx='0.503' stroke='none'/%3E%3Crect x='0.375' y='0.375' width='12.239' height='2.747' rx='0.128' fill='none'/%3E%3C/g%3E%3Cg id='Rectangle_6711' data-name='Rectangle 6711' transform='translate(0 5.828)' fill='none' stroke='%236b7884' stroke-miterlimit='10' stroke-width='0.75'%3E%3Crect width='9.742' height='3.497' rx='0.435' stroke='none'/%3E%3Crect x='0.375' y='0.375' width='8.992' height='2.747' rx='0.06' fill='none'/%3E%3C/g%3E%3Cg id='Rectangle_6712' data-name='Rectangle 6712' fill='none' stroke='%236b7884' stroke-miterlimit='10' stroke-width='0.75'%3E%3Crect width='6.495' height='3.497' rx='0.356' stroke='none'/%3E%3Crect x='0.375' y='0.375' width='5.745' height='2.747' rx='0.019' fill='none'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_12000' data-name='Group 12000' transform='translate(54.188 38.143) rotate(180)'%3E%3Cpath id='Path_7094' data-name='Path 7094' d='M2.555.436V13.665l1.116-1.257a.355.355,0,0,1,.547,0,.475.475,0,0,1,0,.615l-1.778,2a.357.357,0,0,1-.547,0l-1.778-2a.473.473,0,0,1,0-.615.355.355,0,0,1,.547,0L1.78,13.665V.436A.415.415,0,0,1,2.167,0a.415.415,0,0,1,.388.436' fill='%2333475B'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: transparent;
    background-color: #edf3f7;
  }
}

.btn-icon-delete-system-tag {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FF3D57' class='bi bi-dash-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: 16px 16px !important;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23D83A4F' class='bi bi-dash-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z'/%3E%3C/svg%3E");
  }
}

.btn-icon-add-system-tag {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FF3D57' class='bi bi-plus-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/%3E%3C/svg%3E");
  background-color: transparent;
  background-size: 16px 16px !important;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23D83A4F' class='bi bi-plus-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/%3E%3C/svg%3E");
  }
}

.btn-icon-image {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-80.000000, -264.000000)' fill='%236B7884'%3E%3Cg id='ic/image' transform='translate(80.000000, 264.000000)'%3E%3Cpath d='M18.6831802,2.06 C19.5855672,2.06 20.4138156,2.40356972 21.0377975,3.02760454 C21.5447917,3.55487854 21.873678,4.21727751 21.9705491,4.93824262 L21.9925961,5.15621257 L22,5.37681983 L22,18.6175292 C22,19.5199161 21.6564303,20.3481646 21.0323955,20.9721464 C20.5051215,21.4791407 19.8427225,21.808027 19.1217574,21.9048981 L18.9037874,21.9269451 L18.4883336,21.9411013 L18.4879793,21.9119416 L5.31681983,21.9122073 C4.56483068,21.9122073 3.86432663,21.6736173 3.29061325,21.232956 L3.12237826,21.094732 L2.96220255,20.9446028 C2.45520832,20.4173288 2.12632202,19.7549298 2.02945086,19.0339647 L2.00740387,18.8159948 L2,18.5953875 L2,5.37681983 C2,4.47443285 2.34356972,3.64618441 2.96760454,3.02220255 C3.49487854,2.51520832 4.15727751,2.18632202 4.87824262,2.08945086 L5.09621257,2.06740387 L5.31681983,2.06 L18.6831802,2.06 Z M16.6805519,10.567975 L11.8736767,15.3961725 C11.6215628,15.6253669 11.2554851,15.6758002 10.9539226,15.5252685 L10.856036,15.4676176 L10.7634485,15.389775 L7.30956873,12.1842272 L3.58507676,15.9301523 L3.58534246,18.6175292 C3.58534246,19.0289678 3.71704396,19.4019043 3.96732806,19.7197407 L4.08181458,19.8525344 C4.33640762,20.1071275 4.65940724,20.2789398 5.00235658,20.342659 L5.150415,20.3632755 L5.31681983,20.3711482 L18.6831802,20.3711482 C19.1472631,20.3711482 19.5888031,20.1819168 19.9181854,19.8525344 C20.1727785,19.5979414 20.3445908,19.2749418 20.40831,18.9319924 L20.4289265,18.783934 L20.4367992,18.6175292 L20.4364449,14.0489088 L16.6805519,10.567975 Z M18.6831802,3.64534246 L5.31681983,3.64534246 C4.85273694,3.64534246 4.41119692,3.83457389 4.08181458,4.16395623 C3.83632637,4.40944444 3.67714814,4.70971443 3.61527071,5.0417878 L3.59249128,5.21036839 L3.58534246,5.37681983 L3.58507676,13.694288 L6.75109997,10.5087563 C7.00317285,10.2566834 7.37844732,10.2109437 7.68612743,10.3753283 L7.78592225,10.4379108 L7.86803748,10.5087563 L11.3212973,13.7137727 L16.1217289,8.89241548 C16.3738018,8.6403426 16.7490762,8.59460296 17.0567563,8.75898756 L17.1565512,8.82157 L17.2391326,8.89288331 L20.4364449,11.8344776 L20.4367992,5.39896148 C20.4367992,4.98644336 20.287283,4.59173689 20.0227214,4.27778141 L19.9181854,4.16395623 C19.5888031,3.83457389 19.1472631,3.64534246 18.6831802,3.64534246 Z M10.9629417,5.4366023 C11.9510043,5.4366023 12.7519874,6.23758533 12.7519874,7.22564797 C12.7519874,8.21371062 11.9510043,9.01469365 10.9629417,9.01469365 C9.97487906,9.01469365 9.17389603,8.21371062 9.17389603,7.22564797 C9.17389603,6.23758533 9.97487906,5.4366023 10.9629417,5.4366023 Z' id='Combined-Shape-Copy-38'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &.disabled {
    cursor: default !important;
    background-color: transparent !important;
  }

  &:hover {
    background-color: #edf3f7;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-80.000000, -264.000000)' fill='%2333475B'%3E%3Cg id='ic/image' transform='translate(80.000000, 264.000000)'%3E%3Cpath d='M18.6831802,2.06 C19.5855672,2.06 20.4138156,2.40356972 21.0377975,3.02760454 C21.5447917,3.55487854 21.873678,4.21727751 21.9705491,4.93824262 L21.9925961,5.15621257 L22,5.37681983 L22,18.6175292 C22,19.5199161 21.6564303,20.3481646 21.0323955,20.9721464 C20.5051215,21.4791407 19.8427225,21.808027 19.1217574,21.9048981 L18.9037874,21.9269451 L18.4883336,21.9411013 L18.4879793,21.9119416 L5.31681983,21.9122073 C4.56483068,21.9122073 3.86432663,21.6736173 3.29061325,21.232956 L3.12237826,21.094732 L2.96220255,20.9446028 C2.45520832,20.4173288 2.12632202,19.7549298 2.02945086,19.0339647 L2.00740387,18.8159948 L2,18.5953875 L2,5.37681983 C2,4.47443285 2.34356972,3.64618441 2.96760454,3.02220255 C3.49487854,2.51520832 4.15727751,2.18632202 4.87824262,2.08945086 L5.09621257,2.06740387 L5.31681983,2.06 L18.6831802,2.06 Z M16.6805519,10.567975 L11.8736767,15.3961725 C11.6215628,15.6253669 11.2554851,15.6758002 10.9539226,15.5252685 L10.856036,15.4676176 L10.7634485,15.389775 L7.30956873,12.1842272 L3.58507676,15.9301523 L3.58534246,18.6175292 C3.58534246,19.0289678 3.71704396,19.4019043 3.96732806,19.7197407 L4.08181458,19.8525344 C4.33640762,20.1071275 4.65940724,20.2789398 5.00235658,20.342659 L5.150415,20.3632755 L5.31681983,20.3711482 L18.6831802,20.3711482 C19.1472631,20.3711482 19.5888031,20.1819168 19.9181854,19.8525344 C20.1727785,19.5979414 20.3445908,19.2749418 20.40831,18.9319924 L20.4289265,18.783934 L20.4367992,18.6175292 L20.4364449,14.0489088 L16.6805519,10.567975 Z M18.6831802,3.64534246 L5.31681983,3.64534246 C4.85273694,3.64534246 4.41119692,3.83457389 4.08181458,4.16395623 C3.83632637,4.40944444 3.67714814,4.70971443 3.61527071,5.0417878 L3.59249128,5.21036839 L3.58534246,5.37681983 L3.58507676,13.694288 L6.75109997,10.5087563 C7.00317285,10.2566834 7.37844732,10.2109437 7.68612743,10.3753283 L7.78592225,10.4379108 L7.86803748,10.5087563 L11.3212973,13.7137727 L16.1217289,8.89241548 C16.3738018,8.6403426 16.7490762,8.59460296 17.0567563,8.75898756 L17.1565512,8.82157 L17.2391326,8.89288331 L20.4364449,11.8344776 L20.4367992,5.39896148 C20.4367992,4.98644336 20.287283,4.59173689 20.0227214,4.27778141 L19.9181854,4.16395623 C19.5888031,3.83457389 19.1472631,3.64534246 18.6831802,3.64534246 Z M10.9629417,5.4366023 C11.9510043,5.4366023 12.7519874,6.23758533 12.7519874,7.22564797 C12.7519874,8.21371062 11.9510043,9.01469365 10.9629417,9.01469365 C9.97487906,9.01469365 9.17389603,8.21371062 9.17389603,7.22564797 C9.17389603,6.23758533 9.97487906,5.4366023 10.9629417,5.4366023 Z' id='Combined-Shape-Copy-38'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}
