.card-oa {
    border-radius: 6px;
    padding: 16px;
    cursor: pointer;
    background-color: $white;
    box-shadow: 1px 1px 6px 0 rgba(132, 145, 157, 0.29);
    margin-bottom: 12px;
    letter-spacing: 0;

    &:hover {
        background-color: $grey-background;
    }

    .title {
        color: $secondary-light-2;
        font-size: 12px;
        line-height: 18px;
    }
    .value-main {
        color: $secondary;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .value {
        color: $secondary;
        font-size: 14px;
        line-height: 20px;

        &:first-letter {
            text-transform: uppercase;
        }
    }
}

.card-profile {
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(132, 145, 157, 0.25);
    max-width: 555px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    color: $secondary;

    .image-profile {
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .card-header {
        padding: 13px 24px 13px 24px;
    }

    .card-footer {
        padding: 12px 24px 12px 24px;
    }

    .section-image {
        display: grid;
    }

    .list-group-item:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .card-body {
        padding: 23.5px 24px 32px 24px;
    }

    .account {
        margin-top: 32px;
        display: block;
        .change-password {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media only screen and (max-width: 460px) {
            .change-password {
                display: block;
                // align-items: center;
                // justify-content: space-between;
            }
        }
    }

    .list-group-item {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #e3e8ec;
    }

    input {
        height: 40px;
        color: $secondary-light-2;
    }

    .available-formats {
        color: $secondary-light-2;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        margin-top: 8px;
        margin-bottom: 0;
    }

    p.mix {
        box-sizing: border-box;
        height: 1px;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
        border: 1px solid $border-grey;
    }
    .verify-false {
        box-sizing: border-box;
        height: 21px;
        width: 73px;
        padding: 1.5px 6px;
        background: #ffffff;
        color: #ff3d57;
        font-size: 12px;
        font-weight: 500;
        border: 1px solid #fbcfd3;
        border-radius: 4px;
        letter-spacing: 0;
        line-height: 18px;
        margin-top: -0.5px;
        margin-right: -8px;
    }
    .group-profile {
        margin-top: -5px;
    }
    .verify-true {
        box-sizing: border-box;
        height: 21px;
        width: 73px;
        padding: 1.5px 6px;
        background: #ffffff;
        color: #67b61c;
        font-size: 12px;
        border: 1px solid #67b61c;
        border-radius: 4px;
        letter-spacing: 0;
        line-height: 18px;
        margin-top: -0.5px;
        margin-right: -8px;
    }
    .btn-delete-acc {
        background: #eaedf0 0% 0% no-repeat padding-box;
        border-radius: 4px;
        color: #6385a9;
        border: none;
        padding: 8px 20px;
    }

    .form-control {
        height: 32px;
        color: $secondary-light-2;
    }

    .div-email {
        background-color: $grey-background;
        height: 32px;
        color: $secondary;
        font-size: 14px;
        display: flex;
    }
    .div-email-verify {
        margin-left: auto;
        margin-right: 0px;
    }
    .a-delete {
        color: $secondary;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
    }
    button:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }
    .input-password {
        display: flex;
        align-items: center;

        input {
            padding-right: 45px;
        }

        svg {
            // padding: 15px 10px;
            margin: 0px -30px;
            cursor: pointer;
        }
    }

    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid $border-grey;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .topic-card {
        height: 24px;
        width: 60px;
        color: #33475b;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
    }
}

.card-setting {
    border-radius: 6px;
    padding: 16px;
    background-color: #ffffff;
    // box-shadow: 1px 1px 6px 0 rgba(132, 145, 157, 0.29);
    margin-bottom: 12px;
    letter-spacing: 0;
    width: 500px;
    a {
        &:hover {
            background-color: $grey-background;
        }
    }
    .title {
        color: $secondary;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .desc {
        color: $secondary-light-2;
        font-size: 12px;
        line-height: 18px;
    }
}

.card-action-type {
    .card-header {
        padding: 0.55rem 1.25rem;
        background-color: #e3e8ec;
        .collapse[aria-expanded="true"] i.status {
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: 0.15s all ease;
        }

        .collapse[aria-expanded="true"] i.status {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    .card-body {
        padding: 0.75rem 1.25rem;
    }
}