.chat-wrapper {
  overflow: hidden;
  display: flex;
  // flex-wrap: wrap;
  height: 100%;

  .prototype-wrapper {
    background-color: #f6f9fa;
    // box-shadow: inset 9px 0px 9px -7px #c3c3c36b;
    border-left: 1px solid #eee;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 240px;
    position: relative;

    .icon-wrapper {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      span {
        display: block;
        text-align: center;
        color: #84919d;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 30px;
        margin-top: 12px;
      }
    }
  }
}

.chat-panel-component {
  width: 340px;
  height: 100%;
  padding: 0 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  .tools-chat {
    display: flex;
    margin-left: auto;
  }

  .chat-list-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
      /* make scrollbar transparent */
    }

    .chat-wrapper {
      height: 73px;
      border-left: none;
      background-color: unset;
      padding: 6px 16px 6px;

      &:hover {
        cursor: pointer;
        background-color: #f5f9fa;
      }

      &.active {
        border-right: 4px solid #ff3d57;
        background-color: #f5f9fa !important;
        padding: 6px 12px 6px 16px;
      }

      .avatar-wrapper {
        width: 48px;
        height: 48px;
        position: relative;
      }

      .image-wrapper {
        width: 48px;
        height: 48px;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        border-radius: 50%;

        .img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }

        .avatar {
          height: 100%;
          background-size: cover;
          background-position: center;
          position: absolute;
        }

        .w-avatar {
          width: calc(50% - 1px);
        }

        .h-avatar {
          height: calc(50% - 1px);
        }

        .avatar-1 {
          left: 0;
          top: 0;
        }

        .avatar-2 {
          right: 0;
          top: 0;
        }

        .avatar-3 {
          left: 0;
          bottom: 0;
        }

        .avatar-4 {
          right: 0;
          bottom: 0;
        }
      }

      .chat-icon-line {
        z-index: 0;
        width: 18px;
        height: 18px;
        // border-radius: 50%;
        border-radius: 50%;
        // border: 1px solid #ffffff;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url("../images/icons/line.svg");
        // background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .chat-detail-wrapper {
        display: inline-block;
        width: calc(100% - 48px);

        .chat-user-name {
          color: #33475b;

          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 20px;
          display: flex;
          width: calc(100% - 76px);
        }

        .chat-user-lastchat {
          font-size: 12px;
          color: #84919d;
        }

        .chat-user-text {
          margin-left: 1rem;
          margin-bottom: 0rem;
          font-size: 12px;
          width: 0;
          color: #84919d;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: unset;
        }

        .chat-name {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-left: 16px;
        }

        .chat-member {
          margin-left: 3px;
        }
      }
    }

    .chat-empty-wrapper {
      width: 300px;

      .chat-empty-icon-wrapper {
        margin: auto;

        position: relative;
        height: 160px;
        width: 180px;
        // background-color: #eee;
        // border-radius: 50%;

        background-image: url("../images/icons/message.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .chat-empty-search-icon-wrapper {
        margin: auto;

        position: relative;
        height: 160px;
        width: 180px;
        // background-color: #eee;
        // border-radius: 50%;

        background-image: url("../images/icons/chat-empty-search.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .chat-empty-file-icon-wrapper {
        margin: auto;

        position: relative;
        height: 160px;
        width: 180px;
        // background-color: #eee;
        // border-radius: 50%;

        background-image: url("../images/empty_no_folder.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .chat-empty-title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 30px;
        color: #84919d;
        margin-bottom: 8px;
        margin-top: 12px;
      }

      .chat-empty-desc {
        font-size: 12px;
        color: #84919d;
        margin: 0px 33px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
      }
    }
  }

  .chat-list-pin {
    position: relative;
    height: 270px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
      /* make scrollbar transparent */
    }
  }
}

.chat-box-component {
  padding: 0 0 !important;
  background-color: #fff;
  min-width: 490px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;

  .chat-reply-wrapper {
    display: flex;
    background: transparent;
    padding: 0px 14px 14px 14px;
    align-items: flex-end;

    // max-width: 94%;
    .short {
      max-height: 40px;
    }

    .short:not(:focus) {
      max-height: 40px;
    }

    .input-group-text {
      background-color: #fff !important;

      &.disabled {
        background-color: $grey-background !important;
      }
    }

    .reply-message {
      height: 100%;
      border-radius: 20px;

      // border: 1px solid $default-border;
      // border-right: none !important;
      // border-top-left-radius: 20px !important;
      // border-bottom-left-radius: 20px !important;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }

      &:focus {
        // -webkit-box-shadow: none !important;
        // box-shadow: none !important;
        // border-left: 1px solid $default-border !important;
        // border-top: 1px solid $default-border !important;
        // border-bottom: 1px solid $default-border !important;
      }
    }

    .icon-reply-message {
      margin-left: 7px;
      // border-left: none !important;
      // border-top-right-radius: 20px !important;
      // border-bottom-right-radius: 20px !important;
    }

    .reply-message::placeholder {
      // color: #c0c7d5;
    }

    .reply-message:-ms-input-placeholder {
      // color: #c0c7d5;
    }

    .reply-message::-ms-input-placeholder {
      // color: #c0c7d5;
    }

    .chat-reply-message-wrapper {
      height: 100%;
      max-width: calc(100% - 80px);
      // border-right: none !important;
      background: transparent;

      // padding: 4px 10px 4px 12px;
      .reply-message {
        border: unset !important;
      }

      .reply-message-emoji {
        outline: none;
        user-select: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        overflow-y: auto;
        min-height: 28px;
        max-height: 160px;
        cursor: text;
        margin-right: 20px;
        -webkit-user-modify: read-write-plaintext-only;
        height: inherit;
        text-align: initial;

        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }
      }

      .reply-message-emoji[contenteditable="true"] {
        -webkit-user-modify: read-write-plaintext-only;
      }

      [contenteditable][placeholder]:empty:before {
        content: attr(placeholder);
        position: absolute;
        color: $secondary-light-2;
        background-color: transparent;
      }

      .emoji-wrapper {
        width: 20px;
        height: 20px;
        right: 13px;
        bottom: 14px;
        // cursor: pointer;
        position: absolute;
        // background-size: cover;
        // background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFE23B9A3-C8B4-4EAC-B868-79B0A4418E0F%3C/title%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-176.000000, -216.000000)' fill='%236B7884'%3E%3Cg id='ic/good_and_sticker' transform='translate(176.000000, 216.000000)'%3E%3Cpath d='M12.0016177,2 L12.2426368,2.00288196 C17.6624675,2.13212364 21.9995029,6.5678026 21.9995029,12.0002485 C21.9995029,17.5225321 17.5220874,22 11.9997515,22 C6.47741556,22 2,17.5225321 2,12.0002485 C2,6.64888388 6.20853781,2.26475401 11.5167083,2.01150395 L11.7587353,2.00284855 L12.0016177,2 Z M12.0000775,3.40941051 L11.7744702,3.41309005 C7.12619823,3.53273306 3.41020507,7.34003811 3.41020507,12.0002485 C3.41020507,16.7437011 7.25625401,20.5897949 11.9997515,20.5897949 C16.7432489,20.5897949 20.5892979,16.7437011 20.5892979,12.0002485 C20.5892979,7.416435 16.9941419,3.65779195 12.4547923,3.42197181 L12.2270503,3.41312898 L12.0000775,3.40941051 Z M17.0558921,12.8009559 C17.4258227,12.9117563 17.6476445,13.2823816 17.5818223,13.6535081 L17.5614629,13.7390436 L17.4979378,13.9382714 C16.6968723,16.3074657 14.5126908,17.8851656 11.9997515,17.8851656 C9.41682406,17.8851656 7.18096468,16.2184177 6.43802004,13.738977 C6.31876474,13.3408182 6.54531128,12.920486 6.94187788,12.8013281 C7.33809555,12.6791182 7.76149196,12.9070702 7.88162418,13.3060124 C8.43240219,15.1437374 10.0869118,16.377559 11.9997515,16.377559 C13.9124136,16.377559 15.5665606,15.1439031 16.1178498,13.3061092 C16.1754683,13.1134072 16.3053041,12.9538946 16.4825719,12.8581964 C16.6591558,12.7635065 16.8641152,12.7432302 17.0558921,12.8009559 Z M8.70774842,7.90616488 L8.8265066,7.91074162 C9.61029436,7.97138855 10.2278902,8.62721933 10.2278902,9.42681484 C10.2278902,10.2659696 9.54690317,10.9469566 8.70774842,10.9469566 C7.86825193,10.9469566 7.18760664,10.2661361 7.18760664,9.42681484 C7.18760664,8.62706072 7.80489252,7.97137344 8.58894596,7.91074054 L8.70774842,7.90616488 Z M15.2917545,7.90616488 L15.410557,7.91074054 C16.1946104,7.97137344 16.8118963,8.62706072 16.8118963,9.42681484 C16.8118963,10.2661361 16.131251,10.9469566 15.2917545,10.9469566 C14.4525998,10.9469566 13.7716127,10.2659696 13.7716127,9.42681484 C13.7716127,8.62721933 14.3892086,7.97138855 15.1729963,7.91074162 L15.2917545,7.90616488 Z' id='Combined-Shape-Copy-18'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      .ql-toolbar.ql-snow {
        // display: none;
      }

      .ql-container.ql-snow {
        border: none;
      }

      .ql-editor {
        min-height: 40px;
        max-height: 160px;
        width: 360px;
        min-width: 100%;
        padding: 10px 30px 8px 10px;
        border-radius: 20px;
        border: 1px solid $default-border;

        &:focus {
          color: $secondary !important;
          -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
          box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
          border: 1px solid $secondary-light-1 !important;
        }

        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }

        img {
          width: 20px;
          height: 20px;
        }

        &.disabled {
          .ql-editor>* {
            cursor: default !important;
          }
        }
      }

      .ql-editor::before {
        padding-left: 5px;
      }

      .ql-editor.ql-blank::before {
        left: 5px;
        font-size: 14px;
        font-style: unset;
      }
    }
  }

  .image-reply {
    border-radius: 50%;
    padding: 8px;
    background-color: #f6f9fa;
    width: 40px;
    height: 40px;
  }

  .detail-reply-status {
    color: $secondary-light-2;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
  }
}

.chat-info-component {
  padding: 0 0 !important;
  width: 300px;
  min-width: 300px;
  position: relative;
  overflow-x: hidden;
}

.chat-info-wrapper {
  position: relative;
  overflow: hidden;
  word-break: break-all;
  border-top: unset;
  overflow-x: auto;
  height: 100%;
  // &::-webkit-scrollbar {
  //     width: 0px;
  //     background: transparent;
  //     /* make scrollbar transparent */
  // }

  .add {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='14px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='==-Design-Screen-V2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01---UI-Chatcone-V1_Chat-2' transform='translate(-1195.000000, -226.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1280' height='720'%3E%3C/rect%3E%3Cg id='02_input/button/icon+text/01_primary/01_default-copy-9' transform='translate(1194.000000, 224.000000)' fill='%23FF3D57'%3E%3Cg id='ic/plus_circle' transform='translate(1.000000, 2.000000)'%3E%3Cpath d='M7.89058962,1.33922211 C7.38752841,1.39370791 6.99640206,1.81959589 6.99640206,2.33693127 L6.99610215,6.99610215 L2.33693127,6.99640206 C1.78233041,6.99640206 1.33333333,7.4457121 1.33333333,8 L1.33921821,8.10935585 C1.39366896,8.61219898 1.8193038,9.00359794 2.33693127,9.00359794 L6.99610215,9.00295699 L6.99640206,13.6630687 C6.99640206,14.2173566 7.44539914,14.6666667 8,14.6666667 L8.10941038,14.6607779 C8.61247159,14.6062921 9.00359794,14.1804041 9.00359794,13.6630687 L9.00295699,9.00295699 L13.6630687,9.00359794 C14.2176696,9.00359794 14.6666667,8.5542879 14.6666667,8 L14.6607818,7.89064415 C14.606331,7.38780102 14.1806962,6.99640206 13.6630687,6.99640206 L9.00295699,6.99610215 L9.00359794,2.33693127 C9.00359794,1.78264337 8.55460086,1.33333333 8,1.33333333 L7.89058962,1.33922211 Z' id='Path-Copy-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 18px;
    color: $primary;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    background-position: left;

    &:hover {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='14px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='==-Design-Screen-V2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01---UI-Chatcone-V1_Chat-2' transform='translate(-1195.000000, -226.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1280' height='720'%3E%3C/rect%3E%3Cg id='02_input/button/icon+text/01_primary/01_default-copy-9' transform='translate(1194.000000, 224.000000)' fill='%23D83A4F'%3E%3Cg id='ic/plus_circle' transform='translate(1.000000, 2.000000)'%3E%3Cpath d='M7.89058962,1.33922211 C7.38752841,1.39370791 6.99640206,1.81959589 6.99640206,2.33693127 L6.99610215,6.99610215 L2.33693127,6.99640206 C1.78233041,6.99640206 1.33333333,7.4457121 1.33333333,8 L1.33921821,8.10935585 C1.39366896,8.61219898 1.8193038,9.00359794 2.33693127,9.00359794 L6.99610215,9.00295699 L6.99640206,13.6630687 C6.99640206,14.2173566 7.44539914,14.6666667 8,14.6666667 L8.10941038,14.6607779 C8.61247159,14.6062921 9.00359794,14.1804041 9.00359794,13.6630687 L9.00295699,9.00295699 L13.6630687,9.00359794 C14.2176696,9.00359794 14.6666667,8.5542879 14.6666667,8 L14.6607818,7.89064415 C14.606331,7.38780102 14.1806962,6.99640206 13.6630687,6.99640206 L9.00295699,6.99610215 L9.00359794,2.33693127 C9.00359794,1.78264337 8.55460086,1.33333333 8,1.33333333 L7.89058962,1.33922211 Z' id='Path-Copy-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      color: #d83a4f;
    }
  }

  .link {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='14px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='==-Design-Screen-V2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01---UI-Chatcone-V1_Chat-1' transform='translate(-1179.000000, -881.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1280' height='1087'%3E%3C/rect%3E%3Cg id='02_input/button/icon+text/01_primary/01_default-copy-10' transform='translate(1178.000000, 879.000000)' fill='%23FF3D57'%3E%3Cg id='ic/plus_circle' transform='translate(1.000000, 2.000000)'%3E%3Cpath d='M4.4296611,6.49210815 C4.7113509,6.21046643 5.168075,6.21046643 5.44971671,6.49210815 C5.73140651,6.77374987 5.73140651,7.23047396 5.4497648,7.51216376 L5.4497648,7.51216376 L3.40970166,9.55227499 L3.40970166,9.55227499 L3.28021576,9.69351164 C2.95373626,10.0823195 2.77592365,10.5686921 2.77592365,11.0823824 C2.77592365,11.6603322 3.00096774,12.203756 3.40970166,12.6124899 C4.25342465,13.4562129 5.62619359,13.4561648 6.46982041,12.6124899 L6.46982041,12.6124899 L8.50997972,10.5722825 C8.79171761,10.2906408 9.24839362,10.2906408 9.52998725,10.5722825 C9.81167705,10.8539723 9.81167705,11.3106964 9.53003533,11.5923381 L9.53003533,11.5923381 L7.48997219,13.6324493 L7.48997219,13.6324493 L7.32387393,13.7885527 C6.64481771,14.3876218 5.79231342,14.6871752 4.93980912,14.6871752 C4.0162628,14.6871752 3.09276457,14.335616 2.38964605,13.6325455 C1.7084549,12.9513544 1.33333333,12.0456962 1.33333333,11.0823824 C1.33333333,10.1193092 1.70831064,9.21379521 2.38916519,8.53270024 C2.38930944,8.53255598 2.3894537,8.53236363 2.38959796,8.53221937 L2.38959796,8.53221937 Z M9.53008342,5.47200445 C9.81177322,5.19036274 10.2684973,5.19036274 10.550139,5.47200445 C10.8318288,5.75369425 10.8318288,6.21041835 10.550139,6.49206006 L10.550139,6.49206006 L6.46991658,10.5722825 C6.32907168,10.7131274 6.14446821,10.7835739 5.95986473,10.7835739 C5.77530935,10.7835739 5.59070587,10.7131274 5.44986097,10.5722825 C5.16817117,10.2906408 5.16817117,9.8339167 5.44986097,9.55217881 L5.44986097,9.55217881 Z M8.66397489,2.2665651 C10.0784241,1.00753501 12.2543379,1.05591607 13.6103059,2.41183762 C14.291497,3.09302876 14.6666667,3.99868696 14.6666667,4.96200069 C14.6666667,5.92507398 14.2916413,6.83058792 13.6107867,7.5116829 L13.6107867,7.5116829 L11.5702908,9.55227499 C11.4294459,9.69311989 11.2448424,9.76356638 11.060239,9.76356638 C10.8756836,9.76356638 10.6910801,9.69311989 10.5502352,9.55227499 C10.2685454,9.27058518 10.2685454,8.81386109 10.5501871,8.53221937 L10.5501871,8.53221937 L12.5902503,6.49210815 L12.5902503,6.49210815 C12.9990323,6.08322997 13.2240764,5.53990237 13.2240764,4.96200069 C13.2240764,4.38405092 12.9989361,3.84062715 12.5902503,3.43189323 C11.7465273,2.58821833 10.3737583,2.58826641 9.5301315,3.43189323 L9.5301315,3.43189323 L7.48987602,5.47210062 C7.34907921,5.61294553 7.16442765,5.68339202 6.97987226,5.68339202 C6.79526878,5.68339202 6.6107134,5.61299361 6.46982041,5.47210062 C6.18813061,5.19045891 6.18813061,4.73368673 6.46982041,4.45204501 L6.46982041,4.45204501 L8.50983546,2.41207805 L8.50983546,2.41207805 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 18px;
    color: $primary;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    background-position: left;
  }

  .empty {
    width: auto;
    color: #c2c8cd;
    font-size: 14px;

    font-weight: 400;
    text-align: left;
    letter-spacing: 0;
    line-height: 20px;
  }

  .num {
    color: #84919d;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 4px;
  }

  .collapse {
    cursor: pointer;
  }
}

.chat-profile-wrapper {
  position: relative;
  display: flex;
  padding: 12px;

  .image-wrapper {
    width: 52px;
    height: 52px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;

    .reply-message {
      border: unset !important;
    }

    .img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .avatar {
      height: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
    }

    .w-avatar {
      width: calc(50% - 1px);
    }

    .h-avatar {
      height: calc(50% - 1px);
    }

    .avatar-1 {
      left: 0;
      top: 0;
    }

    .avatar-2 {
      right: 0;
      top: 0;
    }

    .avatar-3 {
      left: 0;
      bottom: 0;
    }

    .avatar-4 {
      right: 0;
      bottom: 0;
    }
  }

  .profile-name {
    font-size: 16px;

    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    color: $secondary;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-align: center;
  }

  .profile-member {
    font-size: 16px;

    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    color: $secondary;
  }

  .icon-type {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.chat-profile-name-input {
    font-size: 16px;
    font-weight: 600;
  
    padding: 10px 5px 5px;
    // margin: 10px 0 5px 0;
    resize: none;

    &:focus {
      -webkit-appearance: none !important;
      box-shadow: none !important;
    }

    &:hover {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='19px' viewBox='0 0 18 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='==-Design-Screen-V2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01---UI-Chatcone-V1_Chat-1' transform='translate(-1247.000000, -189.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1280' height='1087'%3E%3C/rect%3E%3Cg id='ic/edit_inline-copy-6' transform='translate(1247.000000, 189.000000)' fill='%236B7884'%3E%3Cpath d='M14.8691958,15.1133917 C15.2520971,15.1133917 15.5625,15.4237945 15.5625,15.8066958 C15.5625,16.1895971 15.2520971,16.5 14.8691958,16.5 L3.13080417,16.5 C2.74790285,16.5 2.4375,16.1895971 2.4375,15.8066958 C2.4375,15.4237945 2.74790285,15.1133917 3.13080417,15.1133917 L14.8691958,15.1133917 Z M10.6344524,1.99236336 C11.1796086,1.4545572 12.0557121,1.4545572 12.6008684,1.99236336 L12.6008684,1.99236336 L14.615525,3.97985723 C14.6200345,3.9843059 14.6245137,3.98878513 14.6289624,3.9932946 C15.1719732,4.54372664 15.1659571,5.43013719 14.615525,5.97314799 L14.615525,5.97314799 L7.22907133,13.2600132 C6.96708769,13.5184646 6.61387496,13.6633678 6.24586332,13.6633678 L6.24586332,13.6633678 L3.81207305,13.6633678 C3.2597883,13.6633678 2.81207305,13.2156525 2.81207305,12.6633678 L2.81207305,12.6633678 L2.81207305,10.2947495 C2.81207305,9.92015278 2.96219352,9.56118026 3.22886504,9.29810416 L3.22886504,9.29810416 Z M11.8984308,3.44034772 C11.7426719,3.28668882 11.4923566,3.28668882 11.3365976,3.44034772 L11.3365976,3.44034772 L4.6443653,10.0423514 C4.45388564,10.2302629 4.34665673,10.4866719 4.34665673,10.754241 L4.34665673,10.754241 L4.34665673,11.7489336 C4.34665673,11.9698475 4.52574283,12.1489336 4.74665673,12.1489336 L4.74665673,12.1489336 L5.77407727,12.1489336 C6.03694272,12.1489336 6.28923753,12.0454313 6.4763687,11.8608231 L6.4763687,11.8608231 L13.1665306,5.26086194 C13.1678191,5.25959089 13.1690988,5.25831111 13.1703699,5.25702269 C13.3255158,5.09975639 13.3237969,4.84649623 13.1665306,4.69135029 L13.1665306,4.69135029 Z' id='Combined-Shape-Copy-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: right center;

    }

    &::-webkit-scrollbar {
      width: 0px !important;
      height: 0px !important;
      background: transparent;
      /* make scrollbar transparent */
    }
}

.chat-contact-wrapper {
  display: block;
  padding: 12px;

  .input-key {
    color: $secondary-light-2 !important;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
  }

  .label-input {
    left: 0;
    top: -8px;
  }

  .input-contact {
    padding: 0;
    margin: 10px 0 5px 0;
    resize: none;

    &:focus {
      -webkit-appearance: none !important;
      box-shadow: none !important;
      border-bottom: 1px solid $secondary-light-2 !important;
      border-radius: 0px;
    }

    &:hover {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='19px' viewBox='0 0 18 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='==-Design-Screen-V2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01---UI-Chatcone-V1_Chat-1' transform='translate(-1247.000000, -189.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1280' height='1087'%3E%3C/rect%3E%3Cg id='ic/edit_inline-copy-6' transform='translate(1247.000000, 189.000000)' fill='%236B7884'%3E%3Cpath d='M14.8691958,15.1133917 C15.2520971,15.1133917 15.5625,15.4237945 15.5625,15.8066958 C15.5625,16.1895971 15.2520971,16.5 14.8691958,16.5 L3.13080417,16.5 C2.74790285,16.5 2.4375,16.1895971 2.4375,15.8066958 C2.4375,15.4237945 2.74790285,15.1133917 3.13080417,15.1133917 L14.8691958,15.1133917 Z M10.6344524,1.99236336 C11.1796086,1.4545572 12.0557121,1.4545572 12.6008684,1.99236336 L12.6008684,1.99236336 L14.615525,3.97985723 C14.6200345,3.9843059 14.6245137,3.98878513 14.6289624,3.9932946 C15.1719732,4.54372664 15.1659571,5.43013719 14.615525,5.97314799 L14.615525,5.97314799 L7.22907133,13.2600132 C6.96708769,13.5184646 6.61387496,13.6633678 6.24586332,13.6633678 L6.24586332,13.6633678 L3.81207305,13.6633678 C3.2597883,13.6633678 2.81207305,13.2156525 2.81207305,12.6633678 L2.81207305,12.6633678 L2.81207305,10.2947495 C2.81207305,9.92015278 2.96219352,9.56118026 3.22886504,9.29810416 L3.22886504,9.29810416 Z M11.8984308,3.44034772 C11.7426719,3.28668882 11.4923566,3.28668882 11.3365976,3.44034772 L11.3365976,3.44034772 L4.6443653,10.0423514 C4.45388564,10.2302629 4.34665673,10.4866719 4.34665673,10.754241 L4.34665673,10.754241 L4.34665673,11.7489336 C4.34665673,11.9698475 4.52574283,12.1489336 4.74665673,12.1489336 L4.74665673,12.1489336 L5.77407727,12.1489336 C6.03694272,12.1489336 6.28923753,12.0454313 6.4763687,11.8608231 L6.4763687,11.8608231 L13.1665306,5.26086194 C13.1678191,5.25959089 13.1690988,5.25831111 13.1703699,5.25702269 C13.3255158,5.09975639 13.3237969,4.84649623 13.1665306,4.69135029 L13.1665306,4.69135029 Z' id='Combined-Shape-Copy-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: right bottom;
      border-bottom: 1px solid $secondary-light-2 !important;
      border-radius: 0px;
    }

    &::-webkit-scrollbar {
      width: 0px !important;
      height: 0px !important;
      background: transparent;
      /* make scrollbar transparent */
    }
  }


  .collapse i.status[aria-expanded="false"] {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.15s all ease;
  }

  
  .collapse i.status[aria-expanded="true"] {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 0.15s all ease;
  }
}

.chat-wrapper .collapse[aria-expanded="true"] i.status {
  //   font-size: 10px;
  //   position: absolute;
  //   top: 23px;
  //   right: 12px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.15s all ease;
}

.chat-wrapper .collapse[aria-expanded="true"] i.status {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.chat-user-tags-wrapper {
  padding: 12px;

  .dropdown-menu.show {
    box-shadow: 0px 0px 16px -1px #00000029;
  }
}

.tag-wrapper {
  margin: 0 -0.25rem;
}

.tag-container {
  border-radius: 12px;
  background-color: #eef3f7;
  color: $secondary;
  font-size: 14px;
  text-align: center;
  padding: 0rem 0.4rem;
  min-height: 20px;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
  &.tag-border {
    border: 1px solid #9e9e9e !important
  }
}

.delete-tag {
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 12 12' fill='%236B7884' %3E%3Cpath d='M6,1 C8.76142375,1 11,3.23857625 11,6 C11,8.76142375 8.76142375,11 6,11 C3.23857625,11 1,8.76142375 1,6 C1,3.23857625 3.23857625,1 6,1 Z M7.72845993,3.63241736 L6,5.36087729 L4.27154007,3.63241736 C4.09514478,3.45602207 3.80913495,3.45569977 3.63241736,3.63241736 C3.45569977,3.80913495 3.45602207,4.09514478 3.63241736,4.27154007 L5.36087729,6 L3.63241736,7.72845993 C3.45569977,7.90517752 3.45602207,8.19118735 3.63241736,8.36758264 C3.80881265,8.54397793 4.09482248,8.54430023 4.27154007,8.36758264 L6,6.63912271 L7.72845993,8.36758264 C7.90485522,8.54397793 8.19086505,8.54430023 8.36758264,8.36758264 C8.54430023,8.19086505 8.54397793,7.90485522 8.36758264,7.72845993 L6.63912271,6 L8.36758264,4.27154007 C8.54430023,4.09482248 8.54397793,3.80881265 8.36758264,3.63241736 C8.19118735,3.45602207 7.90517752,3.45569977 7.72845993,3.63241736 Z' %3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  margin-left: 5px;

  &:hover {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 12 12' fill='%2333475B' %3E%3Cpath d='M6,1 C8.76142375,1 11,3.23857625 11,6 C11,8.76142375 8.76142375,11 6,11 C3.23857625,11 1,8.76142375 1,6 C1,3.23857625 3.23857625,1 6,1 Z M7.72845993,3.63241736 L6,5.36087729 L4.27154007,3.63241736 C4.09514478,3.45602207 3.80913495,3.45569977 3.63241736,3.63241736 C3.45569977,3.80913495 3.45602207,4.09514478 3.63241736,4.27154007 L5.36087729,6 L3.63241736,7.72845993 C3.45569977,7.90517752 3.45602207,8.19118735 3.63241736,8.36758264 C3.80881265,8.54397793 4.09482248,8.54430023 4.27154007,8.36758264 L6,6.63912271 L7.72845993,8.36758264 C7.90485522,8.54397793 8.19086505,8.54430023 8.36758264,8.36758264 C8.54430023,8.19086505 8.54397793,7.90485522 8.36758264,7.72845993 L6.63912271,6 L8.36758264,4.27154007 C8.54430023,4.09482248 8.54397793,3.80881265 8.36758264,3.63241736 C8.19118735,3.45602207 7.90517752,3.45569977 7.72845993,3.63241736 Z' %3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 12px 12px;
  }
}

.chat-note-wrapper {
  padding: 12px;

  [contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: $secondary-light-2;
    background-color: transparent;
  }

  .input-note {
    border: 1px solid $default-border !important;
    border-radius: 4px;
    position: relative;
    color: $secondary;
    cursor: text;
    overflow-x: auto;
    padding: 10px 14px 44px 14px;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    &:focus {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;
      height: 100%;
    }

    &:read-only {
      color: $secondary !important;
    }
  }

  .show-more {
    color: $primary;
    font-size: 12px;
    font-weight: 500;
    width: 77px;
    cursor: pointer;
    text-align: left;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%23FF3D57'%3E%3Cpath d='M7.03318827,3.5185804 C6.62065319,4.04334751 6.65934586,4.80144227 7.14831982,5.28250182 L13.9764825,11.9999568 L7.14808042,18.7174857 C6.61838905,19.2387382 6.61712248,20.0846606 7.14539605,20.607208 C7.40292258,20.8617119 7.74786613,21 8.1047353,21 C8.46045854,21 8.80422884,20.8626907 9.06125249,20.6099914 L16.8518369,12.9461891 C17.1066071,12.6961408 17.25,12.3553011 17.25,12.0000217 C17.25,11.645102 17.1067045,11.3048401 16.8521325,11.0541128 L9.06143198,3.38996896 C8.53160774,2.86905727 7.6743096,2.87016049 7.14588329,3.39238668 L7.03318827,3.5185804 Z' transform='translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) '%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px 12px;
  }

  .show-less {
    color: $primary;
    font-size: 12px;
    font-weight: 500;
    width: 70px;
    cursor: pointer;
    text-align: left;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%23FF3D57'%3E%3Cpath d='M7.03318827,3.5185804 C6.62065319,4.04334751 6.65934586,4.80144227 7.14831982,5.28250182 L13.9764825,11.9999568 L7.14808042,18.7174857 C6.61838905,19.2387382 6.61712248,20.0846606 7.14539605,20.607208 C7.40292258,20.8617119 7.74786613,21 8.1047353,21 C8.46045854,21 8.80422884,20.8626907 9.06125249,20.6099914 L16.8518369,12.9461891 C17.1066071,12.6961408 17.25,12.3553011 17.25,12.0000217 C17.25,11.645102 17.1067045,11.3048401 16.8521325,11.0541128 L9.06143198,3.38996896 C8.53160774,2.86905727 7.6743096,2.87016049 7.14588329,3.39238668 L7.03318827,3.5185804 Z' transform='translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) '%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px 12px;
  }

  .add-ellipsis {
    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  .button {
    bottom: 20px;
    position: absolute;
    right: 14px;

    .cancel {
      width: 72px;
      font-weight: 500;
    }

    .save {
      width: 72px;
      margin-left: 8px;
      font-weight: 500;
    }
  }

  .name {
    color: $secondary;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85px;
  }

  .date {
    color: $secondary-light-2;
    margin-left: 4px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
  }
}

.chat-linked-contacts-wrapper {
  padding: 12px;
}

.chat-system-tags-wrapper {
  padding: 12px;
}

.chat-box-wrapper {
  position: relative;
  border-left: 1px solid $border-grey;
  border-right: 1px solid $border-grey;

  .chat-box-list {
    /* scroll-behavior: smooth; */
    width: 100%;
    transform: translateZ(0px);
    overflow-y: hidden;
    // height: calc(96vh - 208px);
    -webkit-box-flex: 1 !important;
    flex: 1 1 auto !important;

    .chat-file {
      border-radius: 6px;
      padding: 12px 12px 10px;
      // cursor: pointer;
      background-color: $white;

      letter-spacing: 0;
      max-width: 300px;

      .file-name {
        color: $secondary;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }

      .file-desc {
        color: $secondary-light-1;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .download {
      font-size: 12px;
      color: #33475b;
      cursor: pointer;
    }

    .line {
      display: block;
    }

    .line p {
      font-size: 12px;
      color: #84919d;
      text-align: center;
      border-bottom: 1px solid #e3e8ec;
      position: relative;
    }

    .line p span {
      background: #f6f9fa 0% 0% no-repeat padding-box;
      position: relative;
      top: 10px;
      // padding: 0 10px;
    }

    .lineDate {
      display: block;
      margin: 20px 0;
    }

    .lineDate span {
      font-size: 12px;
      color: #fff;
      text-align: center;
      background: #ff3d57 0% 0% no-repeat padding-box;
      position: relative;
      padding: 2px 16px;
      border-radius: 10px;
      letter-spacing: 1px;
    }
  }

  .scroll-to-bottom {
    color: $white;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 20px;
    background-color: #536a85;
    box-shadow: 0 2px 4px 0 rgba(107, 120, 132, 0.2);
    position: absolute;
    right: 1rem;
    top: -3rem;
  }

  .btn--done {
    display: inline-block;
    text-align: center;
    color: $white;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='%23FFFFFF' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M7.2,10.8 C6.81340068,11.1865993 6.81340068,11.8134007 7.2,12.2 L11,16 L11,16 L20.3,6.7 C20.6865993,6.31340068 20.6865993,5.68659932 20.3,5.3 C19.9134007,4.91340068 19.2865993,4.91340068 18.9,5.3 L11,13.2 L11,13.2 L8.6,10.8 C8.21340068,10.4134007 7.58659932,10.4134007 7.2,10.8 Z M20,12 C20,16.4 16.4,20 12,20 C7.6,20 4,16.4 4,12 C4,7.6 7.6,4 12,4 C12.8,4 13.5,4.1 14.2,4.3 L15.8000392,2.7 C14.6,2.3 13.3,2 12,2 C6.5,2 2,6.5 2,12 C2,17.5 6.5,22 12,22 C17.5,22 22,17.5 22,12 L20,12 Z' id='Shape'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px 3px;
    background-color: #28c10b;
    border: 1px solid #28c10b;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    padding: 3px 9px 3px 25px;

    &:hover {
      background-color: #209a09;
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}

.chat-box-filter {
  display: flex;
  align-items: center;
  z-index: 3;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 12px;
  height: 57px;
  border-bottom: 1px solid $border-grey;

  .btn--secondary {
    // padding: 0.22rem 0.75rem;
  }

  .btn-dd {
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #eee;
    }
  }

  a.dropdown-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .line-y {
    border-left: 1px solid #eff1f4;
    height: 32px;
    display: inline;
    padding: 7px 5px;
    margin-left: 12px;
  }

  .custom-control-label {
    line-height: 24px;
  }

  .custom-control {
    z-index: unset !important;
  }
}

.chat-message-template {
  display: flex;
  height: 500px;

  .item-wrapper-header[aria-expanded="true"] i.status {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.15s all ease;
  }

  .item-wrapper-header[aria-expanded="true"] i.status {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .item-wrapper-body {
    cursor: pointer;

    &:hover {
      background-color: $grey-background;
    }
  }
}

#chatbox,
#chatbox-import {
  background: #f6f9fa 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border-verified {
  border: 1px solid #28c10b !important;
}

.border-unverified {
  border: 1px solid $secondary-light-1 !important;
  border-radius: 4px;
  padding: 1px 6px;
  color: $secondary-light-1;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.border-logout {
  border: 1px solid $secondary-light-1  !important;
  border-radius: 4px;
  padding: 1px 6px;
  color: $secondary-light-1;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.verified {
  box-sizing: border-box;
  padding: 1px 6px;
  border: 1px solid #28c10b;
  border-radius: 4px;
  color: #28c10b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;

  svg {
    fill: #28c10b;
  }
}

.un-verified {
  box-sizing: border-box;
  padding: 1px 6px;
  border: 1px solid $border-grey;
  border-radius: 4px;
  color: $secondary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;

  svg {
    fill: $secondary-light-2;
  }
}

.scroll-chat-panel {
  color: white;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 20px;
  background-color: #536a85;
  box-shadow: 0 2px 4px 0 rgba(107, 120, 132, 0.2);
  position: sticky;
  bottom: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.chat-tool-wrapper {
  width: 100%;
  padding: 10px 14px 12px 14px;
  background-color: #fff;
  border-top: 1px solid $border-grey;
}

.reply-message {
  color: $secondary-light-2;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.profile-sub {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  color: $secondary-light-2;
}

.rectangle-me {
  box-sizing: border-box;
  height: 21px;
  width: 37px;
  border: 1px solid #fbcfd3;
  border-radius: 10px;
  background-color: #ffffff;

  color: #ff3d57;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-expired {
  height: 20px;
  width: 60px;
  border-radius: 11px;
  background-color: #f8eff0;

  color: #ff3d57;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-missed {
  height: 20px;
  width: 58px;
  border-radius: 11px;
  background-color: #f8eff0;

  color: #ff3d57;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-done {
  height: 20px;
  width: 48px;
  border-radius: 11px;
  background-color: #eaf8e7;

  color: #28c10b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-following {
  height: 20px;
  width: 72px;
  border-radius: 11px;
  background-color: #ebecfd;

  color: #3e4cea;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.chat-info-title {
  color: $secondary;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}

.rectangle-block {
  height: 20px;
  width: 60px;
  border-radius: 11px;
  background-color: #edf3f7;

  color: #33475b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-contact-expired {
  height: 20px;
  width: 102px;
  border-radius: 11px;
  background-color: #edf3f7;

  color: #33475b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-assigned {
  height: 20px;
  width: 68px;
  border-radius: 11px;
  background-color: #fef6e9;

  color: #db900e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

.rectangle-notify {
  height: 14px;
  min-width: 14px;
  border-radius: 10px;
  background-color: #ff3d57;

  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding: 0 4px;
}

.rectangle-agent {
  box-sizing: border-box;
  height: 21px;
  border: 1px solid $border-grey;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  color: $secondary;
  font-size: 12px;
  letter-spacing: 0;
  // line-height: 20px;

  span {
    display: inline-block;
    max-width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.text-countdown-time {
  color: $primary;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
}

.rectangle-queue {
  box-sizing: border-box;
  height: 21px;
  border: 1px solid #33475B;
  border-radius: 10px;
  background-color: #33475B;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0;
  // line-height: 20px;

  span {
    display: inline-block;
    max-width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

//   _____ _    _       _______    _____ _______    _______ _    _  _____
//  / ____| |  | |   /\|__   __|  / ____|__   __|/\|__   __| |  | |/ ____|
// | |    | |__| |  /  \  | |    | (___    | |  /  \  | |  | |  | | (___
// | |    |  __  | / /\ \ | |     \___ \   | | / /\ \ | |  | |  | |\___ \
// | |____| |  | |/ ____ \| |     ____) |  | |/ ____ \| |  | |__| |____) |
//  \_____|_|  |_/_/    \_\_|    |_____/   |_/_/    \_\_|   \____/|_____/

.chat-status-available {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border: 1px solid #f6f9fa;
  border-radius: 50%;
  background-color: #28c10b;
  position: absolute;
  top: 0;
  right: -1px;
}

.chat-status-away {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border: 1px solid #f6f9fa;
  border-radius: 50%;
  background-color: #ff3d57;
  position: absolute;
  top: 0;
  right: -1px;
}

.title-chat-status {
  display: block;
  color: $secondary;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.detail-chat-status {
  display: block;
  margin-top: 8px;
  color: $secondary-light-1;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.active-status {
  height: 18px;
  width: 70px;
  color: $secondary;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.available {
  height: 20px;
  width: 58px;
  color: #28c10b;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.away {
  height: 20px;
  width: 35px;
  color: #ff3d57;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.detail-status {
  height: 36px;
  width: 195px;
  color: $secondary-light-2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

.system-tags {
  color: $secondary;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}

.detail-system-tags {
  border-radius: 4px;
  background-color: #f6f9fa;
  padding: 11px;
}

.key-verify {
  color: #84919d;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

.value-verify {
  color: $secondary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

// icon

.color-icon-arrow {
  color: $secondary-light-2;
}

// dropdown

.text-dropdown-filter-type {
  color: $secondary;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
}

.dropdown-item__add-tag {
  border: none !important;
  box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  -webkit-box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  -moz-box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);

  .height-checkbox {
    max-height: 150px;
    overflow-y: auto;
  }

  .dropdown-menu-arrow {
    top: -25px;
    left: 80%;
    width: 0;
    height: 0;
    position: relative;
  }

  .dropdown-item {
    font-size: 12px !important;
    color: $secondary;
    padding: 0.25rem 0.5rem;
    white-space: normal;
  }

  .dropdown-item-add-tag {
    font-size: 12px !important;
    text-align: center;
    color: $secondary;
    background-color: $grey-background;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

.dropdown-item__add-tag-contact {
  border: none !important;
  box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  -webkit-box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  -moz-box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  top: 5px !important;
  left: -164px !important;

  .height-checkbox {
    max-height: 150px;
    overflow-y: auto;
  }

  .dropdown-menu-arrow {
    top: -25px;
    left: 80%;
    width: 0;
    height: 0;
    position: relative;
  }

  .dropdown-item {
    font-size: 12px !important;
    color: $secondary;
    padding: 0.25rem 0.5rem;
    white-space: normal;
  }

  .dropdown-item-add-tag {
    font-size: 12px !important;
    text-align: center;
    color: $secondary;
    background-color: $grey-background;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

.dropdown-item__chat-status {
  width: 400px;
  left: -190px !important;
  margin-top: 10px !important;
  border: none !important;
  box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  -webkit-box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);
  -moz-box-shadow: 0 0 12px 0 rgba(132, 145, 157, 0.3);

  .dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
  }

  .b-dropdown-text {
    padding: 10px 20px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-bottom: 0rem;
    color: white;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    padding-left: 7px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: $btn_switch_f;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px $btn_switch_f;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}

.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.detail-switch-chat {
  color: $secondary;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;

  .time {
    color: $primary;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    display: inline-block;
    width: 50px;
  }
}

.switch-chat {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 22px;
  margin-bottom: 0rem;
  color: white;

  span {
    font-size: 10px;

    padding: 4px;
  }
}

.switch-chat input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-chat {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $switch_chat_t;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 34px;
  padding-left: 7px;
}

.slider-chat:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

input:checked+.slider-chat {
  background-color: $switch_chat_f;
}

input:focus+.slider-chat {
  box-shadow: 0 0 1px $switch_chat_f;
}

input:checked+.slider-chat:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #243342 !important;
  background-color: #32475a !important;
}

.input-search_message-border {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-right: none;
}

.input-search_message {
  background: $white;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  border-left: none;
  padding: 4.5px 5px;

  &:hover {
    color: $secondary;
  }
}

.input_search_message-end {
  padding-right: 15px;
  border-left: none !important;
  border-left: 1px solid $border-grey;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-right: 1px solid $border-grey;
}

// fixed class
.jHRaTl,
.ezAOKX .iERGct {
  padding-left: 20px;
}

.space-input {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;

  p {
    margin-bottom: 0;
  }
}

.space-text {
  padding-top: 20px;
  padding-bottom: 2px;
  padding-right: 16.5px;
  padding-left: 16.5px;

  p {
    margin-bottom: 0;
  }
}

.sidebar-wrapper {
  // overflow-y: scroll;
  //   // overflow-x: hidden;
  width: 300px;
  border: 1px solid #d8cfcf;
  position: absolute;
  background-color: #ffffff;
  right: -300px;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 10;
  &.active {
    right: 0;
    z-index: 10;
  }

  .toggle-sidebar-wrapper {
    opacity: 1;

    &.active {
      opacity: 0;
    }

    border: 1px solid #d8cfcf;
    position: absolute;
    top: 0;
    left: -76px;
    background-color: #ffffff;
    width: 76px;
    height: 76px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;

    .toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .toggle-avatar {
        padding: 0.75em;

        img {
          border-radius: 100%;
        }

        .image-wrapper {
          width: 48px;
          height: 48px;
          position: relative;
          overflow: hidden;
          vertical-align: middle;
          border-radius: 50%;

          .img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }

          .avatar {
            height: 100%;
            background-size: cover;
            background-position: center;
            position: absolute;
          }

          .w-avatar {
            width: calc(50% - 1px);
          }

          .h-avatar {
            height: calc(50% - 1px);
          }

          .avatar-1 {
            left: 0;
            top: 0;
          }

          .avatar-2 {
            right: 0;
            top: 0;
          }

          .avatar-3 {
            left: 0;
            bottom: 0;
          }

          .avatar-4 {
            right: 0;
            bottom: 0;
          }
        }

        .chat-icon-line {
          z-index: 0;
          width: 18px;
          height: 18px;
          // border-radius: 50%;
          border-radius: 50%;
          // border: 1px solid #ffffff;
          position: absolute;
          bottom: 0;
          right: 0;
          background-image: url("../images/icons/line.svg");
          // background-color: white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .toggle-icon {
        .icon {
          display: flex;
          padding-left: 4px;
          // justify-content: center;
          align-items: center;
          height: 100%;
          left: -10px;
          top: 10px;
          position: absolute;

          width: 20px;
          height: 20px;
          background: #ff3d57;
          border-radius: 100%;
          color: #ffffff;
        }
      }
    }
  }

  .toggle-icon-wrapper {
    opacity: 0;
    font-size: 12px;
    transition: all 0.5s ease;

    &.active {
      opacity: 1;

      .icon {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .icon {
      display: flex;
      padding-left: 4px;
      // justify-content: center;
      align-items: center;
      height: 100%;
      left: -10px;
      top: 20px;
      position: absolute;

      width: 20px;
      height: 20px;
      background: #ff3d57;
      border-radius: 100%;
      color: #ffffff;
    }
  }
}

.chatpreview-component {
  position: relative;
  overflow: auto;
  
  .jzNQrT {
    height: auto;
  }
}