.dropdown__contact-list {
  min-width: 129px;
  max-width: 129px;
  background: #fff;
  border-radius: 4px;

  &.show {
    .btn {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;

      span {
        color: $secondary !important;
      }
    }
  }

  .btn {
    border: 1px solid $border-grey;
    border-radius: 4px;
    span {
      color: $secondary-light-2;
    }

    i {
      color: $secondary-light-2;
    }
  }

  div {
    font-size: 14px;
    color: $dropdown_primary;
  }

  .dropdown-toggle {
    padding: 0.22rem 0.75rem;
  }

  .dropdown-item__contact-list {
    left: 0px !important;
    min-width: 129px !important;
    padding: 0 0 !important;
    max-height: 260px;
    overflow-y: auto;

    .dropdown-item {
      // height: 46px;
      align-self: center !important;
      padding: 0.344rem 1rem;
      font-size: 14px;
    }
  }
}

.dropdown__assignee {
  min-width: 120px;
  max-width: 120px;
  border-radius: 4px;
  border: 1px solid $border-grey;

  .dropdown-toggle {
    padding: 0.344rem 1rem;
  }

  div {
    font-size: 14px;
    font-weight: 500;
    color: $secondary;
  }

  .dropdown-toggle {
    padding: 0.22rem 0.75rem;
  }

  .dropdown-item__assignee {
    // left: 280px !important;
    min-width: 300px !important;
    max-width: 300px !important;
    overflow-x: auto;
    padding: 5px 5px !important;
    max-height: 350px;

    .dropdown-item {
      margin-top: 1px;
      align-self: center !important;
      font-size: 14px;
      padding: 0;

      .status {
        height: 20px;
        width: 60px;
        border-radius: 11px;
        background-color: #edf3f7;

        color: #33475b;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
      }
      #agent-list {
        padding: 0.344rem 0.5rem;
      }
      &.disabled {
        opacity: 1;
        #agent-img,
        #agent-name {
          opacity: 0.5;
        }
      }
    }

    .dropdown-item:hover {
      border-radius: 5px;
    }
  }

  .input-search {
    font-size: 14px;
  }

  .input-group {
    width: 250px;
    margin: 5px 10px;
  }

  .input-group-text {
    border-top-left-radius: 23px !important;
    border-bottom-left-radius: 23px !important;
    color: #a6b6c4;
    background-color: #fff !important;
  }

  .input-border {
    border-left: none !important;
    border-top-right-radius: 23px !important;
    border-bottom-right-radius: 23px !important;
    padding: 0px !important;
  }
}

.dropdown__chat-panel {
  min-width: 150px;
  max-width: 150px;
  height: 32px;
  box-sizing: border-box;
  background: #fff;

  &.show {
    .btn {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;

      span {
        color: $secondary !important;
      }
    }
  }

  .btn {
    border: 1px solid $border-grey;
    border-radius: 4px;
    span {
      color: $secondary-light-2;
    }

    i {
      color: $secondary-light-2;
    }
  }

  div {
    font-size: 14px;
    color: $dropdown_primary;
  }

  .dropdown-toggle {
    padding: 0.275rem 0.75rem;
  }

  .dropdown-item__chat-panel {
    // left: 129px !important;
    min-width: 129px !important;
    max-width: 200px !important;
    padding: 0 0 !important;
    max-height: 260px;
    overflow-y: auto;

    .dropdown-item {
      align-self: center !important;
      padding: 0.344rem 1rem;
    }
  }
}

.dropdown__chat-filter-agent {
  min-width: 150px;
  max-width: 150px;
  height: 32px;
  box-sizing: border-box;
  background: #fff;

  &.show {
    .btn {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;

      span {
        color: $secondary !important;
      }
    }
  }

  .btn {
    border: 1px solid $border-grey;
    border-radius: 4px;
    span {
      color: $secondary-light-2;
    }

    i {
      color: $secondary-light-2;
    }
  }

  div {
    font-size: 14px;
    color: $dropdown_primary;
  }

  .dropdown-toggle {
    padding: 0.275rem 0.75rem;
  }

  .dropdown-item__chat-filter-agent {
    // left: 129px !important;
    min-width: 300px !important;
    max-width: 300px !important;
    padding: 0 0 !important;
    max-height: 260px;
    overflow-y: auto;

    .dropdown-item {
      align-self: center !important;
      padding: 0.344rem 1rem;
    }
  }
}

.dropdown__chat-filter {
  .dropdown-item__chat-filter {
    min-width: 150px;
  }
}

.dropdown-item {
  font-size: 14px;
}

.dropdown-item:hover {
  color: $secondary;
  background-color: $dropdown_item_hover;
}

.dropdown-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $primary;
  text-decoration: none;
  background-color: $dropdown_item_active;
}

.b-dropdown .main-menu {
  max-width: 35em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.b-dropdown .sub-menu {
  max-width: 40em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.dropdown,
.b-dropdown {
  // .btn[aria-expanded="true"] i {
  //   -webkit-transform: rotate(180deg);
  //   -moz-transform: rotate(180deg);
  //   -ms-transform: rotate(180deg);
  //   -o-transform: rotate(180deg);
  //   transform: rotate(180deg);
  // }
}

.dropdown__log {
  min-width: 200px;
  max-width: 200px;
  background: #fff;
  border-radius: 4px;

  &.show {
    .btn {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;

      span {
        color: $secondary !important;
      }
    }
  }

  .btn {
    border: 1px solid $border-grey;
    border-radius: 4px;
    span {
      color: $secondary-light-2;
    }

    i {
      color: $secondary-light-2;
    }
  }

  div {
    font-size: 14px;
    color: $dropdown_primary;
  }

  .dropdown-toggle {
    padding: 0.22rem 0.75rem;
  }

  .dropdown-item__log {
    left: 0px !important;
    min-width: 200px !important;
    padding: 0 0 !important;
    max-height: 260px;
    overflow-y: auto;

    .dropdown-item {
      // height: 46px;
      align-self: center !important;
      padding: 0.344rem 1rem;
      font-size: 14px;
    }
  }
}

.dropdown__data_type {
  min-width: 100%;
  max-width: 100%;
  height: 32px;
  box-sizing: border-box;
  background: #fff;

  &.show {
    .btn {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;

      span {
        color: $secondary !important;
      }
    }
  }

  .btn {
    border: 1px solid $border-grey;
    border-radius: 4px;
    span {
      color: $secondary-light-2;
    }

    i {
      color: $secondary-light-2;
    }
  }

  div {
    font-size: 14px;
    color: $dropdown_primary;
  }

  .dropdown-toggle {
    padding: 0.275rem 0.75rem;
  }

  .dropdown-item__data_type {
    // left: 129px !important;
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0 0 !important;
    max-height: 260px;
    overflow-y: auto;

    .dropdown-item {
      align-self: center !important;
      padding: 0.344rem 1rem;
    }
  }
}
.custom-select option:disabled {
  color: rgb(197, 197, 197);
}

.dropdown__chat-import {
  min-width: 110px;
  max-width: 110px;
  height: 32px;
  box-sizing: border-box;
  background: #fff;

  &.show {
    .btn {
      -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
      border: 1px solid $secondary-light-1 !important;

      span {
        color: $secondary !important;
      }
    }
  }

  .btn {
    border: 1px solid $border-grey;
    border-radius: 4px;
    span {
      color: $secondary-light-2;
    }

    i {
      color: $secondary-light-2;
    }
  }

  div {
    font-size: 14px;
    color: $dropdown_primary;
  }

  .dropdown-toggle {
    padding: 0.275rem 0.75rem;
  }

  .dropdown-item__chat-import {
    // left: 129px !important;
    min-width: 110px !important;
    max-width: 110px !important;
    padding: 0 0 !important;
    max-height: 260px;
    overflow-y: auto;

    .dropdown-item {
      align-self: center !important;
      padding: 0.344rem 1rem;
    }
  }
}

.triangle-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #dddddd;
  left: -5px;
  top: 8px;
}

.inner-triangle {
  position: relative;
  top: -5px;
  left: 1px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
}
.dropdown-action ul.dropdown-menu {
  max-height: 350px !important;
  .dropdown-body {
    max-height: 330px !important;
  }
  // min-height: 200px !important;
  // width: 400px !important;
  // overflow-x: hidden;
  // overflow-y: auto;
}

.dropdown-action-wrapper {
  position: absolute;
  top: 0;
  left: 800px;
  &.small {
    left: 500px;
  }
  &.hide .dropdown-action {
    width: 0 !important;
    height: 0 !important;
    // min-height: 0 !important;
    opacity: 0;
    transition: width 0.25s, height 0.5s, opacity 0.5s;
    -o-transition: width 0.25s, height 0.5s, opacity 0.5s;
    -ms-transition: width 0.25s, height 0.5s, opacity 0.5s;
    -moz-transition: width 0.25s, height 0.5s, opacity 0.5s;
    -webkit-transition: width 0.25s, height 0.5s;
  }
  &.active .dropdown-action {
    height: auto;
    // min-height: 200px !important;
    width: 400px !important;
    opacity: 1;
    transition: width 0.25s, height 0.5s, opacity 0.5s;
    -o-transition: width 0.25s, height 0.5s, opacity 0.5s;
    -ms-transition: width 0.25s, height 0.5s, opacity 0.5s;
    -moz-transition: width 0.25s, height 0.5s, opacity 0.5s;
    -webkit-transition: width 0.25s, height 0.5s, opacity 0.5s;
  }
  .dropdown-action {
    // max-height: 700px !important;
    // min-height: 200px !important;
    // width: 400px !important;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    // border: 1px solid #b1b1b1;
    background-color: #ffffff;
  }
}
