.selected-folder {
  color: $primary;
  font-weight: bold;
}

#upload {
  /* padding-top: 2.5em !important; */
  width: 100% !important;
  height: 30em !important;
  text-align: center !important;
  border: 1.5px dashed $secondary-light-1;
  border-radius: 6px;
  background-color: white;

  .drag-enter {
    background-color: #fcfcce52 !important;
    border: 1.5px dashed #f4cb56 !important;
    transition: 0.5s;
  }

  .drag-leave {
    background-color: white !important;
    border: 1.5px dashed $secondary-light-1 !important;
    transition: 0.5s;
  }

  .drag-drop {
    background-color: #f5ffe7 !important;
    border: 1.5px dashed #64c567 !important;
    transition: 0.5s;
  }


}




.view-type {
  font-size: 1.25em;

  i {
    color: $secondary-light-1;
  }

  i.active {
    color: $primary;
  }
}

.file-item-list {

  .file-item:hover,
  .file-item.active {
    border-left: 3px solid $primary !important;
    transition: 0.2s ease all;
    background-color: $btn_secondary;


  }

  .file-name {
    font-size: 16px;
    // color:  $primary;
    // font-weight: bold;
  }
}


.file-list {
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .file-name {
    font-size: 16px;
    // font-weight: bold;
    // color: $secondary-light-3;
  }

  .file-item:hover .file-name,
  .file-item.active .file-name {
    color: $secondary-light-1 !important;
    transition: all 0.5s;
  }

  .file-item:hover .file-card,
  .file-item.active .file-card {
    // border-color: $primary !important;
    transition: all 0.5s;
    border: 1px solid $primary;
  }

  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primary !important;
    background-color: $primary !important;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .sort-dropdown {
    .sort-title {
      // font-size: 14px;
      color: $secondary-light-3;
    }

    .sort-item:hover {
      background-color: $default-hover;
      transition: all 0.5s;
    }
  }
}



.folder {
  border-color: $secondary-light-3 !important;
  margin-bottom: 0.65em;

  &.active {
    border-left: 3px solid $primary !important;
    transition: 0.2s all;
    background-color: $btn_secondary;
  }

  &:hover {
    border-left: 3px solid $primary !important;
    transition: 0.2s all;
    background-color: $btn_secondary;
  }

}


.progress {
  height: 4px;

  .bg-info {
    background-color: #33475b !important;
  }

  .bg-warn {
    background-color: #f8bd0b !important;
  }

  .bg-danger {
    background-color: $primary !important;
  }
}

.blank-folder {
  position: relative;
  border: 1.5px solid $secondary-light-3;
  border-radius: 5px;
  height: calc(100% - 20px) !important;

  .blank-layout {
    position: absolute;
    top: 40%;

    .blank-text {
      font-size: 22px;
      font-weight: 500;
      color: $secondary-light-3;
    }
  }
}
