.form-wrapper {
    // .form-page-wrapper {
    //   background-color: $default-hover;
    // }
    .input-form-name {
        input {
            border: unset;
        }
        input:focus {
            box-shadow: unset !important;
            border: 0 !important;
        }
        border-bottom: 2px solid #ece8ec;
        border-radius: 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .form-page {
        padding: 60px 70px 40px 70px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        .tab-body {
            overflow-y: unset;
            overflow-x: unset;
        }
    }
    .page-tag-header,
    .page-tag-footer {
        padding: 5px;
        width: 100%;
        background-color: #33475b;
        color: #ffffff;
    }

    .page-action-inside,
    .page-action-outside {
        position: absolute;
        right: 65px;
    }
    .page-body {
        .page-body-drop-zone {
            height: 100%;
            // min-height: 100px;
            position: relative;
        }
        .on-drop {
            background: #f6f9fa;
            opacity: 0.5;
            border: 0.955036px dashed #c2c8cd;
            border-radius: 5px;
            // position: absolute;
            transition: all ease 0.35s;
            height: 100px;
        }

        .drag-over,
        .drag-over-footer,
        .drag-over-header {
            width: 100%;
            height: 50px;
            // background: $primary;
            // border: 0.955036px dashed $primary;
            border-radius: 5px;
            transition: all ease 0.35s;
            &.hide {
                // display: none;
                height: 0px;
                //  transition: unset;
            }
        }

        .element-item.active {
            // border: 1px solid $primary;
            // border-radius: 5px;
            border: 0px;
            box-shadow: 0px 1px 6px 0px #00000038 !important;
            -webkit-box-shadow: 0px 1px 6px 0px #00000038 !important;
            -moz-box-shadow: 0px 1px 6px 0px #00000038 !important;
        }
        .element-action-wrapper {
            position: absolute;
            top: 0;
            height: 100%;
            right: 5px;

            .element-action {
                .action-item {
                    margin-bottom: 5px;
                    border-radius: 20px;
                    height: 30px;
                    width: 30px;
                    color: #ffffff;
                    cursor: pointer;
                    &.copy {
                        background-color: #f4a927;
                    }
                    &.delete {
                        background-color: $primary;
                    }
                    &.setting {
                        background-color: $secondary;
                    }
                }
            }
        }
    }

    .element-dropzone-wrapper {
        min-height: 100px;
        .dropzone {
            background: #f6f9fa;
            opacity: 0.5;
            /* Secondary-light-3 */
            height: 150px;
            border: 1px dashed #c2c8cd;
            box-sizing: border-box;
            border-radius: 5px;
        }
        .element-item.active {
            // border: 1px solid $primary;
            // border-radius: 5px;
            border: 0px;
            box-shadow: 0px 1px 6px 0px #00000038 !important;
            -webkit-box-shadow: 0px 1px 6px 0px #00000038 !important;
            -moz-box-shadow: 0px 1px 6px 0px #00000038 !important;
        }

        .element-action-wrapper {
            position: absolute;
            top: 0;
            height: 100%;
            right: -35px;

            .element-action {
                .action-item {
                    margin-bottom: 5px;
                    border-radius: 20px;
                    height: 30px;
                    width: 30px;
                    color: #ffffff;
                    cursor: pointer;
                    &.copy {
                        background-color: #f4a927;
                    }
                    &.delete {
                        background-color: $primary;
                    }
                    &.setting {
                        background-color: $secondary;
                    }
                }
            }
        }
        .ghost-ele {
            transition: all ease 0.35s;
            height: 100px;
            &.active {
                height: 100px;
            }

            &.hide {
                height: 0;
            }
        }
    }

    .ele-form-choice {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }
        .ql-editor {
            min-height: 200px !important;
        }
        .order-choice {
            background: #ffffff;
            border: 1px solid #c2c8cd;
            box-sizing: border-box;
            border-radius: 3px;
            width: 15px;
            height: 15px;
        }
        .order-choice-input-other {
            min-width: 50px;
            max-width: 160px;
        }
        .order-choice-input {
            border: unset !important;
            border-radius: 0;
            &:focus {
                border: unset !important;
                box-shadow: unset !important;
                //   border-bottom: 1px solid #dee2e6 !important;
                transition: all ease 0.1s;
            }
        }

        .order-choice-delete {
            // opacity: 0;
            // pointer-events: none;
            // z-index: 10;
            transition: all ease 0.1s;
        }
        .order-choice-input:focus ~ .order-choice-delete {
            // opacity: 1;
            // pointer-events: auto;
        }
    }

    .ele-form-collapse {
        min-height: 50px;
        .example-display-text {
            word-wrap: break-word;
        }

        .collapse-header {
            background-color: $chat-background;

            i.status[aria-expanded="false"] {
                -moz-transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
                transition: 0.15s all ease;
            }

            i.status[aria-expanded="true"] {
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                transition: 0.15s all ease;
            }
        }
    }

    .ele-form-column {
        min-height: 50px;
    }

    .ele-form-date-picker {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }
    }

    .ele-form-dropdown {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }

        .order-option {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #edf3f7;
            border-radius: 2px;
            width: 20px;
            height: 20px;
        }
        .order-option-input {
            border: unset !important;
            border-radius: 0;
            &:focus {
                border: unset !important;
                box-shadow: unset !important;
                //   border-bottom: 1px solid #dee2e6 !important;
                transition: all ease 0.1s;
            }
        }

        .order-option-delete {
            // opacity: 0;
            // pointer-events: none;
            // z-index: 10;
            transition: all ease 0.1s;
        }
        .order-option-input:focus ~ .order-option-delete {
            // opacity: 1;
            // pointer-events: auto;
        }
    }

    .ele-form-file-upload {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }

        .upload-type-drag-wrapper {
            width: 100%;
            height: 150px;
            background: #f6f9fa;
            border: 0.5px dashed #c2c8cd;
            box-sizing: border-box;
            border-radius: 2px;
        }
        .btn-type-drag {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 26px;
            background: #33475b;
            border-radius: 18px;
            color: #ffffff;
        }
    }

    .ele-form-footer {
        min-height: 20px;
    }

    .ele-form-header {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }
    }

    .ele-form-image {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }
    }

    .ele-form-line-divider {
        min-height: 55px;
        .example-display-text {
            word-wrap: break-word;
        }
    }

    .ele-form-paging {
        min-height: 20px;
    }

    .ele-form-tab {
        min-height: 50px;
        .tab-add {
            width: 30px;
            height: 30px;
        }
        .tab-index {
            width: 30px;
            height: 30px;
            background: #ffecee;
            border-right: 1px solid #ece8ec;
            border-left: 1px solid #ece8ec;
            box-sizing: border-box;
            &.active {
                background: #ff3d57;
                color: #ffffff;
            }
        }
    }

    .ele-form-text {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }
    }

    .ele-form-text-box {
        min-height: 20px;
        .example-display-text {
            word-wrap: break-word;
        }

    }
}
