// URL convert color :  https://codepen.io/sosuke/pen/Pjoqqp 

.icon.warning {
  color: #F4A927;
}

span.icon-img {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;

  &.active {
    filter: invert(42%) sepia(32%) saturate(6277%) hue-rotate(328deg) brightness(100%) contrast(110%);
  }

  &.danger {
    filter: invert(42%) sepia(32%) saturate(6277%) hue-rotate(328deg) brightness(100%) contrast(110%);
  }

  &.success {
    filter: invert(61%) sepia(70%) saturate(4307%) hue-rotate(77deg) brightness(105%) contrast(92%);
  }

  &.disabled {
    filter: invert(51%) sepia(16%) saturate(261%) hue-rotate(167deg) brightness(85%) contrast(87%);
  }
}

.icon-add {
  background-image: url("../images/icons/icon-plus.svg");
  width: 14px !important;
  height: 14px !important;
}

.icon-plus {
  background-image: url("../images/icons/plus-white.svg");
  width: 14px !important;
  height: 14px !important;
}

.icon-plus-circle {
  background-image: url("../images/icons/icon-plus_circle.svg");
}

.icon-delete {
  background-image: url("../images/icons/icon-delete.svg"); // width: 18px !important;
  // height: 18px !important;
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(251deg) brightness(93%) contrast(103%);
}

.icon-check-corner {
  background-image: url("../images/icons/icon-check-corner.svg");
}

.icon-cross-corner {
  background-image: url("../images/icons/icon-cross-corner.svg");
}

.icon-edit-line {
  background-image: url("../images/icons/edit_line.svg");
  width: 18px !important;
  height: 18px !important;
}

.icon-edit-inline {
  background-image: url("../images/icons/icon-edit-inline.svg");
}

.icon-view-list {
  background-image: url("../images/icons/icon-view-list.svg");
}

.icon-view-grid {
  background-image: url("../images/icons/icon-view-grid.svg");
}

.icon-sort-desc {
  background-image: url("../images/icons/icon-sort-desc.svg");
}

.icon-sort-asc {
  background-image: url("../images/icons/icon-sort-asc.svg");
}

.icon-sort-a {
  background-image: url("../images/icons/icon-sort-a.svg");
}

.icon-sort-z {
  background-image: url("../images/icons/icon-sort-z.svg");
}

.icon-copy {
  background-image: url("../images/icons/icon-copy.svg");
}

.icon-button {
  background-image: url("../images/icons/icon-button.svg");
}

.icon-img-info {
  background-image: url("../images/icons/icon-img-info.svg");
}

.icon-image {
  background-image: url("../images/icons/icon-image.svg");
}


.icon-robot {
  background-image: url("../images/icons/robot.svg");

  &.white {
    filter: invert(100%) sepia(1%) saturate(7139%) hue-rotate(245deg) brightness(459%) contrast(95%)
  }
}

.icon-user-new {
  background-image: url("../images/icons/user_new.svg");
  width: 18px !important;
  height: 18px !important;
}

.icon-user {
  background-image: url("../images/icons/user.svg");
  width: 18px !important;
  height: 18px !important;
}


.icon-export {
  background-image: url("../images/icons/icon-export.svg");
  filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(173deg) brightness(110%) contrast(100%);
}

.icon-fill-delete {
  background-image: url("../images/icons/fill_delete.svg");
  width: 20px !important;
  height: 20px !important;
}

.icon-fill-alert {
  background-image: url("../images/icons/fill_alert.svg");
  width: 20px !important;
  height: 20px !important;
}

.icon-chat {
  background-image: url("../images/icons/chat.svg");
  cursor: pointer
}


.icon-text-messge {
  background-image: url("../images/icons/icon-text-messge.svg");
}

.icon-rich-video {
  background-image: url("../images/icons/icon-rich-video.svg");
}

.icon-video {
  background-image: url("../images/icons/icon-video.svg");
}

.icon-sticker {
  background-image: url("../images/icons/icon-sticker.svg");
}

.icon-carousel {
  background-image: url("../images/icons/icon-carousel.svg");
}

.icon-location {
  background-image: url("../images/icons/icon-location.svg");
}

.icon-json {
  background-image: url("../images/icons/icon-json.svg");
}

.icon-attach-file {
  background-image: url("../images/icons/icon-attach-file.svg");
}

.icon-view,
.icon-search {
  background-image: url("../images/icons/icon-search.svg");
}
