input,
textarea,
select {
  text-overflow: ellipsis !important;
  font-size: 14px !important;
  letter-spacing: 0 !important;
  line-height: 20px !important;
  border-radius: 4px;

  &::placeholder {
    color: $secondary-light-2 !important;
  }

  &:active {
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border: 1px solid $default-border !important;
  }

  &:read-only {
    color: $secondary !important;
    background-color: $grey-background;
    border: 1px solid $default-border !important;
  }

  &:disabled {
    color: $input-focus-border !important;
    background-color: $grey-background !important;
    border: 1px solid $default-border !important;
  }

  &:focus {
    color: $secondary !important;
    -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
    box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
    border: 1px solid $secondary-light-1 !important;
  }
}

.input-search {
  background-image: url("../images/icons/icon-search.svg") !important;
  background-position: left 10px center !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  padding-left: 32px !important;
}

.input-close {
  width: 28px !important;
  height: 28px !important;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884'%3E%3Cpath d='M18.2224557,3.47670249 L12,9.69915823 L5.77754426,3.47670249 C5.14252122,2.84167944 4.11288582,2.84051916 3.47670249,3.47670249 C2.84051916,4.11288582 2.84167944,5.14252122 3.47670249,5.77754426 L9.69915823,12 L3.47670249,18.2224557 C2.84051916,18.8586391 2.84167944,19.8882745 3.47670249,20.5232975 C4.11172554,21.1583206 5.14136093,21.1594808 5.77754426,20.5232975 L12,14.3008418 L18.2224557,20.5232975 C18.8574788,21.1583206 19.8871142,21.1594808 20.5232975,20.5232975 C21.1594808,19.8871142 21.1583206,18.8574788 20.5232975,18.2224557 L14.3008418,12 L20.5232975,5.77754426 C21.1594808,5.14136093 21.1583206,4.11172554 20.5232975,3.47670249 C19.8882745,2.84167944 18.8586391,2.84051916 18.2224557,3.47670249 Z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  border-radius: 50%;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B'%3E%3Cpath d='M18.2224557,3.47670249 L12,9.69915823 L5.77754426,3.47670249 C5.14252122,2.84167944 4.11288582,2.84051916 3.47670249,3.47670249 C2.84051916,4.11288582 2.84167944,5.14252122 3.47670249,5.77754426 L9.69915823,12 L3.47670249,18.2224557 C2.84051916,18.8586391 2.84167944,19.8882745 3.47670249,20.5232975 C4.11172554,21.1583206 5.14136093,21.1594808 5.77754426,20.5232975 L12,14.3008418 L18.2224557,20.5232975 C18.8574788,21.1583206 19.8871142,21.1594808 20.5232975,20.5232975 C21.1594808,19.8871142 21.1583206,18.8574788 20.5232975,18.2224557 L14.3008418,12 L20.5232975,5.77754426 C21.1594808,5.14136093 21.1583206,4.11172554 20.5232975,3.47670249 C19.8882745,2.84167944 18.8586391,2.84051916 18.2224557,3.47670249 Z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #edf3f7;
  }
}

.input-group {
  position: relative;
  // margin: 10px 0 10px;
}

.input-contact {
  font-size: 14px;
  padding: 10px 10px 5px 5px;
  color: $secondary;
  font-weight: 500;
  display: block;
  min-width: 95%;
  width: 100%;
  border: none;
  opacity: 1;
  cursor: pointer;
}

.input-contact:focus {
  outline: none !important;
  border: none !important;
  cursor: text;
  color: $secondary;
  font-weight: 500;
}

.label-input {
  color: $secondary-light-2;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-contact:focus ~ label,
.input-contact:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: $secondary;
}

.bar {
  position: relative;
  display: block;
  min-width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $default-border;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input-contact:hover ~ .bar:before,
.input-contact:hover ~ .bar:after {
  width: 50%;
}

.input-contact:focus ~ .bar:before,
.input-contact:focus ~ .bar:after {
  width: 50%;
  background: $secondary;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

.input-contact:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
  from {
    background: $border-grey;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: $border-grey;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: $border-grey;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.input-group-text {
  background-color: #fff;
  color: #a6b6c4;
  border-left: 1px solid $border-grey;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
}

.input-search {
  height: 32px;
  font-size: 14px;
}

.input-type {
  height: 32px;
  color: $secondary;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  padding: 5px 5px 3px 7px !important;
  border-right: none;
}

.input-btn-date {
  background: #f4f6f8;
  border-left: none;
  border-top-right-radius: 4px;
  padding: 0.175rem 0.75rem;
  border-bottom-right-radius: 4px;
}

.reset-type {
  color: #637c96;
  font-size: 14px;
  background: transparent;
  padding: 0.175rem 0.75rem;
  border-left: none;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-submit {
  .input-icon {
    .icon-img {
      pointer-events: none;
      opacity: 0;
    }

    position: absolute;
    right: 25px;
    bottom: 16px;
    cursor: pointer;
  }

  .validate-text {
    opacity: 0;
  }
}

.validate-text.show,
.input-icon.show .icon-img {
  opacity: 1;
  pointer-events: all;
}

.input-submit:hover,
.input-submit:focus {
  .validate-text {
    opacity: 1;
    pointer-events: all;
  }

  input {
    padding-right: 4em;
  }

  .input-icon {
    .icon-img {
      opacity: 1;
      pointer-events: all;
      transition: all 0.25s;
    }

    .icon-check-corner {
      filter: invert(61%) sepia(70%) saturate(4307%) hue-rotate(77deg) brightness(105%) contrast(92%);
    }
  }
}

.input-group-append .btn-add {
  height: 32px;
}

// .input-time {
//     align-items: center;
//     display: -webkit-inline-flex;
//     font-family: monospace;
//     padding-inline-start: 1px;
//     cursor: default;
//     overflow: hidden;
// }

.chat-info-input-focus-cancel {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  bottom: 5px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M20.2928932,5.27600067 L18.7239993,3.70710678 C18.333475,3.31658249 17.7003101,3.31658249 17.3097858,3.70710678 L12.0000176,9.01687497 L12.0000176,9.01687497 L6.6902163,3.70710472 C6.29968961,3.31658444 5.66652622,3.31658536 5.27600067,3.70710678 L3.70710678,5.27600067 C3.31658042,5.6665229 3.31658042,6.29968788 3.70710472,6.69021217 C3.7071054,6.69021286 3.70710609,6.69021355 3.70710885,6.69021217 L9.01691012,11.9999824 L9.01691012,11.9999824 L3.70710678,17.3097858 C3.31658249,17.7003101 3.31658249,18.333475 3.70710678,18.7239993 L5.27600067,20.2928932 C5.66652622,20.6834146 6.29968961,20.6834156 6.6902163,20.2928953 L12.0000176,14.983125 L12.0000176,14.983125 L17.3097858,20.2928932 C17.7003101,20.6834175 18.333475,20.6834175 18.7239993,20.2928932 L20.2928932,18.7239993 C20.6834175,18.333475 20.6834175,17.7003101 20.2928932,17.3097858 L14.9830899,11.9999824 L14.9830899,11.9999824 L20.2928912,6.69021217 C20.6834187,6.29969109 20.6834205,5.66652611 20.2928974,5.27600067 C20.2928967,5.27599999 20.292896,5.2759993 20.2928932,5.27600067 Z' id='Path'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  cursor: pointer;

  &:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='%2333475B' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M20.2928932,5.27600067 L18.7239993,3.70710678 C18.333475,3.31658249 17.7003101,3.31658249 17.3097858,3.70710678 L12.0000176,9.01687497 L12.0000176,9.01687497 L6.6902163,3.70710472 C6.29968961,3.31658444 5.66652622,3.31658536 5.27600067,3.70710678 L3.70710678,5.27600067 C3.31658042,5.6665229 3.31658042,6.29968788 3.70710472,6.69021217 C3.7071054,6.69021286 3.70710609,6.69021355 3.70710885,6.69021217 L9.01691012,11.9999824 L9.01691012,11.9999824 L3.70710678,17.3097858 C3.31658249,17.7003101 3.31658249,18.333475 3.70710678,18.7239993 L5.27600067,20.2928932 C5.66652622,20.6834146 6.29968961,20.6834156 6.6902163,20.2928953 L12.0000176,14.983125 L12.0000176,14.983125 L17.3097858,20.2928932 C17.7003101,20.6834175 18.333475,20.6834175 18.7239993,20.2928932 L20.2928932,18.7239993 C20.6834175,18.333475 20.6834175,17.7003101 20.2928932,17.3097858 L14.9830899,11.9999824 L14.9830899,11.9999824 L20.2928912,6.69021217 C20.6834187,6.29969109 20.6834205,5.66652611 20.2928974,5.27600067 C20.2928967,5.27599999 20.292896,5.2759993 20.2928932,5.27600067 Z' id='Path'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.chat-info-input-focus-confirm {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 5px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='%2328C10B' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M18.4598455,4.57768797 L9.05128387,14.0581031 L9.05128387,14.0581031 L5.52761089,10.5344301 C5.13708659,10.1439059 4.50392162,10.1439059 4.11339732,10.5344301 L2.70210807,11.9457194 C2.31354137,12.3342861 2.31130915,12.9635853 2.69710948,13.3548988 L8.34210404,19.0805615 C8.72984803,19.4738464 9.36299708,19.4783383 9.75628201,19.0905943 C9.75867283,19.0882371 9.76105176,19.085868 9.76341871,19.0834869 L21.3093145,7.46862169 C21.6930396,7.08260445 21.6975659,6.46058191 21.3194991,6.0690213 L19.8890308,4.58749743 C19.5054125,4.19018718 18.8723448,4.17908767 18.4750346,4.56270598 C18.4699184,4.56764582 18.4648551,4.57264011 18.4598455,4.57768797 Z' id='Path'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  cursor: pointer;

  &:hover {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='%23209A09' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M18.4598455,4.57768797 L9.05128387,14.0581031 L9.05128387,14.0581031 L5.52761089,10.5344301 C5.13708659,10.1439059 4.50392162,10.1439059 4.11339732,10.5344301 L2.70210807,11.9457194 C2.31354137,12.3342861 2.31130915,12.9635853 2.69710948,13.3548988 L8.34210404,19.0805615 C8.72984803,19.4738464 9.36299708,19.4783383 9.75628201,19.0905943 C9.75867283,19.0882371 9.76105176,19.085868 9.76341871,19.0834869 L21.3093145,7.46862169 C21.6930396,7.08260445 21.6975659,6.46058191 21.3194991,6.0690213 L19.8890308,4.58749743 C19.5054125,4.19018718 18.8723448,4.17908767 18.4750346,4.56270598 C18.4699184,4.56764582 18.4648551,4.57264011 18.4598455,4.57768797 Z' id='Path'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.custom-switch {
  .custom-control-input:checked ~ .custom-control-label:before {
    border-color: #28c00b !important;
    background-color: #28c00b !important;
  }
}