// ------------------------------------
//  | |    /_\ \ / / _ \| | | |_   _|
//  | |__ / _ \ V / (_) | |_| | | |
//  |____/_/ \_\_| \___/ \___/  |_|
// ------------------------------------

$boderColor: #f1f4f6;
$boderWidth: 2px;
$backgroundNavbar: #f6f9fa;
// $navbarMinWidth: 201px;
// $navbarMaxWidth: 201px;
$navbarMinWidth: 80px;
$navbarMaxWidth: 80px;
$bannerMaxwidth: 201px;
$iconNotActiveColor: #6b7884;
$iconHoverColor: #ee4552;
$textColor: #526474;
$navItemBackgroundHover: #f8eff0;

.container-fluid {
    padding: 0 !important;
}

.sidebar {
    position: relative;
    display: flex;
    padding: 8px 13px 8px 15px;
    background: #fff;
    border-bottom: $boderColor $boderWidth solid;
    height: 49px;
    align-items: center;

    &.no-border {
        border: unset !important;
    }

    .s-left {
        display: flex;
        justify-content: left;
        align-items: center;

        .banner-icon {
            text-align: center;
            min-width: 50px;
            // min-width: $bannerMaxwidth;
            img {
                // height: 32px;
                // width: 118px;
                height: 34px;
                width: 34px;
                margin: 0 auto;
                user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        }
    }
    .s-right {
        position: relative;
        width: calc(100% - 50px);
        height: 100%;
        display: flex;

        .align-right {
            margin-left: auto !important;
            display: flex;
            align-items: center;

            .agent-online {
                margin-right: -15px;
                display: flex;

                .dropdown-item:active,
                .dropdown-item:focus,
                .dropdown-item:hover {
                    color: #212529;
                    background-color: #fff !important;
                    transition: all 0.25s;
                }

                &.fix-left {
                    margin-right: 15px;
                }
                .agent-item {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 100px;
                    img {
                        width: 100%;
                        height: 32px;
                    }

                    // .rounded-div-circle {
                    //     margin-top: 1px;
                    //     width: 31px;
                    //     height: 31px;
                    //     background: #6b7884;
                    //     align-items: center;
                    //     display: flex;
                    //     justify-content: center;
                    //     font-size: 0.8rem;
                    //     font-weight: bold;
                    //     color: #fff;
                    //     cursor: pointer;
                    //     border-radius: 100px;
                    //     border: 1px solid #fff;
                    // }
                }

                .online-agent {
                    // padding: 5px;
                    width: 32px;
                    height: 32px;
                    z-index: 100;

                    .dropdown.b-dropdown.btn-group {
                        position: fixed;
                        width: 32px;
                        height: 32px;
                        .dropdown-menu.dropdown-menu-right.show {
                            filter: drop-shadow(0.1rem 0.1rem 0.2rem #c5c5c5);
                            margin-top: 30px;
                            border: unset;
                            padding: unset;
                            width: 300px;
                            // overflow-x: auto;

                            &::before {
                                content: "";
                                width: 15px;
                                height: 15px;
                                border-top-left-radius: 4px;
                                position: absolute;
                                transform: rotate(45deg);
                                top: -8px;
                                right: 15px;
                                background-color: #fff;
                            }

                            .dropdown-header {
                                display: block;
                                // padding: unset;
                                // padding: 5px;
                                margin-bottom: 0;
                                font-size: 0.8rem;
                                font-weight: bold;
                                color: $secondary;
                                white-space: nowrap;
                            }
                            .scroll-box {
                                max-height: 235px;
                                overflow: auto;
                                .agent-item {
                                    padding: 0.1rem;
                                    .dropdown-item {
                                        // padding: 5px;
                                        cursor: default;
                                        padding: 0.25rem 1rem;
                                        &:hover {
                                            background-color: transparent;
                                        }
                                        .agent-name {
                                            display: flex;
                                            align-items: center;
                                            .image {
                                                border-radius: 100px;
                                                overflow: hidden;
                                                width: 32px;
                                                height: 32px;
                                                // background: violet;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }

                                            .box-name {
                                                padding-left: 5px;
                                                .name {
                                                    font-size: 0.8rem;
                                                    font-weight: bold;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    width: 210px;
                                                }
                                                .email {
                                                    font-size: 0.7rem;
                                                    font-weight: normal;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                    overflow: hidden;
                                                    width: 210px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.show {
                            // .btn.dropdown-toggle.btn-secondary {
                            //     background: #ffecee;

                            //     .icon {
                            //         &.icon-switchlang {
                            //             background-color: $iconHoverColor;
                            //         }
                            //     }

                            //     .langname {
                            //         color: $iconHoverColor;
                            //     }
                            // }
                        }

                        .btn.dropdown-toggle.btn-secondary {
                            // margin-top: 1px;
                            width: 32px;
                            height: 32px;
                            background: #6b7884;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 0.8rem;
                            font-weight: bold;
                            color: #fff;
                            cursor: pointer;
                            border-radius: 100px;
                            border: 1px solid #fff;

                            &::after {
                                display: none;
                            }

                            .langname {
                                font-size: 0.9rem;
                                font-weight: 600;
                                line-height: 22px;
                                // color: $textColor;
                            }

                            &:hover {
                                // background: #ffecee;

                                // .icon {
                                //     background-color: $iconHoverColor;
                                // }

                                // .langname {
                                //     color: $iconHoverColor;
                                //     font-size: 0.9rem;
                                // }
                            }
                        }
                    }

                    .-button {
                        text-decoration: none;
                        color: $iconNotActiveColor;
                        // background: $backgroundNavbar;
                        padding: 8px;
                        border-radius: 100px;

                        &.nuxt-link-exact-active,
                        &.nuxt-link-active {
                            color: $iconHoverColor;
                            // background: $navItemBackgroundHover;
                            padding: 5px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .switch-lang {
                padding: 5px;

                .dropdown.b-dropdown.btn-group {
                    .dropdown-menu.dropdown-menu-right.show {
                        filter: drop-shadow(0.1rem 0.1rem 0.2rem #c5c5c5);

                        margin-top: 25px;
                        border: unset;

                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            border-top-left-radius: 4px;
                            position: absolute;
                            transform: rotate(45deg);
                            top: -8px;
                            right: 15px;
                            background-color: #fff;
                        }
                    }

                    &.show {
                        .btn.dropdown-toggle.btn-secondary {
                            background: #ffecee;

                            .icon {
                                &.icon-switchlang {
                                    background-color: $iconHoverColor;
                                }
                            }

                            .langname {
                                color: $iconHoverColor;
                            }
                        }
                    }

                    .btn.dropdown-toggle.btn-secondary {
                        border-radius: 100px;
                        background: none;
                        border: none;
                        // width: 40px;
                        height: 40px;
                        padding: 2px;
                        justify-content: center;
                        align-items: center;
                        display: flex;

                        &::after {
                            display: none;
                        }

                        .icon {
                            width: 22px;
                            height: 22px;
                            background-color: $secondary;

                            &.icon-switchlang {
                                -webkit-mask-image: url("~assets/images/icons/url.svg");
                                mask-image: url("~assets/images/icons/url.svg");
                                background-color: $iconNotActiveColor;
                                mask-size: 22px;
                                mask-repeat: no-repeat;
                            }
                        }

                        .langname {
                            font-size: 0.9rem;
                            font-weight: 600;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: $textColor;
                        }

                        &:hover {
                            background: #ffecee;

                            .icon {
                                background-color: $iconHoverColor;
                            }

                            .langname {
                                color: $iconHoverColor;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .-button {
                    text-decoration: none;
                    color: $iconNotActiveColor;
                    // background: $backgroundNavbar;
                    padding: 8px;
                    border-radius: 100px;

                    &.nuxt-link-exact-active,
                    &.nuxt-link-active {
                        color: $iconHoverColor;
                        // background: $navItemBackgroundHover;
                        padding: 5px;
                        font-weight: 600;
                    }
                }
            }

            .setting {
                // padding: 5px;
                // border-radius: 100px;
                margin-left: 8px;

                .icon {
                    width: 30px;
                    height: 30px;
                    // background-color: $secondary;

                    &.icon-setting {
                        // -webkit-mask-image: url("~assets/images/icons/setting.svg");
                        // mask-image: url("~assets/images/icons/setting.svg");
                        border-radius: 50%;
                        background-position: center;
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat !important;
                        background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-368.000000, -168.000000)' fill='%236B7884'%3E%3Cg id='ic/setting' transform='translate(368.000000, 168.000000)'%3E%3Cpath d='M12.8294144,2 C13.4028761,2 13.9067144,2.35393112 14.1075802,2.88379253 L14.1484494,3.00911024 L14.1771596,3.13998072 L14.3938545,4.41922677 L14.666656,4.50803408 L14.8466172,4.574522 L15.0257894,4.64581946 L15.3819009,4.80284667 L15.6399436,4.93185836 L16.7110277,4.16829344 C16.8650925,4.05736679 17.0378299,3.98133777 17.2206302,3.94297694 L17.3594827,3.92131239 L17.5013017,3.91403316 C17.7605239,3.91403316 18.0096074,3.98653256 18.2290972,4.12587442 L18.3570842,4.21745538 L18.4661507,4.31545402 L19.6922671,5.54157291 C20.0942398,5.939643 20.2028051,6.53782717 19.980215,7.0522057 L19.9176466,7.17889008 L19.8402348,7.30090849 L19.0775327,8.36846167 L19.2005097,8.61640884 L19.2772681,8.78493796 L19.3502683,8.95573703 L19.4850657,9.30433177 L19.5734052,9.5662451 L20.8681322,9.78577448 C21.3914266,9.87360011 21.8046782,10.2502304 21.9472097,10.7450319 L21.9771096,10.8710955 L21.9951716,11.0014903 L22.0001167,11.1335398 L22.0001167,12.8664602 C22.0001167,13.4399039 21.6461155,13.9437535 21.1162168,14.1446249 L20.990891,14.1854953 L20.8597344,14.2142532 L19.5655186,14.4303302 L19.4791418,14.6877274 L19.4145259,14.8605824 L19.3450866,15.0334512 L19.1917615,15.379435 L19.0686603,15.6271278 L19.8321696,16.6993258 C20.1325555,17.1212965 20.1634415,17.6673469 19.9324873,18.1167617 L19.8630137,18.2367677 L19.7805908,18.3509868 L19.684546,18.4579183 L18.4579183,19.684546 C18.2737724,19.8686919 18.0466144,19.9946255 17.7938747,20.0519302 L17.6393005,20.0779942 L17.4840126,20.0856892 L17.3230701,20.0755324 C17.1963446,20.0598791 17.0731124,20.0267641 16.9533016,19.9751764 L16.8346287,19.9173936 L16.6990915,19.8320024 L15.632057,19.0696461 L15.3835912,19.1922773 L15.215062,19.2690357 L15.044263,19.3420359 L14.6956682,19.4768333 L14.4342735,19.5655186 L14.2142255,20.8598998 C14.1266232,21.3818636 13.7512771,21.7953133 13.2567888,21.9426123 L13.1307822,21.973801 L13.0003968,21.9933527 L12.8664602,22 L11.1294236,22 C10.5559619,22 10.0521235,21.6460689 9.85125784,21.1162075 L9.81038864,20.9908898 L9.78163063,20.8597344 L9.5662451,19.5645328 L9.30921753,19.4782245 L9.14047401,19.4154102 L8.97376136,19.3490993 L8.64627356,19.2058043 L8.41085236,19.0893627 L7.32601808,19.86052 C7.17195329,19.9714466 6.99921595,20.0474756 6.81641561,20.0858365 L6.67756307,20.107501 L6.53574405,20.1147802 C6.27652186,20.1147802 6.02743845,20.0422808 5.80794863,19.902939 L5.6799616,19.811358 L5.57089512,19.7133594 L4.34477873,18.4872405 C3.94280599,18.0891704 3.83424074,17.4909862 4.05683079,16.9766077 L4.11939922,16.8499233 L4.19704869,16.7275733 L4.95650411,15.6734618 L4.82939844,15.4248144 L4.7511683,15.2562564 L4.67693733,15.0857839 L4.54052485,14.7391181 L4.45274499,14.4796217 L3.1401002,14.2553875 C2.61813639,14.1677852 2.20468667,13.7924391 2.05738772,13.2979508 L2.02619901,13.1719442 L2.00664727,13.0415588 L2,12.9076222 L2,11.1747018 C2,10.6012401 2.35393112,10.0974018 2.88379253,9.89653605 L3.00911024,9.85566685 L3.13998072,9.82695659 L4.41824094,9.61159328 L4.5051457,9.34536966 L4.56888414,9.17105143 L4.6366668,8.99847306 L4.78461533,8.65810391 L4.90721261,8.41085236 L4.13490083,7.32537136 C3.83451492,6.90340068 3.80362891,6.35735034 4.03458306,5.90793546 L4.10405671,5.78792951 L4.18647963,5.67371036 L4.28269971,5.56660392 L5.51233059,4.34109744 C5.76610146,4.08271255 6.11263488,3.93873036 6.47811725,3.93873036 C6.66108225,3.93873036 6.84048523,3.97467441 7.01070383,4.04660631 L7.13655785,4.10730363 L7.27250748,4.19299064 L8.33100013,4.95551828 L8.57930184,4.82939844 L8.74785985,4.7511683 L8.91833229,4.67693733 L9.26499806,4.54052485 L9.52582607,4.45274499 L9.74872868,3.1401002 C9.836331,2.61813639 10.2116771,2.20468667 10.7061654,2.05738772 L10.832172,2.02619901 L10.9625574,2.00664727 L11.096494,2 L12.8294144,2 Z M12.8046966,3.40382189 L11.1376581,3.40382189 L10.847047,5.11206027 C10.8061725,5.34822403 10.6467638,5.54546128 10.4280414,5.640346 L10.3308445,5.67455948 C9.74558014,5.8258523 9.17786222,6.06553285 8.64811738,6.38337173 C8.47320333,6.48603867 8.26415516,6.50836241 8.06731589,6.44496645 L7.97012821,6.40610026 L7.87821433,6.35154636 L6.48651224,5.35872274 L5.30548792,6.53974706 L6.30993553,7.95167994 C6.45187192,8.14855945 6.4808503,8.40126701 6.39172307,8.62177825 L6.34627973,8.71405524 C6.04059359,9.23411867 5.80928454,9.80427519 5.65838571,10.4037914 C5.60903508,10.6011939 5.47626988,10.7647741 5.29071299,10.8586207 L5.19367701,10.8995665 L5.09074107,10.9253807 L3.40776521,11.2086378 L3.40776521,12.8756763 L5.11617647,13.1653016 C5.35234023,13.2061761 5.54957748,13.3655848 5.6444622,13.5843072 L5.67867568,13.6815041 C5.8299685,14.2667685 6.06964905,14.8344864 6.38748793,15.3642312 C6.49015487,15.5391453 6.51247861,15.7481934 6.44908265,15.9450327 L6.41021646,16.0422204 L6.35566256,16.1341343 L5.36266606,17.5268222 L6.54369038,18.7078465 L7.9543781,17.7034482 C8.04241851,17.6383749 8.14591232,17.596739 8.25405073,17.5799881 L8.363337,17.5715859 C8.48558183,17.5715859 8.60935255,17.6038739 8.71681898,17.6652835 C9.24074289,17.965829 9.79682355,18.1941468 10.3674063,18.3417811 C10.5624306,18.3914932 10.7245398,18.5225899 10.8177197,18.7062746 L10.8583989,18.8023659 L10.8842471,18.9053128 L11.167233,20.6016259 L12.8342715,20.6016259 L13.1195766,18.9071379 C13.1564305,18.6675879 13.3177834,18.4661321 13.5382913,18.374328 L13.6362259,18.3419053 C14.2333073,18.1875578 14.7999051,17.9528244 15.3230692,17.6413255 C15.4980654,17.5386103 15.7074054,17.5162406 15.9030621,17.5800889 L15.9995279,17.6192251 L16.088758,17.673081 L17.4913323,18.670385 L18.6713708,17.4903465 L17.6726672,16.0840575 C17.5321629,15.884632 17.5056778,15.6321919 17.595952,15.410861 L17.6417974,15.3181547 C17.9528244,14.7957889 18.1875578,14.2291911 18.3417811,13.6325937 C18.3914932,13.4375694 18.5225899,13.2754602 18.7062746,13.1822803 L18.8023659,13.1416011 L18.9053128,13.1157529 L20.6055692,12.8322998 L20.6055692,11.167233 L18.9112541,10.8804234 C18.6717041,10.8435695 18.4702483,10.6822166 18.3784442,10.4617087 L18.3460215,10.3637741 C18.191674,9.76669273 17.9569406,9.20009486 17.6454417,8.67693078 C17.5427265,8.50193461 17.5203568,8.29259456 17.5842051,8.09693786 L17.6233413,8.00047213 L17.6771972,7.91124203 L18.6753141,6.51115799 L17.4942898,5.33013367 L16.1005223,6.33144903 C15.9010968,6.47195333 15.6486567,6.49843841 15.4276959,6.40838354 L15.335172,6.36264614 C14.7964515,6.04504227 14.2169457,5.80737408 13.6085572,5.65426951 C13.4111547,5.60491888 13.2475745,5.47215368 13.1537279,5.28659679 L13.1127821,5.18956081 L13.086968,5.08662487 L12.8046966,3.40382189 Z M12.0020582,7.59803246 C14.4299613,7.59803246 16.4019677,9.57003892 16.4019677,11.997942 C16.4019677,14.4258451 14.4299613,16.3978515 12.0020582,16.3978515 C9.57415512,16.3978515 7.60214866,14.4258451 7.60214866,11.997942 C7.60214866,9.57003892 9.57415512,7.59803246 12.0020582,7.59803246 Z M12.0020582,9.00515557 C10.3508066,9.00515557 9.00927177,10.3466904 9.00927177,11.997942 C9.00927177,13.6491935 10.3508066,14.9907284 12.0020582,14.9907284 C13.6533097,14.9907284 14.9948446,13.6491935 14.9948446,11.997942 C14.9948446,10.3466904 13.6533097,9.00515557 12.0020582,9.00515557 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); // background-color: $iconNotActiveColor;
                        // mask-size: 24px;
                        // mask-repeat: no-repeat;
                    }
                }

                &:hover {
                    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-368.000000, -168.000000)' fill='%2333475B'%3E%3Cg id='ic/setting' transform='translate(368.000000, 168.000000)'%3E%3Cpath d='M12.8294144,2 C13.4028761,2 13.9067144,2.35393112 14.1075802,2.88379253 L14.1484494,3.00911024 L14.1771596,3.13998072 L14.3938545,4.41922677 L14.666656,4.50803408 L14.8466172,4.574522 L15.0257894,4.64581946 L15.3819009,4.80284667 L15.6399436,4.93185836 L16.7110277,4.16829344 C16.8650925,4.05736679 17.0378299,3.98133777 17.2206302,3.94297694 L17.3594827,3.92131239 L17.5013017,3.91403316 C17.7605239,3.91403316 18.0096074,3.98653256 18.2290972,4.12587442 L18.3570842,4.21745538 L18.4661507,4.31545402 L19.6922671,5.54157291 C20.0942398,5.939643 20.2028051,6.53782717 19.980215,7.0522057 L19.9176466,7.17889008 L19.8402348,7.30090849 L19.0775327,8.36846167 L19.2005097,8.61640884 L19.2772681,8.78493796 L19.3502683,8.95573703 L19.4850657,9.30433177 L19.5734052,9.5662451 L20.8681322,9.78577448 C21.3914266,9.87360011 21.8046782,10.2502304 21.9472097,10.7450319 L21.9771096,10.8710955 L21.9951716,11.0014903 L22.0001167,11.1335398 L22.0001167,12.8664602 C22.0001167,13.4399039 21.6461155,13.9437535 21.1162168,14.1446249 L20.990891,14.1854953 L20.8597344,14.2142532 L19.5655186,14.4303302 L19.4791418,14.6877274 L19.4145259,14.8605824 L19.3450866,15.0334512 L19.1917615,15.379435 L19.0686603,15.6271278 L19.8321696,16.6993258 C20.1325555,17.1212965 20.1634415,17.6673469 19.9324873,18.1167617 L19.8630137,18.2367677 L19.7805908,18.3509868 L19.684546,18.4579183 L18.4579183,19.684546 C18.2737724,19.8686919 18.0466144,19.9946255 17.7938747,20.0519302 L17.6393005,20.0779942 L17.4840126,20.0856892 L17.3230701,20.0755324 C17.1963446,20.0598791 17.0731124,20.0267641 16.9533016,19.9751764 L16.8346287,19.9173936 L16.6990915,19.8320024 L15.632057,19.0696461 L15.3835912,19.1922773 L15.215062,19.2690357 L15.044263,19.3420359 L14.6956682,19.4768333 L14.4342735,19.5655186 L14.2142255,20.8598998 C14.1266232,21.3818636 13.7512771,21.7953133 13.2567888,21.9426123 L13.1307822,21.973801 L13.0003968,21.9933527 L12.8664602,22 L11.1294236,22 C10.5559619,22 10.0521235,21.6460689 9.85125784,21.1162075 L9.81038864,20.9908898 L9.78163063,20.8597344 L9.5662451,19.5645328 L9.30921753,19.4782245 L9.14047401,19.4154102 L8.97376136,19.3490993 L8.64627356,19.2058043 L8.41085236,19.0893627 L7.32601808,19.86052 C7.17195329,19.9714466 6.99921595,20.0474756 6.81641561,20.0858365 L6.67756307,20.107501 L6.53574405,20.1147802 C6.27652186,20.1147802 6.02743845,20.0422808 5.80794863,19.902939 L5.6799616,19.811358 L5.57089512,19.7133594 L4.34477873,18.4872405 C3.94280599,18.0891704 3.83424074,17.4909862 4.05683079,16.9766077 L4.11939922,16.8499233 L4.19704869,16.7275733 L4.95650411,15.6734618 L4.82939844,15.4248144 L4.7511683,15.2562564 L4.67693733,15.0857839 L4.54052485,14.7391181 L4.45274499,14.4796217 L3.1401002,14.2553875 C2.61813639,14.1677852 2.20468667,13.7924391 2.05738772,13.2979508 L2.02619901,13.1719442 L2.00664727,13.0415588 L2,12.9076222 L2,11.1747018 C2,10.6012401 2.35393112,10.0974018 2.88379253,9.89653605 L3.00911024,9.85566685 L3.13998072,9.82695659 L4.41824094,9.61159328 L4.5051457,9.34536966 L4.56888414,9.17105143 L4.6366668,8.99847306 L4.78461533,8.65810391 L4.90721261,8.41085236 L4.13490083,7.32537136 C3.83451492,6.90340068 3.80362891,6.35735034 4.03458306,5.90793546 L4.10405671,5.78792951 L4.18647963,5.67371036 L4.28269971,5.56660392 L5.51233059,4.34109744 C5.76610146,4.08271255 6.11263488,3.93873036 6.47811725,3.93873036 C6.66108225,3.93873036 6.84048523,3.97467441 7.01070383,4.04660631 L7.13655785,4.10730363 L7.27250748,4.19299064 L8.33100013,4.95551828 L8.57930184,4.82939844 L8.74785985,4.7511683 L8.91833229,4.67693733 L9.26499806,4.54052485 L9.52582607,4.45274499 L9.74872868,3.1401002 C9.836331,2.61813639 10.2116771,2.20468667 10.7061654,2.05738772 L10.832172,2.02619901 L10.9625574,2.00664727 L11.096494,2 L12.8294144,2 Z M12.8046966,3.40382189 L11.1376581,3.40382189 L10.847047,5.11206027 C10.8061725,5.34822403 10.6467638,5.54546128 10.4280414,5.640346 L10.3308445,5.67455948 C9.74558014,5.8258523 9.17786222,6.06553285 8.64811738,6.38337173 C8.47320333,6.48603867 8.26415516,6.50836241 8.06731589,6.44496645 L7.97012821,6.40610026 L7.87821433,6.35154636 L6.48651224,5.35872274 L5.30548792,6.53974706 L6.30993553,7.95167994 C6.45187192,8.14855945 6.4808503,8.40126701 6.39172307,8.62177825 L6.34627973,8.71405524 C6.04059359,9.23411867 5.80928454,9.80427519 5.65838571,10.4037914 C5.60903508,10.6011939 5.47626988,10.7647741 5.29071299,10.8586207 L5.19367701,10.8995665 L5.09074107,10.9253807 L3.40776521,11.2086378 L3.40776521,12.8756763 L5.11617647,13.1653016 C5.35234023,13.2061761 5.54957748,13.3655848 5.6444622,13.5843072 L5.67867568,13.6815041 C5.8299685,14.2667685 6.06964905,14.8344864 6.38748793,15.3642312 C6.49015487,15.5391453 6.51247861,15.7481934 6.44908265,15.9450327 L6.41021646,16.0422204 L6.35566256,16.1341343 L5.36266606,17.5268222 L6.54369038,18.7078465 L7.9543781,17.7034482 C8.04241851,17.6383749 8.14591232,17.596739 8.25405073,17.5799881 L8.363337,17.5715859 C8.48558183,17.5715859 8.60935255,17.6038739 8.71681898,17.6652835 C9.24074289,17.965829 9.79682355,18.1941468 10.3674063,18.3417811 C10.5624306,18.3914932 10.7245398,18.5225899 10.8177197,18.7062746 L10.8583989,18.8023659 L10.8842471,18.9053128 L11.167233,20.6016259 L12.8342715,20.6016259 L13.1195766,18.9071379 C13.1564305,18.6675879 13.3177834,18.4661321 13.5382913,18.374328 L13.6362259,18.3419053 C14.2333073,18.1875578 14.7999051,17.9528244 15.3230692,17.6413255 C15.4980654,17.5386103 15.7074054,17.5162406 15.9030621,17.5800889 L15.9995279,17.6192251 L16.088758,17.673081 L17.4913323,18.670385 L18.6713708,17.4903465 L17.6726672,16.0840575 C17.5321629,15.884632 17.5056778,15.6321919 17.595952,15.410861 L17.6417974,15.3181547 C17.9528244,14.7957889 18.1875578,14.2291911 18.3417811,13.6325937 C18.3914932,13.4375694 18.5225899,13.2754602 18.7062746,13.1822803 L18.8023659,13.1416011 L18.9053128,13.1157529 L20.6055692,12.8322998 L20.6055692,11.167233 L18.9112541,10.8804234 C18.6717041,10.8435695 18.4702483,10.6822166 18.3784442,10.4617087 L18.3460215,10.3637741 C18.191674,9.76669273 17.9569406,9.20009486 17.6454417,8.67693078 C17.5427265,8.50193461 17.5203568,8.29259456 17.5842051,8.09693786 L17.6233413,8.00047213 L17.6771972,7.91124203 L18.6753141,6.51115799 L17.4942898,5.33013367 L16.1005223,6.33144903 C15.9010968,6.47195333 15.6486567,6.49843841 15.4276959,6.40838354 L15.335172,6.36264614 C14.7964515,6.04504227 14.2169457,5.80737408 13.6085572,5.65426951 C13.4111547,5.60491888 13.2475745,5.47215368 13.1537279,5.28659679 L13.1127821,5.18956081 L13.086968,5.08662487 L12.8046966,3.40382189 Z M12.0020582,7.59803246 C14.4299613,7.59803246 16.4019677,9.57003892 16.4019677,11.997942 C16.4019677,14.4258451 14.4299613,16.3978515 12.0020582,16.3978515 C9.57415512,16.3978515 7.60214866,14.4258451 7.60214866,11.997942 C7.60214866,9.57003892 9.57415512,7.59803246 12.0020582,7.59803246 Z M12.0020582,9.00515557 C10.3508066,9.00515557 9.00927177,10.3466904 9.00927177,11.997942 C9.00927177,13.6491935 10.3508066,14.9907284 12.0020582,14.9907284 C13.6533097,14.9907284 14.9948446,13.6491935 14.9948446,11.997942 C14.9948446,10.3466904 13.6533097,9.00515557 12.0020582,9.00515557 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); // mask-size: 24px;
                    background-color: #edf3f7;
                    border-radius: 50%;
                    background-position: center;
                    width: 30px;
                    height: 30px;
                    background-repeat: no-repeat !important;
                }
                &.nuxt-link-exact-active,
                &.nuxt-link-active {
                    // background: #ffecee;

                    .icon {
                        // background-color: $iconHoverColor;
                        &.icon-setting {
                            // -webkit-mask-image: url("~assets/images/icons/setting.svg");
                            // mask-image: url("~assets/images/icons/setting.svg");
                            background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-368.000000, -168.000000)' fill='%23FF3D57'%3E%3Cg id='ic/setting' transform='translate(368.000000, 168.000000)'%3E%3Cpath d='M12.8294144,2 C13.4028761,2 13.9067144,2.35393112 14.1075802,2.88379253 L14.1484494,3.00911024 L14.1771596,3.13998072 L14.3938545,4.41922677 L14.666656,4.50803408 L14.8466172,4.574522 L15.0257894,4.64581946 L15.3819009,4.80284667 L15.6399436,4.93185836 L16.7110277,4.16829344 C16.8650925,4.05736679 17.0378299,3.98133777 17.2206302,3.94297694 L17.3594827,3.92131239 L17.5013017,3.91403316 C17.7605239,3.91403316 18.0096074,3.98653256 18.2290972,4.12587442 L18.3570842,4.21745538 L18.4661507,4.31545402 L19.6922671,5.54157291 C20.0942398,5.939643 20.2028051,6.53782717 19.980215,7.0522057 L19.9176466,7.17889008 L19.8402348,7.30090849 L19.0775327,8.36846167 L19.2005097,8.61640884 L19.2772681,8.78493796 L19.3502683,8.95573703 L19.4850657,9.30433177 L19.5734052,9.5662451 L20.8681322,9.78577448 C21.3914266,9.87360011 21.8046782,10.2502304 21.9472097,10.7450319 L21.9771096,10.8710955 L21.9951716,11.0014903 L22.0001167,11.1335398 L22.0001167,12.8664602 C22.0001167,13.4399039 21.6461155,13.9437535 21.1162168,14.1446249 L20.990891,14.1854953 L20.8597344,14.2142532 L19.5655186,14.4303302 L19.4791418,14.6877274 L19.4145259,14.8605824 L19.3450866,15.0334512 L19.1917615,15.379435 L19.0686603,15.6271278 L19.8321696,16.6993258 C20.1325555,17.1212965 20.1634415,17.6673469 19.9324873,18.1167617 L19.8630137,18.2367677 L19.7805908,18.3509868 L19.684546,18.4579183 L18.4579183,19.684546 C18.2737724,19.8686919 18.0466144,19.9946255 17.7938747,20.0519302 L17.6393005,20.0779942 L17.4840126,20.0856892 L17.3230701,20.0755324 C17.1963446,20.0598791 17.0731124,20.0267641 16.9533016,19.9751764 L16.8346287,19.9173936 L16.6990915,19.8320024 L15.632057,19.0696461 L15.3835912,19.1922773 L15.215062,19.2690357 L15.044263,19.3420359 L14.6956682,19.4768333 L14.4342735,19.5655186 L14.2142255,20.8598998 C14.1266232,21.3818636 13.7512771,21.7953133 13.2567888,21.9426123 L13.1307822,21.973801 L13.0003968,21.9933527 L12.8664602,22 L11.1294236,22 C10.5559619,22 10.0521235,21.6460689 9.85125784,21.1162075 L9.81038864,20.9908898 L9.78163063,20.8597344 L9.5662451,19.5645328 L9.30921753,19.4782245 L9.14047401,19.4154102 L8.97376136,19.3490993 L8.64627356,19.2058043 L8.41085236,19.0893627 L7.32601808,19.86052 C7.17195329,19.9714466 6.99921595,20.0474756 6.81641561,20.0858365 L6.67756307,20.107501 L6.53574405,20.1147802 C6.27652186,20.1147802 6.02743845,20.0422808 5.80794863,19.902939 L5.6799616,19.811358 L5.57089512,19.7133594 L4.34477873,18.4872405 C3.94280599,18.0891704 3.83424074,17.4909862 4.05683079,16.9766077 L4.11939922,16.8499233 L4.19704869,16.7275733 L4.95650411,15.6734618 L4.82939844,15.4248144 L4.7511683,15.2562564 L4.67693733,15.0857839 L4.54052485,14.7391181 L4.45274499,14.4796217 L3.1401002,14.2553875 C2.61813639,14.1677852 2.20468667,13.7924391 2.05738772,13.2979508 L2.02619901,13.1719442 L2.00664727,13.0415588 L2,12.9076222 L2,11.1747018 C2,10.6012401 2.35393112,10.0974018 2.88379253,9.89653605 L3.00911024,9.85566685 L3.13998072,9.82695659 L4.41824094,9.61159328 L4.5051457,9.34536966 L4.56888414,9.17105143 L4.6366668,8.99847306 L4.78461533,8.65810391 L4.90721261,8.41085236 L4.13490083,7.32537136 C3.83451492,6.90340068 3.80362891,6.35735034 4.03458306,5.90793546 L4.10405671,5.78792951 L4.18647963,5.67371036 L4.28269971,5.56660392 L5.51233059,4.34109744 C5.76610146,4.08271255 6.11263488,3.93873036 6.47811725,3.93873036 C6.66108225,3.93873036 6.84048523,3.97467441 7.01070383,4.04660631 L7.13655785,4.10730363 L7.27250748,4.19299064 L8.33100013,4.95551828 L8.57930184,4.82939844 L8.74785985,4.7511683 L8.91833229,4.67693733 L9.26499806,4.54052485 L9.52582607,4.45274499 L9.74872868,3.1401002 C9.836331,2.61813639 10.2116771,2.20468667 10.7061654,2.05738772 L10.832172,2.02619901 L10.9625574,2.00664727 L11.096494,2 L12.8294144,2 Z M12.8046966,3.40382189 L11.1376581,3.40382189 L10.847047,5.11206027 C10.8061725,5.34822403 10.6467638,5.54546128 10.4280414,5.640346 L10.3308445,5.67455948 C9.74558014,5.8258523 9.17786222,6.06553285 8.64811738,6.38337173 C8.47320333,6.48603867 8.26415516,6.50836241 8.06731589,6.44496645 L7.97012821,6.40610026 L7.87821433,6.35154636 L6.48651224,5.35872274 L5.30548792,6.53974706 L6.30993553,7.95167994 C6.45187192,8.14855945 6.4808503,8.40126701 6.39172307,8.62177825 L6.34627973,8.71405524 C6.04059359,9.23411867 5.80928454,9.80427519 5.65838571,10.4037914 C5.60903508,10.6011939 5.47626988,10.7647741 5.29071299,10.8586207 L5.19367701,10.8995665 L5.09074107,10.9253807 L3.40776521,11.2086378 L3.40776521,12.8756763 L5.11617647,13.1653016 C5.35234023,13.2061761 5.54957748,13.3655848 5.6444622,13.5843072 L5.67867568,13.6815041 C5.8299685,14.2667685 6.06964905,14.8344864 6.38748793,15.3642312 C6.49015487,15.5391453 6.51247861,15.7481934 6.44908265,15.9450327 L6.41021646,16.0422204 L6.35566256,16.1341343 L5.36266606,17.5268222 L6.54369038,18.7078465 L7.9543781,17.7034482 C8.04241851,17.6383749 8.14591232,17.596739 8.25405073,17.5799881 L8.363337,17.5715859 C8.48558183,17.5715859 8.60935255,17.6038739 8.71681898,17.6652835 C9.24074289,17.965829 9.79682355,18.1941468 10.3674063,18.3417811 C10.5624306,18.3914932 10.7245398,18.5225899 10.8177197,18.7062746 L10.8583989,18.8023659 L10.8842471,18.9053128 L11.167233,20.6016259 L12.8342715,20.6016259 L13.1195766,18.9071379 C13.1564305,18.6675879 13.3177834,18.4661321 13.5382913,18.374328 L13.6362259,18.3419053 C14.2333073,18.1875578 14.7999051,17.9528244 15.3230692,17.6413255 C15.4980654,17.5386103 15.7074054,17.5162406 15.9030621,17.5800889 L15.9995279,17.6192251 L16.088758,17.673081 L17.4913323,18.670385 L18.6713708,17.4903465 L17.6726672,16.0840575 C17.5321629,15.884632 17.5056778,15.6321919 17.595952,15.410861 L17.6417974,15.3181547 C17.9528244,14.7957889 18.1875578,14.2291911 18.3417811,13.6325937 C18.3914932,13.4375694 18.5225899,13.2754602 18.7062746,13.1822803 L18.8023659,13.1416011 L18.9053128,13.1157529 L20.6055692,12.8322998 L20.6055692,11.167233 L18.9112541,10.8804234 C18.6717041,10.8435695 18.4702483,10.6822166 18.3784442,10.4617087 L18.3460215,10.3637741 C18.191674,9.76669273 17.9569406,9.20009486 17.6454417,8.67693078 C17.5427265,8.50193461 17.5203568,8.29259456 17.5842051,8.09693786 L17.6233413,8.00047213 L17.6771972,7.91124203 L18.6753141,6.51115799 L17.4942898,5.33013367 L16.1005223,6.33144903 C15.9010968,6.47195333 15.6486567,6.49843841 15.4276959,6.40838354 L15.335172,6.36264614 C14.7964515,6.04504227 14.2169457,5.80737408 13.6085572,5.65426951 C13.4111547,5.60491888 13.2475745,5.47215368 13.1537279,5.28659679 L13.1127821,5.18956081 L13.086968,5.08662487 L12.8046966,3.40382189 Z M12.0020582,7.59803246 C14.4299613,7.59803246 16.4019677,9.57003892 16.4019677,11.997942 C16.4019677,14.4258451 14.4299613,16.3978515 12.0020582,16.3978515 C9.57415512,16.3978515 7.60214866,14.4258451 7.60214866,11.997942 C7.60214866,9.57003892 9.57415512,7.59803246 12.0020582,7.59803246 Z M12.0020582,9.00515557 C10.3508066,9.00515557 9.00927177,10.3466904 9.00927177,11.997942 C9.00927177,13.6491935 10.3508066,14.9907284 12.0020582,14.9907284 C13.6533097,14.9907284 14.9948446,13.6491935 14.9948446,11.997942 C14.9948446,10.3466904 13.6533097,9.00515557 12.0020582,9.00515557 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); // mask-size: 24px;
                            background-color: #ffecee;

                            // mask-repeat: no-repeat;
                        }
                    }
                }

                .dropdown.b-dropdown.btn-group {
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;

                    .dropdown-menu.dropdown-menu-right.show {
                        filter: drop-shadow(0.1rem 0.1rem 0.2rem #c5c5c5);
                        margin-top: 25px;
                        border: unset;

                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            border-top-left-radius: 4px;
                            position: absolute;
                            transform: rotate(45deg);
                            top: -8px;
                            right: 15px;
                            background-color: #fff;
                        }
                    }

                    &.show {
                        .btn.dropdown-toggle.btn-secondary {
                            background: #ffecee;

                            .icon {
                                &.icon-setting {
                                    background-color: $iconHoverColor;
                                }
                            }
                        }
                    }

                    .btn.dropdown-toggle.btn-secondary {
                        border-radius: 100px;
                        background: none;
                        border: none;
                        // width: 40px;
                        // height: 40px;
                        padding: 2px;
                        justify-content: center;
                        align-items: center;
                        display: flex;

                        &::after {
                            display: none;
                        }

                        .icon {
                            width: 22px;
                            height: 22px;
                            background-color: $secondary;

                            &.icon-setting {
                                -webkit-mask-image: url("~assets/images/icons/setting.svg");
                                mask-image: url("~assets/images/icons/setting.svg");
                                background-color: $iconNotActiveColor;
                                mask-size: 22px;
                                mask-repeat: no-repeat;
                            }
                        }

                        &:hover {
                            background: #ffecee;

                            .icon {
                                background-color: $iconHoverColor;
                            }
                        }
                    }
                }

                .-button {
                    text-decoration: none;
                    color: $iconNotActiveColor;
                    // background: $backgroundNavbar;
                    padding: 8px;
                    border-radius: 100px;

                    &.nuxt-link-exact-active,
                    &.nuxt-link-active {
                        color: $iconHoverColor;
                        // background: $navItemBackgroundHover;
                        padding: 5px;
                        font-weight: 600;
                    }
                }
            }
            .line-y {
                border-left: 1px solid #eff1f4;
                padding: 2px;
                height: 32px;
            }

            .profile {
                // padding: 8px;
                // width: 70px;
                height: 100%;
                margin-left: 12px;

                .dropdown.b-dropdown.btn-group {
                    .dropdown-menu.dropdown-menu-right.show {
                        filter: drop-shadow(0.1rem 0.1rem 0.2rem #c5c5c5);
                        margin-top: 25px;
                        border: unset;

                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            border-top-left-radius: 4px;
                            position: absolute;
                            transform: rotate(45deg);
                            top: -8px;
                            right: 15px;
                            background-color: #fff;
                        }
                    }

                    .btn.dropdown-toggle.btn-secondary {
                        background: none;
                        border: none;
                        // width: 40px;
                        // height: 40px;
                        padding: 0px;
                        justify-content: center;
                        align-items: center;
                        display: flex;

                        &::after {
                            display: none;
                        }

                        .dropdown-icon {
                            margin-left: 5.26px;
                            width: 12px;
                            height: 12px;
                            &.down {
                                -webkit-mask-image: url("~assets/images/icons/dropdown.svg");
                                mask-image: url("~assets/images/icons/dropdown.svg");
                                background-color: $iconNotActiveColor;
                                mask-size: 12px;
                                mask-repeat: no-repeat;
                            }
                        }

                        .profile-image {
                            width: 32px;
                            height: 32px;
                            border-radius: 100px;

                            img {
                                width: 100%;
                                height: 32px;
                            }
                        }
                    }
                }

                .-button {
                    text-decoration: none;

                    color: #212529;
                    // background: $backgroundNavbar;
                    padding: 8px;
                    border-radius: 100px;

                    &.nuxt-link-exact-active,
                    &.nuxt-link-active {
                        color: #ee4552;
                        // background: $navItemBackgroundHover;
                        padding: 5px;
                        font-weight: 600;
                    }
                }
            }
        }

        .official-account {
            margin-left: 25px;
            float: left;
            display: flex;
            align-items: center;
            // margin-left: 0.5rem;

            .one-account {
                background: #f6f9fa;
                color: $textColor;
                border: none;
                height: 32px;
                padding: 7px 8px;
                // width: 220px;
                border-radius: 100px;
                display: inline-flex;
                min-width: 150px;
            }

            // .chat-active {
            //     font-size: 12px;
            //     font-weight: 500;
            //     border-radius: 11px;
            //     padding: 1px 7px;
            //     margin-left: 7px;
            //     &.status-1 {
            //         border: 1px solid #28c10b;
            //         color: #28c10b;
            //     }

            //     &.status-2 {
            //         border: 1px solid #ff3d57;
            //         color: #ff3d57;
            //     }
            // }

            .chat-active {
                padding: 5px;
                &:hover {
                    background-color: #f6f9fa;
                    border-radius: 50%;
                }
            }

            .account-status {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                margin-right: 8px;
                &.noti {
                    border: 1px solid #ff3d57;
                    color: #ff3d57;
                    background-color: #ff3d57;
                }
            }

            .dropdown-item__account-list {
                // min-width: 241px;
                max-width: 241px;
                background: #fff;

                .account-list {
                    padding: 8px 32px 7px;
                }
            }
            .dropdown-header {
                font-size: 12px;
                color: $secondary-light-2;
                padding: 2px 16px 4px;
            }

            .notification {
                width: 10px;
                height: 10px;
                background-color: $primary;
                border-radius: 50%;
                // font-size: 10px;
                text-align: center;
                color: #fff;
                letter-spacing: 0;
                line-height: 14px;
                margin-left: auto;
            }

            .btn.dropdown-toggle.btn-secondary {
                background: #f6f9fa;
                color: $textColor;
                border: none;
                height: 32px;
                padding: 7px 12px;
                // width: 220px;
                border-radius: 100px;
                display: inline-flex;
                min-width: 175px;

                &::after {
                    // display: none;
                    color: $secondary-light-2;
                    margin-left: auto;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%2384919D'%3E%3Cpath d='M4.16315306,8.15455422 L11.3240358,16.7476136 C11.6351357,17.1209334 12.1899675,17.1713726 12.5632873,16.8602728 C12.60417,16.8262039 12.6418776,16.7884963 12.6759465,16.7476136 L19.8368293,8.15455422 C20.0857092,7.85589836 20.0453578,7.41203294 19.7467019,7.16315306 C19.6201974,7.05773264 19.460737,7 19.296065,7 L4.70391733,7 C4.31515452,7 4,7.31515452 4,7.70391733 C4,7.86858929 4.05773264,8.02804972 4.16315306,8.15455422 Z'%3E%3C/path%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    margin-top: 8px;
                    background-repeat: no-repeat;
                    background-size: 12px 12px;
                    // vertical-align: 0.255em;
                    // content: "";
                    // border-top: 0.3em solid;
                    // border-right: 0.3em solid transparent;
                    // border-bottom: 0;
                    // border-left: 0.3em solid transparent;
                    // color: $secondary-light-2;
                }
            }
            .image-profile {
                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .account-name {
                // margin-left: 8px;
                // height: 100%;
                font-size: 14px;
                // color: $secondary;
                font-weight: 600;
            }

            .chat-status {
                color: $secondary-light-2;
                font-size: 10px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='%236B7884'%3E%3Cpath d='M18.9240234,3.6 C20.6204245,3.6 22,4.99696721 22,6.7147541 L22,15.5495591 C22,15.6729384 21.9920659,15.7830213 21.9773373,15.8807632 C21.813714,17.4425369 20.5043393,18.6643132 18.9178714,18.6643132 L18.9178714,18.6643132 L10.2820671,18.6643132 L6.34481698,21.9021001 C6.20332205,22.0266902 6.02491541,22.0905427 5.84497078,22.0905427 C5.73577361,22.0905427 5.62657644,22.067182 5.52353122,22.0189034 C5.25130729,21.8927558 5.07597662,21.6155427 5.07597662,21.3118542 L5.07597662,21.3118542 L5.07597662,18.6643132 C3.37957552,18.6643132 2,17.267346 2,15.5495591 L2,15.5495591 L2,6.7147541 C2,4.99696721 3.37957552,3.6 5.07597662,3.6 L5.07597662,3.6 L18.9240234,3.6 Z M5.07597662,5.15737705 C4.22854506,5.15737705 3.53798831,5.85663934 3.53798831,6.7147541 L3.53798831,6.7147541 L3.53798831,15.5495591 C3.53798831,16.4076738 4.22854506,17.1069361 5.07597662,17.1069361 L5.07597662,17.1069361 L5.84497078,17.1069361 C6.26945555,17.1069361 6.61396493,17.4557886 6.61396493,17.8856247 L6.61396493,17.8856247 L6.61396493,19.6189853 L9.49769302,17.2953788 C9.63611197,17.172346 9.81451861,17.1069361 9.99753922,17.1069361 L9.99753922,17.1069361 L18.9178714,17.1069361 C19.765303,17.1069361 20.4558597,16.4076738 20.4558597,15.5495591 L20.4558597,15.5495591 L20.4558597,13.2134935 C20.4558597,13.1776738 20.4582522,13.1424166 20.4628839,13.1078767 L20.4620117,6.7147541 C20.4620117,5.85663934 19.7714549,5.15737705 18.9240234,5.15737705 Z' id='Combined-Shape'%3E%3C/path%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 12px 12px;
                background-position: left;
                padding-left: 16px;
            }

            .detail-oa {
                margin-left: 20px;
                font-size: 14px;
                color: $secondary;

                .line-id {
                    font-weight: 600;
                }
            }
        }
    }
}

.body-layout {
    width: 100%;
    position: relative;
    display: flex;
    height: calc(100vh - 49px);
    font-size: 14px;

    .left-menu-bar {
        overflow-y: auto;
        overflow-x: hidden;
        min-width: $navbarMinWidth;
        max-width: $navbarMaxWidth;
        // background: $backgroundNavbar;
        background: #ffffff;
        height: 100%;
        border-right: $boderColor $boderWidth solid;
    }

    .content {
        font-size: 14px;
        width: calc(100% - #{$navbarMaxWidth});
        overflow-x: hidden;
        overflow-y: hidden;

        .space-body {
            padding: 16px 16px 16px 15px;
        }
    }
}

// LeftMenu

.left-navbar {
    // padding-top: 10px;
    font-size: 12px;
    .item {
        .label-name {
            font-size: 13px;
            font-weight: bold;
            color: $secondary;
            padding-left: 11px;
            margin-top: 9px;
            margin-bottom: 5px;
            // line-height: 50px;
            letter-spacing: 0;
            line-height: 18px;

            &:first-letter {
                text-transform: uppercase;
            }
        }
        .nav-item {
            display: block;
            // padding-left: 12px;
            // width: calc(100% - 3px);
            margin: 3px;
            height: 60px;
            justify-content: left;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: $iconNotActiveColor;
            // border-radius: 0px 50px 50px 0px;
            padding: 8px 1px;
            border-radius: 4px;
            cursor: pointer;
            position: relative;

            .notification {
                min-width: 27px;
                height: 15px;
                background-color: $primary;
                border-radius: 10px;
                border: 1px solid #ffffff;
                font-size: 10px;
                font-weight: 400;
                text-align: center;
                color: #fff;
                letter-spacing: 0;
                top: 5px;
                right: 10px;
                position: absolute;
                padding: 0 4.5px;
            }

            &:focus {
                outline: unset;
                outline-color: unset;
                outline-style: unset;
                outline-width: unset;
            }
            &.owner {
                padding-right: 10px;
                .icon-submenu {
                    width: 15px;
                    height: 15px;
                    background-size: cover;
                    display: block;
                    -webkit-mask-image: url("~assets/images/icons/arrow_right.svg");
                    mask-image: url("~assets/images/icons/arrow_right.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 15px;
                    mask-repeat: no-repeat;
                    margin-left: auto;
                }

                &.active {
                    font-weight: bold;
                    background: $navItemBackgroundHover;
                    .icon,
                    .icon-submenu {
                        background-color: $iconHoverColor !important;
                    }

                    .name {
                        color: $iconHoverColor !important;
                    }
                }

                &.not-collapsed {
                    // background: $navItemBackgroundHover;
                    .icon-submenu {
                        -webkit-mask-image: url("~assets/images/icons/arrow_down.svg");
                        mask-image: url("~assets/images/icons/arrow_down.svg");
                    }
                }
            }

            &:hover,
            &.nuxt-link-active {
                background-color: $navItemBackgroundHover;
                font-weight: 600;

                .icon,
                .icon-submenu {
                    background-color: $iconHoverColor !important;
                }

                .name {
                    color: $iconHoverColor !important;
                }
            }

            .icon {
                display: inline-block;
                width: 24px;
                height: 24px;
                background-size: cover;

                &.icon-menu-dashboard {
                    -webkit-mask-image: url("~assets/images/icons/dashboard.svg");
                    mask-image: url("~assets/images/icons/dashboard.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-chat {
                    -webkit-mask-image: url("~assets/images/icons/chat.svg");
                    mask-image: url("~assets/images/icons/chat.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-contact {
                    -webkit-mask-image: url("~assets/images/icons/contact_list.svg");
                    mask-image: url("~assets/images/icons/contact_list.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-soical {
                    -webkit-mask-image: url("~assets/images/icons/icon_menu_soical_re.svg");
                    mask-image: url("~assets/images/icons/icon_menu_soical_re.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;

                }
                &.icon-menu-broadcast {
                    -webkit-mask-image: url("~assets/images/icons/board_cast.svg");
                    mask-image: url("~assets/images/icons/board_cast.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-replymessage {
                    -webkit-mask-image: url("~assets/images/icons/icon_messge_template.svg");
                    mask-image: url("~assets/images/icons/icon_messge_template.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-report {
                    -webkit-mask-image: url("~assets/images/icons/report.svg");
                    mask-image: url("~assets/images/icons/report.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-richmenu {
                    -webkit-mask-image: url("~assets/images/icons/rich_menu.svg");
                    mask-image: url("~assets/images/icons/rich_menu.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-location {
                    -webkit-mask-image: url("~assets/images/icons/icon-location.svg");
                    mask-image: url("~assets/images/icons/icon-location.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }
                &.icon-menu-file-management {
                    -webkit-mask-image: url("~assets/images/icons/file-management.svg");
                    mask-image: url("~assets/images/icons/file-management.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-intents {
                    -webkit-mask-image: url("~assets/images/icons/icon_intent.svg");
                    mask-image: url("~assets/images/icons/icon_intent.svg");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }

                &.icon-menu-form {
                    -webkit-mask-image: url("~assets/images/icons/icon-forms.png");
                    mask-image: url("~assets/images/icons/icon-forms.png");
                    background-color: $iconNotActiveColor;
                    mask-size: 24px;
                    mask-repeat: no-repeat;
                }
                // &.icon-Unvailable {
                //     -webkit-mask-image: url("~assets/icons/ic_unavailable.svg");
                //     mask-image: url("~assets/icons/ic_unavailable.svg");
                //     background-color: #a2a2a2;
                //     mask-size: 40px;
                //     mask-repeat: no-repeat;
                // }

                // &.icon-undefined {
                //     -webkit-mask-image: url("~assets/icons/ic_unavailable.svg");
                //     mask-image: url("~assets/icons/ic_unavailable.svg");
                //     background-color: #a2a2a2;
                //     mask-size: 40px;
                //     mask-repeat: no-repeat;
                // }

                // &.icon-Ringing {
                //     -webkit-mask-image: url("~assets/icons/ic_ringing.svg");
                //     mask-image: url("~assets/icons/ic_ringing.svg");
                //     background-color: #ffd300;
                //     mask-size: 40px;
                //     mask-repeat: no-repeat;
                // }

                // &.icon-Incoming {
                //     -webkit-mask-image: url("~assets/icons/ic_incoming.svg");
                //     mask-image: url("~assets/icons/ic_incoming.svg");
                //     background-color: #f96969;
                //     mask-size: 40px;
                //     mask-repeat: no-repeat;
                // }

                // &.icon-Outgoing {
                //     -webkit-mask-image: url("~assets/icons/ic_incoming.svg");
                //     mask-image: url("~assets/icons/ic_incoming.svg");
                //     background-color: #f39c30;
                //     mask-size: 40px;
                //     mask-repeat: no-repeat;
                // }

                // &.icon-OutgoingRinging {
                //     -webkit-mask-image: url("~assets/icons/ic_ringing.svg");
                //     mask-image: url("~assets/icons/ic_ringing.svg");
                //     background-color: #f39c30;
                //     mask-size: 40px;
                //     mask-repeat: no-repeat;
                // }
            }

            .name {
                // padding-left: 10px;
                color: $secondary;
                letter-spacing: 0;
                line-height: 20px;
            }
        }

        .sub-nav-item {
            position: relative;
            height: auto;
            width: auto;
            &::before {
                content: "";
                width: 3px;
                height: calc(100% - 10px);
                /* position: relative; */
                top: 5px;
                left: 28px;
                background-color: #fbcfd3;
                position: absolute;
            }
            .nav-item-link {
                display: flex;
                padding-left: 45px;
                width: calc(100% - 3px);
                height: 30px;
                justify-content: left;
                align-items: center;
                text-decoration: none;
                color: $iconNotActiveColor;
                border-radius: 0px 50px 50px 0px;
                cursor: pointer;

                &:hover,
                &.nuxt-link-active {
                    font-weight: 600;

                    .icon,
                    .icon-submenu {
                        background-color: $iconHoverColor !important;
                    }

                    .name {
                        color: $iconHoverColor !important;
                    }
                }
            }
        }
    }
}
