.layout-login {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;

    .aside-login {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.75%;
        flex: 0 0 33.75%;
        max-width: 33.75%;
    }
    .layout-body {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.25%;
        flex: 0 0 66.25%;
        max-width: 66.25%;
        background-color: #fff;
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 700px) {
        .form-eye { 
            right: calc(100% - 327px);
        }
        .aside-login {
            display: none;
        }
        .layout-body {
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
        }

        .input-email-password {
            width: 340px;
        }

        .content-center {
            height: 100%;
            padding: 20px;
        }
    }

    .logo {
        width: 100%;
        height: 100%;
        // transform: rotate(180deg);
        // background: linear-gradient(46.14deg, #fd9583 0%, #ff4059 100%);

        .img-lazy-loading {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .bg {
            width: 100%;
            height: 100%;
            background-image: url("../images/img_login_bg.jpg"), url("../images/img_login_bg-loading.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .welcome-to-chatcone {
        text-align: left;
        color: #33475B;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 38px;
    }

    .login-to-your-account {
        text-align: left !important;
        color: #84919d;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom: 22px;
    }

    .form-group {
        height: 57px;
    }

    .form-group > label {
        bottom: 37px;
        left: 48px;
        position: relative;
        background-color: white;
        padding: 0px 5px 0px 5px;
        transition: 0.2s;
        pointer-events: none;
        font-size: 16px;
        color: $secondary-light-2;
    }

    // .form-control:focus {
    //     border: 1px solid $secondary-light-1 !important;
    //     box-shadow: 0 0 4px 0 rgba(104, 117, 129, 0.75) !important;
    // }

    .form-control:focus ~ label {
        bottom: 65px;
        left: 12px;
        font-size: 12px;
        color: $secondary;
    }

    .form-control:valid ~ label {
        bottom: 65px;
        left: 12px;
        font-size: 12px;
        color: $secondary;
    }
    .form-group .form-control-icon {
        position: absolute;
        z-index: 2;
        display: block;
        padding: 14px;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .form-group .form-control {
        padding-left: 50px;
        padding-right: 50px;
    }

    .text-input {
        height: 24px;
        color: #84919d;
        
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
    }

    .form-check-label {
        color: $secondary;
        
        font-size: 14px;
        margin-left: 5px;
        letter-spacing: 0;
    }

    .forgot-password {
        color: $secondary;
        
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        text-align: right;
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-decoration-style: solid;
    }

    .create-account {
        height: 20px;
        color: $secondary;
        
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-decoration-style: solid;
    }

    /* The container */
    .container-checkbox {
        display: block;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-size: 14px;
        color: $secondary;
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .container-checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        height: 17px;
        width: 17px;
        border: 1px solid #e3e8ec;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: inset 0 0 2px 0 rgba(70, 77, 94, 0.16);
    }

    /* On mouse-over, add a grey background color */
    .container-checkbox:hover input ~ .checkmark {
        box-sizing: border-box;
        height: 17px;
        width: 17px;
        border: 1px solid #e3e8ec;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: inset 0 0 2px 0 rgba(70, 77, 94, 0.16);
    }

    /* When the checkbox is checked, add a blue background */
    .container-checkbox input:checked ~ .checkmark {
        background-color: $secondary;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .container-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-checkbox .checkmark:after {
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #84919d;
        
        font-size: 12px;
        text-align: center;
        margin-bottom: 15px;
    }
}

.content-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-eye {
    position: absolute;
    z-index: 2;
    display: block;
    // left: auto;
    right: calc(100% - 407px);
    margin-top: 12.5px;
}

.input-email-password {
    width: 420px;
    height: 52px !important;
    border: 1px solid $border-grey;
}

.dont-have-an-account {
    display: block;
    height: 20px;
    color: #33475b;
    
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}
