.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;

  // margin: 50px auto;
  .modal-content {
    border: none;
    box-shadow: 0 1px 6px 0 rgba(132, 145, 157, 0.25);
    border-radius: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 110px);

    .modal-header {
      padding: 13px 17px 12.5px 24px;
    }

    .modal-header .close {
      margin: 0 0;
      padding: 0;
      width: 32px;
      height: 32px;
      background-color: $grey-background;
      border-radius: 50%;
      opacity: 1;

      &:hover {
        opacity: 0.75;
      }
    }

    .modal-footer {
      padding: 12px 25px 12px 24px; // & > * {
      // margin: 0;
      // }
    }
  }
}

.modal-dialog-create-oa {
  width: 555px;

  .modal-body {
    padding: 23.5px 25px 20px 24px;

    .form-control {
      height: 32px;
      color: $secondary-light-2;
    }

    .form-group {
      margin-bottom: 12px;
    }
  }

  .modal-button-footer {
    display: flex;
    justify-self: flex-start;
    width: 100%;
  }

  .btn--primary {
    height: 32px;
    width: 96px;
    padding: 0.175rem 0.75rem;
  }

  .btn--secondary {
    height: 32px;
    width: 96px;
    padding: 0.175rem 0.75rem;
  }
}

@media only screen and (max-width: 575px) {
  .modal-dialog-create-oa {
    width: 100%;
  }
}

.modal-title {
  color: $secondary;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
}

.modal-backdrop {
  background-color: $secondary-light-2;
  opacity: 0.6;
}

.modal-custom {
  min-width: 100% !important;
  min-height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;

  .modal-body-wrapper {
    .form-wrapper {
      // height: 46.5em;
      position: relative;
      overflow-y: auto;
    }
  }

  .modal-body {
    padding-top: 0 !important; // height: 100%;
  }

  max-width: 90em !important;

  .modal-body {
    padding-top: 0 !important;
  }
}

.modal-dialog-setting-user {
  width: 846px;

  .modal-body {
    padding: 16.5px 24px 18px 23.5px;

    table th:first-child,
    td:first-child {
      border-right: 1px solid $border-grey !important;
    }

    table td {
      font-size: 14px;
      color: $secondary;
      padding: 11.5px 14.5px 8.5px 14.5px !important;
    }

    input {
      width: 280px;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-bottom: 0rem;
    color: white;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $inactive;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    padding-left: 7px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: $btn_switch_f;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }

  .modal-footer {
    padding: 8px 25px 8px 24px;
    justify-content: start;
  }
}

.modal-custom-file {
  // min-width: 100% !important;
  // min-height: 100% !important; // padding: 0px !important ;
  // margin: 0px !important;
  padding-top: 50px;
  width: 80em !important;
  max-width: 80em !important;

  .modal-content {
    max-height: calc(100% - 30px);
  }

  .modal-body-wrapper {
    .form-wrapper {
      height: 46.5em;
      position: relative;
      overflow-y: auto;
    }
  }

  .modal-body {
    padding-top: 0 !important;
    height: 100%;
    padding: 0 !important;
  }

  // .modal-body {
  //     padding-top: 0 !important;
  // }
}

.modal-chat {
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;

  .modal-content {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
    background-color: transparent !important;
    height: auto;
    min-height: 100%;
  }

  .modal-header {
    border: none !important;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    height: 80vh;

    img {
      object-fit: contain;
      // width: 100%;
      // height: 100%;
    }

    video {
      object-fit: contain;
      width: 100%;
      height: 100%;
      background-color: #000;
    }
  }

  .modal-footer {
    border: none !important;
  }
}

.modal-round-icon {
  border-radius: 50%;
  background-color: #faeae7;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  text-align: center;
}

.modal-round-icon-alert {
  border-radius: 50%;
  background-color: #fef6e9;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  text-align: center;
}

.modal-title-delete {
  color: #bf3214;
  font-weight: 600;
  text-align: left;
}

.modal-title-alert {
  color: #f4a927;
  font-weight: 600;
  text-align: left;
}

.modal-text {
  color: #6b7884;
  font-family: "Hind Madurai";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.modal-body-wrapper {
  font-size: 14px;

  .custom-text-editor,
  textarea,
  input {
    font-size: 14px;
  }
}

.modal-chat-import {
  .modal-body {
    padding: 0 !important; // height: 100%;
  }
}

.modal-dialog-api {
  max-width: 100%;
  margin: 0;
  padding: 5px;

  .modal-header-api {
    background: #33475b 0% 0% no-repeat padding-box !important;

    .modal-title {
      color: #ffffff !important;
    }

    .close {
      background: transparent !important;

      svg {
        fill: #ffff;
      }
    }
  }

  .modal-content {
    max-height: calc(100vh - 20px);

    .modal-body {
      padding: 0;
    }
  }
}

.modal-dialog-setting-chat-widget {
  max-width: 100%;
  margin: 0;
  padding: 5px;

  .modal-header {
    background: #33475b 0% 0% no-repeat padding-box !important;

    .modal-title {
      color: #ffffff !important;
    }

    .close {
      background: transparent !important;

      svg {
        fill: #ffff;
      }
    }
  }

  .modal-content {
    max-height: calc(100vh - 20px);

    .modal-body {
      padding: 0;
    }
  }

  .nav-tabs .nav-link {
    color: #6b7884;
  }

  .nav-tabs {
    border: none !important;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #33475b !important;
    background-color: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid #ff3d57 !important;
    padding-bottom: 4px !important;
  }

  .nav-tabs .nav-link:hover {
    border-color: transparent !important;
  }
}

.modal-alert-upgrade {
  .modal-body {
    padding: 12px 25px 12px 24px;
  }
  .modal-footer {
    justify-content: space-between;
  }
  .modal-footer > * {
    margin: 0;
  }
}

#modal-broadcast-target {
  .modal-header {
    background: #33475b 0% 0% no-repeat padding-box !important;
    .modal-title {
      color: #ffffff !important;
    }
    .close {
      background: transparent !important;
      svg {
        fill: #ffff;
      }
    }
  }
  .modal-body {
    padding: 12px 25px 12px 24px;
    overflow: auto;
  }
  .modal-footer {
    justify-content: space-between;
  }
  .modal-footer > * {
    margin: 0;
  }
}
