#reply-message {
  .tabs {
    // height:calc(100%);
    height: 100% !important; 
    
  }

  // TextMappingContainer
  .text-mapping-container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  // TextMappingWrapper
  .text-mapping-wrapper {
    padding: 0;
    position: relative;
    -webkit-box-flex: 2;
    flex-grow: 2;
    overflow: auto;
  }


  // ButtonGreen
  .button-green {
    background-color: $primary;

    &:hover {
      background-color: $primary;
    }
  }


  // CustomeTR
  .custome-TR {
    &:first-child {
      td:last-child {
        border-top: 0px !important;
      }
    }

    td {
      a {
        padding: 0px;

        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
    }
  }

  // CustomTD
  .custom-TD {
    cursor: pointer;

    div {
      a {
        color: unset;
        text-decoration: unset;
      }
    }
  }

  // Status
  .status {
    &.bg-green {
      background-color: $primary;
    }
  }

  // BackArrow
  .back-arrow {
    transform: rotateZ(270deg);
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
  }

  // NameMessage

  .name-message {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  // ReplyMsgType

  .reply-msg-type {
    color: $secondary;
  }

  // ReplyMsgTypeSelect
  .reply-msg-type-select {
    color: $secondary;

    .reply-message-select {
      width: 3rem;
      height: 3rem;
      border: 1px solid $border-grey;
      border-radius: 5px;

      &.active {
        border-color: $primary
      }

      ;
      border-width: 3px;
    }

    i {
      font-size: 1.5rem;
    }
  }



  .add-quick-reply-message.disabled {
    opacity: 0.5;
    cursor: context-menu;
  }

}

.add-reply-message,
.add-quick-reply-message {
  color: $primary;
  font-size: 12px;
  font-weight: bold;
}

.item-wrapper-bottom,
.item-wrapper-header {
  position: relative;

  input {
    font-size: 14px !important;
    height: calc(2em);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  i.fa-check-circle {
    position: relative;
    z-index: 1;
    color: #04cf6f;
    font-size: 1.25em;
  }

  i.fa-times-circle {
    position: relative;
    z-index: 1;
    color: #ee3f4c;
    font-size: 1.25em;
  }
}

.o-none {
  opacity: 0;
}

.o-block {
  opacity: 1;
}

.status-active {
  height: 10px;
  width: 10px;
  background-color: #04cf6f;
  border-radius: 5em;
}

.status-inactive {
  height: 10px;
  width: 10px;
  background-color: #c2c8cd;
  border-radius: 5em;
}

.item-wrapper-body {
  border: 1px solid rgba(0, 0, 0, 0.125);

  .item-name {
    max-width: 25em;
    display: flex;
    align-items: center;
    .truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
}

.item-wrapper-header {
  border: 1px solid rgba(0, 0, 0, 0.125);
  // overflow-anchor: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  .item-name {
    max-width: 20em;
    font-size: 12.5px !important;
    display: flex;
    align-items: center;
    .truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
}



.item-wrapper-bottom {
  border: 1px solid rgba(0, 0, 0, 0.125);
  // overflow-anchor: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#item-draggable .item-wrapper-header .collapse[aria-expanded="true"] i.status {
  //   font-size: 10px;
  //   position: absolute;
  //   top: 23px;
  //   right: 12px;
  /* color: #6C757D; */
  -moz-transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  -o-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  transition: 0.15s all ease;
}

#item-draggable .item-wrapper-header .collapse[aria-expanded="true"] i.status {
  -moz-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  -o-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

/* Replay message */
.item-wrapper-body:hover,
.item-wrapper-body.active,
.item-wrapper-bottom:hover,
.item-wrapper-bottom .active {
  border-left: 3px solid $primary;
  transition: 0.2s ease all;
  background-color: $btn_secondary;
}

.reply-msg-responsive {
  @media screen and(max-width: 1500px) and (min-width: 1240px) {
    width: 23rem !important;
  }

  width: 35rem !important;
}
