//   _____                                             _
//  / ____|                                           | |
// | |     ___  _ __ ___  _ __   ___  _ __   ___ _ __ | |_
// | |    / _ \| '_ ` _ \| '_ \ / _ \| '_ \ / _ \ '_ \| __|
// | |___| (_) | | | | | | |_) | (_) | | | |  __/ | | | |_
// \_____\___/|_| |_| |_| .__/ \___/|_| |_|\___|_| |_|\__|
//                      | |
//                      |_|

$bodercolor: #f1f4f6;
$textColor: #33475b;
$titleTextColor: #7e8994;
$iconBackground: #7e8994;
$iconSize: 30px;

.item-box {
    // min-width: 180px;
    // min-width:350px;
    border: 2px solid $bodercolor;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-left: 5px;
    margin-right: 5px;

    .summary {
        display: flex;
        align-items: center;
        .value {
            font-weight: 600;
            color: $textColor;
            font-size: 26px;
        }

        .sub-value {
            font-weight: 500;
            color: #6B7884;
            font-size: 14px;
        }

        .icon {
            width: $iconSize;
            height: $iconSize;
            background-color: $iconBackground;
            margin-left: auto;
            align-items: center;
            display: flex;

            &.default {
                -webkit-mask-image: url("~assets/images/icons/setting.svg");
                mask-image: url("~assets/images/icons/setting.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.total-friends {
                -webkit-mask-image: url("~assets/images/icons/user.svg");
                mask-image: url("~assets/images/icons/user.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.total-verifiend-account {
                -webkit-mask-image: url("~assets/images/icons/verified.svg");
                mask-image: url("~assets/images/icons/verified.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.new-friends {
                -webkit-mask-image: url("~assets/images/icons/user_new.svg");
                mask-image: url("~assets/images/icons/user_new.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.new-verifiend-account {
                -webkit-mask-image: url("~assets/images/icons/verified_new.svg");
                mask-image: url("~assets/images/icons/verified_new.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.verifiend-account,
            &.satisfaction-rate,
            &.chat-utilization {
                -webkit-mask-image: url("~assets/images/icons/dashboard.svg");
                mask-image: url("~assets/images/icons/dashboard.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.incoming-chats {
                -webkit-mask-image: url("~assets/images/icons/incoming_chat.svg");
                mask-image: url("~assets/images/icons/incoming_chat.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.only-chat-with-bot {
                -webkit-mask-image: url("~assets/images/icons/robot.svg");
                mask-image: url("~assets/images/icons/robot.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.missed {
                -webkit-mask-image: url("~assets/images/icons/missed_chat.svg");
                mask-image: url("~assets/images/icons/missed_chat.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.chat-with-agent {
                -webkit-mask-image: url("~assets/images/icons/agent.svg");
                mask-image: url("~assets/images/icons/agent.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.done-chat {
                -webkit-mask-image: url("~assets/images/icons/done.svg");
                mask-image: url("~assets/images/icons/done.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.excellent {
                -webkit-mask-image: url("~assets/images/icons/excellent_emotion.svg");
                mask-image: url("~assets/images/icons/excellent_emotion.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.good {
                -webkit-mask-image: url("~assets/images/icons/good_and_sticker.svg");
                mask-image: url("~assets/images/icons/good_and_sticker.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.fair {
                -webkit-mask-image: url("~assets/images/icons/fair_emotion.svg");
                mask-image: url("~assets/images/icons/fair_emotion.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.poor {
                -webkit-mask-image: url("~assets/images/icons/poor_emotion.svg");
                mask-image: url("~assets/images/icons/poor_emotion.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }

            &.very-bad {
                -webkit-mask-image: url("~assets/images/icons/very_bad_emotion.svg");
                mask-image: url("~assets/images/icons/very_bad_emotion.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
            &.timer {
                -webkit-mask-image: url("~assets/images/icons/icon-timer.svg");
                mask-image: url("~assets/images/icons/icon-timer.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
            &.chat-outgoing {
                -webkit-mask-image: url("~assets/images/icons/chat_outgoing.svg");
                mask-image: url("~assets/images/icons/chat_outgoing.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
            &.chat-incoming {
                -webkit-mask-image: url("~assets/images/icons/chat_incoming.svg");
                mask-image: url("~assets/images/icons/chat_incoming.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
            &.missed-expired {
                -webkit-mask-image: url("~assets/images/icons/missed_expired.svg");
                mask-image: url("~assets/images/icons/missed_expired.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
            &.chat {
                -webkit-mask-image: url("~assets/images/icons/chat.svg");
                mask-image: url("~assets/images/icons/chat.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
            &.away-time {
                -webkit-mask-image: url("~assets/images/icons/no_chat_status.svg");
                mask-image: url("~assets/images/icons/no_chat_status.svg");
                background-color: $iconBackground;
                mask-size: $iconSize;
                mask-repeat: no-repeat;
            }
        }
    }

    .name {
        color: $titleTextColor;
        font-size: 14px;
    }

}

.report-tooltip {
    .tooltip-inner {
        padding: 1rem 0.75rem;
        background-color: #fff;
        color: #33475B;
        box-shadow: 0px 0px 6px #00000029;
        text-align: left;
        max-width: 212px;
    }

    .arrow::before {
        // border-top-color: #ffffff !important;
        background-color: transparent;
        border-bottom-color: #ffffff !important;
        // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    }
}

//  _____
// |  __ \
// | |__) |_ _  __ _  ___
// |  ___/ _` |/ _` |/ _ \
// | |  | (_| | (_| |  __/
// |_|   \__,_|\__, |\___|
//              __/ |

.summary-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-graph {
    cursor: pointer;
}

.box-primary {
    background: #EE3F4C0D 0% 0% no-repeat padding-box;
    border: 1px solid #EE3F4C;
}

.box-secondary {
    background: #7D5FFF0D 0% 0% no-repeat padding-box;
    border: 1px solid #7D5FFF;
}