.content-setting {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;

  @media only screen and (min-width: 1680px) {
    margin-left: 18%;
    margin-right: 18%;
  }

  @media only screen and (min-width: 1920px) {
    margin-left: 20%;
    margin-right: 20%;
  }

  .custom-control-label {
    padding: 2px 1px;
  }
}

.setting-menu {
  //   border-radius: 8px;
  transition: all 0.5s ease;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  color: $secondary;

  &:hover,
  &.active {
    // border-left: 3px solid $primary;
    transition: 0.2s ease all;
    border-radius: 4px;
    background-color: #ffecee;
    color: $primary;
    font-weight: 600;
    text-decoration: unset;
  }

  .title {
    display: block;
    padding: 6px 12px;
  }
}

.layout-setting {
  // height: 95vh;
  min-height: 500px;
  overflow: hidden;
  padding: 13px 14px;

  // .switch {
  //   position: relative;
  //   display: inline-block;
  //   width: 40px;
  //   height: 22px;
  //   margin-bottom: 0rem;
  //   color: white;
  // }

  // .switch input {
  //   opacity: 0;
  //   width: 0;
  //   height: 0;
  // }

  // .slider {
  //   position: absolute;
  //   cursor: pointer;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: $inactive;
  //   -webkit-transition: 0.4s;
  //   transition: 0.4s;
  //   border-radius: 34px;
  //   padding-left: 7px;
  // }

  // .slider:before {
  //   position: absolute;
  //   content: "";
  //   height: 18px;
  //   width: 18px;
  //   // left: 2px;
  //   bottom: 2px;
  //   background-color: white;
  //   -webkit-transition: 0.4s;
  //   transition: 0.4s;
  //   border-radius: 50%;
  // }

  // input:checked+.slider {
  //   background-color: $btn_switch_f;
  // }

  // input:checked+.slider:before {
  //   -webkit-transform: translateX(17px);
  //   -ms-transform: translateX(17px);
  //   transform: translateX(17px);
  // }
}

.account-channel {
  border: 1px solid #e3e8ec;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20.5px;
  width: 100%;
  display: inline-flex;
  margin-top: 15px;

  .icon {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .icon-line {
    height: 48px;
    width: 48px;
    background-image: url("~assets/images/icons/icon-line.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .icon-messenger {
    height: 48px;
    width: 48px;
    background-image: url("~assets/images/icons/icon-messenger.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .icon-instagram {
    height: 48px;
    width: 48px;
    background-image: url("~assets/images/icons/icon-instagram.svg");
    background-repeat: no-repeat;
    background-size: 48px 48px;
  }

  .detail {
    margin-left: 16px;
    width: 100%;

    .header {
      color: #33475b;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 24px;
    }

    .sub-header {
      color: #84919d;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 20px;
      display: block;
      // margin-top: 4px;
    }

    .card-account {
      margin-top: 12px;
      display: flex;
      // align-items: center;
      border-radius: 4px;
      // padding: 12px 16px 13px;
      padding: 12px 0px 13px;
      background-color: #f6f9fa;

      .key {
        color: #84919d;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        // margin-bottom: 5px;
      }

      .value {
        color: #33475b;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
      }

      .success {
        color: #28c10b;
        font-size: 14px;
        letter-spacing: 0;
        // line-height: 20px;
      }

      .fail {
        color: #f46b27;
        font-size: 14px;
        letter-spacing: 0;
        // line-height: 20px;
      }
    }
  }
}

.form-general {
  // overflow-y: auto;
  // height: 87vh;
  border: 1px solid $secondary-border-light;
  border-radius: 8px;
}

.verification-wrapper {
  border: 1px solid #e3e8ec;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20.5px;
  margin-top: 15px;
}

p.public-header {
  color: #33475b;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}

.radio-chat {
  max-width: 3rem;
}

.decoration-text {
  text-decoration: underline;
  letter-spacing: 0.28px;
  color: #ff3d57;
  font-size: 14px;
  cursor: pointer;
}

.sub-title-page {
  color: #33475b;
}

.layout-component {
  width: calc(100% - 201px);
  display: block;
  position: absolute;
  overflow: hidden;
  left: 201px;
  min-height: 100%;
}

.vs-switch {
  background-color: #c2c8cd;
}
