.soical-menu {
    //   border-radius: 8px;
    transition: all 0.5s ease;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    color: $secondary;
  
    &:hover,
    &.active {
      // border-left: 3px solid $primary;
      transition: 0.2s ease all;
      border-radius: 4px;
      background-color: #ffecee;
      color: $primary;
      font-weight: 600;
      text-decoration: unset;
    }
  
    .title {
      display: block;
      padding: 6px 12px;
    }
  }
.soical-setting{
    // min-height: 500px;
    // overflow-y: hidden;
    margin-top: 1rem !important;

}
.box-comment {
    border: 1px solid #e3e8ec;
    border-radius: 4px;
    width: 592px;
    // height: 484px;
    background: #ededed;

    .icon-reply-message {
        margin-left: 7px;
       
    }
    .text-view-more{
        text-decoration: underline;
        text-align: left;
        letter-spacing: 0px;
        color: #707070;
        cursor: pointer;
    }
    .card-content{
        text-align: left;
        letter-spacing: 0.28px;
        color: #8D8D8D;
    }
}
.layout-box-display-profile{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.reply-soical-comment-wrapper {
    height: 100%;
    max-width: calc(100% - 90px); 
    // border-right: none !important;
    background: transparent;
  
    .ql-editor {
        min-height: 40px;
        max-height: 160px;
        width: 500px;
        // min-width: 100%;
        padding: 10px 42px 8px 10px;
        border-radius: 20px;
        border: 1px solid $default-border;
        background-color: white;
        &:focus {
            color: $secondary !important;
            -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
            box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
            border: 1px solid $secondary-light-1 !important;
        }
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        img {
            width: 20px;
            height: 20px;
        }
        &.disabled {
            .ql-editor > * {
                cursor: default !important;
            }
        }
    }
    .ql-container.ql-snow {
        border: none;
    }
   
    .ql-editor::before {
        padding-left: 5px;
    }

    .ql-editor.ql-blank::before {
        left: 5px;
        font-size: 14px;
        font-style: unset;
    }
    .icon-reply-message{
        bottom: 5px;
        position: relative;
        left: -45px;
    }
}

.reply-soical-post-componet{
    padding-top: 0.25rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.reply-soical-post-wrapper {
    height: 100%;
    max-width: calc(100% - 90px); 
    // border-right: none !important;
    background: transparent;
  
    .ql-editor {
        min-height: 40px;
        max-height: 160px;
        width: 550px;
        // min-width: 100%;
        padding: 10px 42px 8px 10px;
        border-radius: 20px;
        border: 1px solid $default-border;
        background-color: white;
        &:focus {
            color: $secondary !important;
            -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
            box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
            border: 1px solid $secondary-light-1 !important;
        }
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        img {
            width: 20px;
            height: 20px;
        }
        &.disabled {
            .ql-editor > * {
                cursor: default !important;
            }
        }
    }
    .ql-container.ql-snow {
        border: none;
    }
   
    .ql-editor::before {
        padding-left: 5px;
    }

    .ql-editor.ql-blank::before {
        left: 5px;
        font-size: 14px;
        font-style: unset;
    }
    .icon-reply-message{
        bottom: 5px;
        position: relative;
        left: -45px;
    }
}

.view-comment-componet{

    .border-section {
        border-left: 1px solid #BDBDBD;
    }
    .sub-comment{
        padding-left: 54px;
    }
    .border-section-active {
        border-left: 2px solid #F73D57;
        opacity: 1;
    }
    
    .reply-soical-wrapper{
        height: 100%;
        max-width: calc(100% - 90px); 
        // border-right: none !important;
        background: transparent;
      
        .ql-editor {
            min-height: 40px;
            max-height: 160px;
            width: 480px;
            min-width: 100%;
            padding: 10px 42px 8px 10px;
            border-radius: 20px;
            border: 1px solid $default-border;
            background-color: white;
            &:focus {
                color: $secondary !important;
                -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
                box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
                border: 1px solid $secondary-light-1 !important;
            }
            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }
    
            img {
                width: 20px;
                height: 20px;
            }
            &.disabled {
                .ql-editor > * {
                    cursor: default !important;
                }
            }
        }
        .ql-container.ql-snow {
            border: none;
        }
       
        .ql-editor::before {
            padding-left: 5px;
        }
    
        .ql-editor.ql-blank::before {
            left: 5px;
            font-size: 14px;
            font-style: unset;
        }
        .icon-reply-sub-message{
            bottom: 5px;
            position: relative;
            left: -45px;
        }
    }
}
.bg-promote{
    background: #F8F8F8;
    border: 1px solid #E3E8EC;
    border-radius: 6px;
}
.tag-soical {
    background: #FFFFFF ;
    border-radius: 15px;
    height: 30px;
    color: #8D8D8D;
}

.text-soical {
    text-align: left;
    letter-spacing: 0.28px;
    color: #838383;
}

.layout-box-facebook{
    font-size: 14px;
    width: 80%;
    color: #84919d ;
    .modal-facebook{
       
        border-radius: 6px;
        background-clip: padding-box;
        background: #FFFFFF;
        .facebook-title{
            letter-spacing: 0.28px; 
        }
        .facebook-content{
            overflow-y: auto;
            max-height: 530px;
            height: 100px;
        }
        .facebook-action{
    
        }
    }
    
}