// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);
// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
  xxxl: 1600px
);
$spacers: (
  30: 30px,
  20: 20px
);
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "./variables.scss";
@import "./font.scss";
@import "./layout.scss";
@import "./animation.scss";
@import "./login.scss";
@import "./table.scss";
@import "./button.scss";
@import "./dropdown.scss";
@import "./modal.scss";
@import "./input.scss";
@import "./card.scss";
@import "./chat.scss";
@import "./broadcast.scss";
@import "./replymessage.scss";
@import "./report.scss";
@import "./validate.scss";
@import "./setting.scss";
@import "./icon.scss";
@import "./filemangement.scss";
@import "./timepicker.scss";
@import "./soical.scss";
@import "./widget.scss";

body {
  font-family: "Hind Madurai", "Sarabun", sans-serif;
  // min-height: 768px;
  // min-width: 1366px;
  overflow: auto;
}

.label-secondary {
  color: $secondary;

  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 0px;
}

.title-page {
  display: inline-block;
  color: $secondary;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  &:first-letter {
    text-transform: uppercase;
  }
}

.desc-page {
  color: $secondary-light-1;

  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
}

.text-primary {
  color: $primary !important;
}

.text-switch-active {
  color: $btn_switch_f;
}

.text-switch-inactive {
  span {
    color: $icon !important;
  }
}

.font-bold {
  font-weight: 600;
}
.text-blue-light {
  color: $blue-light;
}

.text-secondary,
.text-grey {
  color: $secondary !important;
}
.text-secondary-light-1 {
  color: $secondary-light-1;
}
.text-secondary-light-2 {
  color: $secondary-light-2;
}

.text-danger {
  color: #ff3d57 !important;
}

.text-underline {
  text-decoration-line: underline;
}

.subtitle-page {
  color: $secondary;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
}

.title-graph {
  color: $secondary;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.date-graph {
  color: $secondary-light-2;

  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
}

.center-hv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

.font-caution {
  color: $caution;
}

.font-primary {
  color: $primary;

  .icon-img {
    font-size: 1em;
    filter: invert(45%) sepia(45%) saturate(7289%) hue-rotate(331deg)
      brightness(103%) contrast(101%);
  }
}

.font-grey-light {
  color: $secondary-light-2;
}

.status-active {
  height: 10px;
  width: 10px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: $active;
}

.status-inactive {
  height: 10px;
  width: 10px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: $inactive;
}

// .switch {
//   position: relative;
//   display: inline-block;
//   width: 50px;
//   height: 25px;
//   margin-bottom: 0rem;
//   color: white;

//   &.small {
//     width: 35px !important;
//     height: 18px !important;
//   }
// }

// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: $btn_switch_t;
//   -webkit-transition: 0.4s;
//   transition: 0.4s;
//   border-radius: 34px;
//   padding-left: 7px;
//   &.small {
//     top: 2px;
//   }
// }

// .slider.small:before {
//   width: 10px !important;
//   height: 10px !important;
// }

// .slider:before {
//   position: absolute;
//   content: "";
//   height: 20px;
//   width: 20px;
//   left: 3px;
//   bottom: 2.5px;
//   background-color: white;
//   -webkit-transition: 0.4s;
//   transition: 0.4s;
//   border-radius: 50%;
// }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-bottom: 0rem;
  color: white;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $inactive;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  padding-left: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  // left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $btn_switch_f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

input:checked + .slider {
  background-color: $btn_switch_f;
}

input:focus + .slider {
  box-shadow: 0 0 1px $btn_switch_f;
}

// input:checked + .slider:before {
//   -webkit-transform: translateX(24px);
//   -ms-transform: translateX(24px);
//   transform: translateX(24px);
// }

// input.small:checked + .slider.small:before {
//   -webkit-transform: translateX(30px);
//   -ms-transform: translateX(30px);
//   transform: translateX(30px);
// }

.required::after {
  content: " *";
  color: red;
}

.theme-datetime .vdatetime-popup__header,
.theme-datetime .vdatetime-calendar__month__day--selected > span > span,
.theme-datetime .vdatetime-calendar__month__day--selected:hover > span > span {
  background: $primary !important;
}

.theme-datetime .vdatetime-year-picker__item--selected,
.theme-datetime .vdatetime-time-picker__item--selected,
.theme-datetime .vdatetime-popup__actions__button {
  color: $primary !important;
}

//  remove boostap border
// textarea:hover,
// textarea:active,
// textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.collapsed,
.not-collapsed,
.btn.active,
.page-link,
.custom-select:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.vue-daterange-picker {
  min-width: 180px !important;

  .reportrange-text {
    height: 32px;
    padding: 6px 5px 5px 0px !important;
    color: #2e4a6a;
    font-size: 14px;

    border-left: none !important;
    border-top: 1px solid $border-grey !important;
    border-bottom: 1px solid $border-grey !important;
    border-right: 1px solid $border-grey !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image: url("../images/icons/icon-calendar.svg") !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;
  }
}

.custom-vue-daterange-picker {
  .vue-daterange-picker {
    min-width: 200px !important;

    .reportrange-text {
      height: 32px;
      padding: 6px 5px 5px 0px !important;
      color: #2e4a6a;
      font-size: 14px;
      font-family: "Product Sans Medium", sans-serif;
      border: 1px solid $border-grey;
      //   border-right: none !important;
      border-left: none !important;
      border-radius: 0px;
    }
  }
}

.form-control {
  border: 1px solid $border-grey;
  height: 32px;
}

.custom-select {
  font-size: 14px;
  border: 1px solid $border-grey;

  &:focus {
    border: 1px solid $border-grey;
  }

  height: 32px;
  border: 1px solid $border-grey;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E29F2C11D-929B-4844-B2F3-1F6955E80A5A%3C/title%3E%3Cg id='@@-DSM' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='00-DSM_CHATCONE_02-asset' transform='translate(-320.000000, -312.000000)' fill='%236B7884'%3E%3Cg id='ic/dropdown' transform='translate(320.000000, 312.000000)'%3E%3Cpath d='M4.16315306,8.15455422 L11.3240358,16.7476136 C11.6351357,17.1209334 12.1899675,17.1713726 12.5632873,16.8602728 C12.60417,16.8262039 12.6418776,16.7884963 12.6759465,16.7476136 L19.8368293,8.15455422 C20.0857092,7.85589836 20.0453578,7.41203294 19.7467019,7.16315306 C19.6201974,7.05773264 19.460737,7 19.296065,7 L4.70391733,7 C4.31515452,7 4,7.31515452 4,7.70391733 C4,7.86858929 4.05773264,8.02804972 4.16315306,8.15455422 Z' id='Path-Copy-5'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    no-repeat right 0.75rem center/12px 12px;

  &::placeholder {
    color: $secondary-light-2 !important;
    border: 1px solid $default-border;
  }

  &:read-only {
    color: $secondary;
    border: 1px solid $default-border;
    background-color: #ffffff;
  }

  &:active {
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border: 1px solid $default-border !important;
  }

  &:disabled {
    color: $input-focus-border !important;
    background-color: $grey-background !important;
    border: 1px solid $default-border !important;
  }

  &:focus {
    color: $secondary !important;
    -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
    box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
    border: 1px solid $secondary-light-1 !important;
  }
}

.bd-l {
  border-left: 1px solid $border-grey !important;
}

.bd-l-nr {
  border-left: 1px solid $border-grey !important;
  border-right: none !important;
}

.bd-r {
  border-left: 1px solid $border-grey !important;
}

.bd-r-nl {
  border-left: 1px solid $border-grey !important;
  border-left: none !important;
}

:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a6b6c4;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6b6c4;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6b6c4;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a6b6c4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a6b6c4;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #a6b6c4;
}

// .form-control {
//   border: 1px solid #e3e8ec !important;
// }
.border {
  border: 1px solid $border-grey !important;
}

.nav-tabs .nav-link {
  color: unset;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  /* color: #ffffff; */
  border: 3px solid;
  background-color: #fff;
  border-color: #fff #fff #ee3f4c !important;
  font-weight: bolder !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #fff #fff #fff;
  color: unset;
}

.time-picker {
  display: flex;
  position: absolute;
  box-shadow: 0 1px 6px 0 rgba(132, 145, 157, 0.25);
  border: 1px solid $border-grey;
  background-color: $white;
  color: $secondary;
  padding: 16px 0px;

  .header {
    color: $secondary;
    padding: 4px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
  }

  .body {
    height: 200px;
    width: 106px;
    overflow-y: scroll;
    text-align: center;
    padding: 0px 16px;
  }

  .scroll-none {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .picker {
    margin: 5px 0;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $secondary;
      background-color: $grey-background;
    }
  }

  .active {
    padding: 4px 16px;
    font-size: 20px;
    font-weight: 500;
    color: $secondary;
    background-color: $grey-background;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
}

strong {
  color: $secondary;
}

// vuesax notify
.content-noti {
  .con-text-noti p {
    margin: 0 !important;
  }
}

// sweet alert
.swal2-container {
  .swal2-header {
    align-items: start;
    padding: 0;
  }

  .swal2-content {
    text-align: left;
    padding: 0;
  }
}

//  text truncate
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.icon-loading {
  position: absolute;
  right: 15px;
  color: $secondary-light-3;
  bottom: 5px;

  span {
    width: 15px;
    height: 15px;
  }
}

.icon-loading-top {
  position: absolute;
  right: 15px;
  color: $secondary-light-3;
  top: 5px;

  span {
    width: 15px;
    height: 15px;
  }
}

// cropper
.cropper.vue-advanced-cropper {
  background-color: #000000;

  height: 100%;

  .vue-advanced-cropper__cropper-wrapper {
    transition: unset !important;
  }

  .vue-advanced-cropper__background {
    transition: unset !important;
  }

  .vue-advanced-cropper__boundaries {
    transition: unset !important;
  }
}

// display center
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

// border
.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-bottom-5 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary-light-3 {
  background-color: $secondary-light-3;
}

.bg-chat-background {
  background-color: $chat-background;
}

.text-active {
  color: #28c10b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.text-inactive {
  color: #c2c8cd;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.tooltip.b-tooltip {
  opacity: 1;
}

.tooltip-inner {
  color: #fff;
  font-weight: 400;
  background-color: #33475b;
}

.tooltip-inner-toolbar .tooltip-inner {
  padding: 0;
}
.tooltip-action-api .tooltip-inner {
  color: $secondary;
  width: 400px !important;
  background-color: #ffffff !important;
  min-width: 490px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  max-height: 550px;
  overflow-y: auto;
}

.tooltip-action-api.text-left .tooltip-inner {
  text-align: left;
}
.tooltip-action-api.right {
  .arrow::before {
    // border-top-color: #ffffff !important;
    background-color: transparent;
    border-right-color: #ffffff !important;
    border-bottom-color: transparent !important;
    // border-top-color: #ffffff !important;
    // border-left-color: #ffffff !important;
    // border-right-color: #ffffff !important;
    // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  }
}
.tooltip-inner-white,
.tooltip-inner-toolbar {
  .arrow::before {
    // border-top-color: #ffffff !important;
    background-color: transparent;
    border-bottom-color: #ffffff !important;
    // border-top-color: #ffffff !important;
    // border-left-color: #ffffff !important;
    // border-right-color: #ffffff !important;
    // box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  }
  .tooltip-inner {
    color: #33475b;
    width: max-content !important;
    max-width: unset !important;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
  }

  .tooltip-body {
    font-size: 13px;

    .tooltip-title {
      color: $secondary-light-1;
    }

    .tooltip-sub-title {
      color: $secondary-light-2;
    }
  }
}

.bs-tooltip-top .arrow::before {
  border-top-color: #33475b;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #33475b;
}

.bs-tooltip-right .arrow::before {
  border-right-color: #33475b;
}

.bs-tooltip-left .arrow::before {
  border-left-color: #33475b;
}

.hide {
  opacity: 0 !important;
  height: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.show {
  opacity: 1;
  //   transition: all 0.5s ease;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.action-text {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: #4285f4;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.cool-lightbox .cool-lightbox__slide .cool-lightbox__slide__img {
  width: 80% !important;
}

.cool-lightbox .cool-lightbox__iframe {
  width: 80% !important;
}

.font-color-default {
  color: #33475b;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#contact_chat_info .collapse[aria-expanded="true"] i.status {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.15s all ease;
}

#contact_chat_info .collapse[aria-expanded="true"] i.status {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.empty-wrapper {
  .empty-search-icon-wrapper {
    margin: auto;
    position: relative;
    height: 160px;
    width: 180px;
    // background-color: #eee;
    // border-radius: 50%;

    background-image: url("../images/icons/chat-empty-search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .empty-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    color: #84919d;
    margin-bottom: 8px;
    margin-top: 12px;
  }
}

.contact-field .input-contact {
  padding: 5px 0px !important;
}

.contact-field .disabled.input-contact {
  background-color: #e6e6e6;
  padding: 5px !important;
  opacity: 1;
  // cursor: unset;
}

.border-radius-left-4 {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.bg-link {
  background-color: #1984f0;
}

.word-wrap-ellipsis {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  // border: 1px solid #000000;
}

.custom-control-input:disabled:checked ~ .custom-control-label:before {
  opacity: 0.5;
}

.text-action-link {
  cursor: pointer;
  color: $secondary;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

.daterangepicker .ranges {
  padding: 0 !important;
}

//scrollbar
/* width */
// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
.font-weight-500 {
  font-weight: 500;
}

.link {
  cursor: pointer;
  text-decoration: underline !important;
  color: #1976d2 !important;
}

.sildbar-wrapper {
  border-left: 1px solid #e2e6e9;
  .btn-search {
    padding: 3px 6px;
    color: #fff;
    border-radius: 5px;
    border: unset;
  }
  .btn-clear {
    padding: 3px 6px;
    color: #000;
    border-radius: 5px;
    border: unset;
  }
  .text-header {
    font-size: 18px;
  }
  .search-connect-crm {
    border: 1px solid #e8e0e0;
  }
  .btn-connect {
    color: #fff;
    font-size: 13px;
    background-color: #303034;
    padding: 3px 6px;
    border-radius: 5px;
  }
  .connect-list {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    &.no-result {
      padding-top: 30px;
      color: #84919d;
    }
  }
  .connect-detail {
    font-size: 13px;
  }
  color: #33475b;
  background-color: #fff;
  position: absolute;
  width: 400px;
  height: 100%;
  right: -400px;
  transition: right ease 0.25s;
  &.active {
    right: 0px;
    transition: right ease 0.25s;
  }

  .see-more[aria-expanded="false"] .see-more-less::after {
    content: "See more ";
  }
  .see-more[aria-expanded="true"] .see-more-less::after {
    content: "See less ";
  }

  .see-more[aria-expanded="false"] i.status {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 0.25s all ease;
  }

  .see-more[aria-expanded="true"] i.status {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    transition: 0.25s all ease;
  }
}

.tab-form-builder {
  cursor: pointer;
  background-color: #ffffff;
  color: $secondary-light-2;
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 2px solid $chat-background;
  &.active {
    color: $secondary;
    border-bottom: 2px solid $primary;
    // background-color: $primary;
  }
}

.form-input-focus {
  border: unset !important;
  border-radius: 0;
  &:focus {
    border: unset !important;
    box-shadow: unset !important;
    transition: all ease 0.1s;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #ffffff;
  }
}
