table {
  background: white;
  border: 1px solid $border-grey;
  border-radius: 5px;
  border-spacing: 0px;
  border-collapse: separate;
  color: #2a4665;
}
table thead {
  color: $secondary-light-1;
  background-color: $grey-background;
  font-size: 12px;
  font-weight: 400 !important;
  line-height: 18px;
  border-radius: 4px 4px 0 0;
  th {
    font-size: 12px;
    font-weight: 600 !important;
  }
}
.table th {
  // padding: 11.5px 16.5px 9.5px 16.5px !important;
  border: none !important;
}

.table-sm th {
  padding: 11.5px 16.5px 9.5px 16.5px !important;
  border: none !important;
}
.table td {
  vertical-align: middle;
  color: $secondary;
  // padding: 8px 16.5px;

  // padding: 0.45rem;
}
.table tbody .hover:hover,
.table tbody td.active {
  vertical-align: middle;
  background-color: $grey-background;
  border-left: 2px solid $primary !important;
  transition: all 0.25s;
}

table tr:first-child th:first-child {
  border-radius: 4px 0 0 0;
}

table tr:first-child th:last-child {
  border-radius: 0 4px 0 0;
}

.table.b-table > thead > tr {
  > [aria-sort] {
    background-size: 14px 14px !important;
  }
  > [aria-sort="none"] {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='==-Design-Screen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01---UI-Chatcone_00-Agent-List-1' transform='translate(-719.000000, -124.000000)'%3E%3Crect id='Rectangle-Copy-5' stroke='%23E3E8EC' x='216' y='110' width='1134' height='240' rx='4'%3E%3C/rect%3E%3Cg id='ic/sort-copy-6' transform='translate(719.000000, 124.000000)' fill='%23C2C8CD'%3E%3Cpath d='M8.75619882,6.78125497 C8.86284298,6.78125497 8.95517885,6.82204947 9.0330556,6.9038194 C9.11093234,6.98563455 9.15,7.08244236 9.15,7.19433328 C9.15,7.30626943 9.11091079,7.40314508 9.0330556,7.48486978 L9.0330556,7.48486978 L6.27683522,10.3772547 C6.19895848,10.4590472 6.10662261,10.5 6,10.5 C5.89337739,10.5 5.80112771,10.4590472 5.72310013,10.3772547 L5.72310013,10.3772547 L2.96687976,7.48489239 C2.88893837,7.40314508 2.85,7.30626943 2.85,7.19435589 C2.85,7.08244236 2.88893837,6.98563455 2.96687976,6.90384201 C3.04482115,6.82213993 3.13707082,6.78125497 3.24377963,6.78125497 L3.24377963,6.78125497 Z M6,1.5 C6.10670881,1.5 6.19895848,1.54097541 6.27683522,1.62265488 L6.27683522,1.62265488 L9.0330556,4.51506238 C9.11093234,4.59694537 9.15,4.69373057 9.15,4.80564411 C9.15,4.91755764 9.11091079,5.01438807 9.0330556,5.09615799 C8.9551573,5.17795053 8.86284298,5.21881287 8.75619882,5.21881287 L8.75619882,5.21881287 L3.24377963,5.21881287 C3.13715702,5.21881287 3.04490734,5.17795053 2.96687976,5.09615799 C2.88893837,5.01438807 2.85,4.91753503 2.85,4.80564411 C2.85,4.69373057 2.88893837,4.59685492 2.96687976,4.51506238 L2.96687976,4.51506238 L5.72310013,1.62265488 C5.80104152,1.54097541 5.89329119,1.5 6,1.5 Z' id='Combined-Shape-Copy-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  > [aria-sort="ascending"] {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23C2C8CD;%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%236B7884;%7D%0A%3C/style%3E%3Cpath class='st0' d='M17.5,13.6c0.2,0,0.4,0.1,0.6,0.2c0.2,0.2,0.2,0.4,0.2,0.6c0,0.2-0.1,0.4-0.2,0.6l0,0l-5.5,5.8 C12.4,20.9,12.2,21,12,21s-0.4-0.1-0.6-0.2l0,0L5.9,15c-0.2-0.2-0.2-0.4-0.2-0.6s0.1-0.4,0.2-0.6c0.2-0.2,0.3-0.2,0.6-0.2l0,0H17.5z '/%3E%3Cpath id='Combined-Shape-Copy-3' class='st1' d='M12,3c0.2,0,0.4,0.1,0.6,0.2l0,0L18.1,9c0.2,0.2,0.2,0.4,0.2,0.6s-0.1,0.4-0.2,0.6 c-0.2,0.2-0.3,0.2-0.6,0.2l0,0h-11c-0.2,0-0.4-0.1-0.6-0.2C5.8,10,5.7,9.8,5.7,9.6c0-0.2,0.1-0.4,0.2-0.6l0,0l5.5-5.8 C11.6,3.1,11.8,3,12,3z'/%3E%3C/svg%3E%0A");
  }
  > [aria-sort="descending"] {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23C2C8CD;%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%236B7884;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.5,10.4c-0.2,0-0.4-0.1-0.6-0.2C5.8,10,5.7,9.8,5.7,9.6c0-0.2,0.1-0.4,0.2-0.6l0,0l5.5-5.8 C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.2l0,0L18.1,9c0.2,0.2,0.2,0.4,0.2,0.6s-0.1,0.4-0.2,0.6c-0.2,0.2-0.3,0.2-0.6,0.2l0,0H6.5z'/%3E%3Cpath id='Combined-Shape-Copy-3' class='st1' d='M12,21c-0.2,0-0.4-0.1-0.6-0.2l0,0L5.9,15c-0.2-0.2-0.2-0.4-0.2-0.6 s0.1-0.4,0.2-0.6c0.2-0.2,0.3-0.2,0.6-0.2l0,0h11c0.2,0,0.4,0.1,0.6,0.2c0.2,0.2,0.2,0.4,0.2,0.6c0,0.2-0.1,0.4-0.2,0.6l0,0 l-5.5,5.8C12.4,20.9,12.2,21,12,21z'/%3E%3C/svg%3E%0A");
  }
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f6f9fa;
}

.table.b-table > thead > tr > .table-b-table-default {
  color: $secondary-light-1;
  background-color: $grey-background;
  font-size: 12px;
  font-weight: 400 !important;
}

.b-table-sticky-header {
  max-height: 400px;
}
.custom-bTable-checkbox-width {
  width: 50px;
}

.custom-bTable-width {
  width: 15rem;
}

.tw-ch1 {
  width: 2rem;
  min-width: 2rem !important;
}

.tw-ch {
  width: 3rem;
  min-width: 3rem !important;
}

.tw-60 {
  width: 4.375rem;
  min-width: 4.375rem !important;
}

.tw-70 {
  width: 5rem;
  min-width: 5rem !important;
}

.tw-86 {
  width: 5.375rem;
  min-width: 5.375rem !important;
}

.tw-100 {
  width: 6.25rem;
  min-width: 6.25rem !important;
}

.tw-120 {
  width: 7.5rem;
}

.tw-150 {
  width: 9.375rem;
  min-width: 9.375rem !important;
}

.tw-170 {
  width: 10.625rem;
  min-width: 10.625rem !important;
}

.tw-190 {
  width: 11.875rem;
  min-width: 11.875rem !important;
}

.tw-230 {
  width: 14.375rem;
}

.tw-250 {
  width: 15.625rem;
}

.tw-300 {
  width: 18.75rem;
  min-width: 18.75rem !important;
}

.tw-350 {
  width: 22.75rem;
  min-width: 22.75rem !important;
}

.tmw-300 {
  max-width: 18.75rem;
}

.tmw-400 {
  max-width: 25rem;
}

.tmw-500 {
  max-width: 31.25rem;
}
.text-warp-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;

  &.nonehover {
    &:hover {
      cursor: default;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

// .b-table {
//   tbody {
//     display: block;
//     max-height: 500px;
//     overflow: auto;
//   }
//   thead,
//   tbody tr {
//     display: table;
//     width: 100%;
//     table-layout: fixed; /* even columns width , fix width of table too*/
//   }
// }

.table-fixhead {
  thead th {
    position: sticky;
    z-index: 0;
    background-color: #f6f9fa;
  }
  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &.contact {
    overflow: auto;

    thead th {
      top: 0px;
    }
  }
}

.w80px {
  min-width: 80px;
  width: 80px;
}

.w100px {
  min-width: 100px;
  width: 100px;
}

.w120px {
  min-width: 120px;
  width: 120px;
}

.w150px {
  min-width: 150px;
  width: 150px;
}

.w170px {
  min-width: 170px;
  width: 170px;
}

.w200px {
  min-width: 200px;
  width: 200px;
}

.w250px {
  min-width: 250px;
  width: 250px;
}

.w300px {
  min-width: 300px;
  width: 300px;
}