.timing-wrapper {

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  display: flex;
  align-items: center;

  .timing-schedule {
    position: relative;

    .vdatetime {
      width: 10em;

      .vdatetime-input {

        cursor: pointer;
        text-align: center;
        padding-left: 30px;
      }
    }

    .icon-timing {
      pointer-events: none;
      position: absolute;
      top: 3px;
      margin-left: 3px;
    }


  }

  .day-picker-wrapper {

    .day-picker {
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.active {
        background-color: $primary;
        color: #ffffff;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 32px;
      //   padding:  15px 20px 15px 20px;
    }
  }
}


.disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
