.form-invalid {
    border-color: $invalid_form !important;
    input,
    textarea,
    .custom-file-label {
        border-color: $invalid_form !important;
    }
    .b-dropdown {
        border-color: $invalid_form !important;
    }
    input,
    label,
    svg,
    span {
        // color: $invalid_form !important;
        // fill: $invalid_form !important;
    }
}
.text-invalid {
    color: $invalid_form !important;
    &:first-letter {
        text-transform: capitalize;
    }
}
.text-correct {
    color: $active !important;
}
