.wrapper-scatter-message {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    margin-bottom: 55px;
    position: relative;
    animation-name: "expand-bounce";
    animation-duration: 0.25s;

    .btn-close-scatter-message {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
}

.widget-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    .message-wrapper {
        display: none;
        padding: 10px 20px;
        position: absolute;
        background-color: #fff;
        min-width: 65px;
        max-width: 356px;
        filter: drop-shadow(0px 1px 2px #a3a3a3);
        -webkit-filter: drop-shadow(0px 1px 2px #a3a3a3);
        top: 11px;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        border-radius: 30px;
        opacity: 0;
        transition: opacity 1s ease-in;
        animation-name: "shrink";
        animation-duration: 0.1s;
        word-break: break-all;
        &:after,
        &:before {
            border-style: solid;
            border-width: 0 30px 10px 0;
            border-color: transparent #ffffff transparent transparent;
            bottom: -7px;
            content: "";
            position: absolute;
            right: 15px;
        }

        &.active {
            display: block;
            opacity: 1;
            animation-name: "expand-bounce";
            animation-duration: 0.25s;
        }
    }
}

.box-scatter-message {
    background: #ffffff 0% 0% no-repeat padding-box;
    filter: drop-shadow(0px 1px 2px #a3a3a3);
    -webkit-filter: drop-shadow(0px 1px 2px #a3a3a3);
    padding: 15px 20px;
    border-radius: 30px;
    max-width: 356px;
    min-width: 65px;
    word-break: initial;
    font-size: 14px;
    &:after,
    &:before {
        border-style: solid;
        border-width: 0 30px 10px 0;
        border-color: transparent #ffffff transparent transparent;
        bottom: -7px;
        content: "";
        position: absolute;
        right: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .box-scatter-message {
        max-width: 100vw;
    }
}

.landing {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    // margin-left: 5px;
    margin-bottom: 20px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    display: flex;
    align-items: center;
    img {
        width: 44px;
        height: 44px;
        vertical-align: middle;
    }

    &:hover > .message-wrapper {
        display: block;
        opacity: 1;
        animation-name: "expand-bounce";
        animation-duration: 0.25s;
    }

    .notify {
        position: absolute;
        height: 18px;
        min-width: 18px;
        border-radius: 10px;
        background-color: #ff3d57;

        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        padding: 0 4px;
    }
}

.widget-box-wrapper {
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
    border-radius: 10px;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    display: flex;
    background: #fff;
    .chat-box-list {
        width: 100%;
        transform: translateZ(0px);
        flex: 1 1 auto !important;
    }

    .header-wrapper {
        height: 45px;
        // background-color: #fff;
        // background-color: "rgb(228 228 228)";
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        padding: 9px 12px;

        .title {
            text-align: left;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.48px;
            color: #33475b;
        }
    }
    .widget-chat-wrapper {
        // display: none;
        min-height: calc(100% - 135px);
        max-height: calc(100% - 135px);
        position: relative;
        // left: 0;
        //padding: 5px 10px !important;

        .chat-file {
            border-radius: 6px;
            padding: 12px 12px 10px;
            // cursor: pointer;
            background-color: $white;

            letter-spacing: 0;
            max-width: 300px;

            .file-name {
                color: $secondary;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
            }

            .file-desc {
                color: $secondary-light-1;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
        }

        .download {
            font-size: 12px;
            color: #33475b;
            cursor: pointer;
        }

        .line {
            display: block;
        }

        .line p {
            font-size: 12px;
            color: #84919d;
            text-align: center;
            border-bottom: 1px solid #e3e8ec;
            position: relative;
        }

        .line p span {
            background: #f6f9fa 0% 0% no-repeat padding-box;
            position: relative;
            top: 10px;
            // padding: 0 10px;
        }

        .lineDate {
            display: block;
            margin: 20px 0;
        }

        .lineDate span {
            font-size: 12px;
            color: #fff;
            text-align: center;
            background: #ff3d57 0% 0% no-repeat padding-box;
            position: relative;
            padding: 2px 16px;
            border-radius: 10px;
            letter-spacing: 1px;
        }
    }
}
.chat-reply-widget-wrapper {
    display: flex;
    background: transparent;
    padding: 0px 14px 14px 14px;
    align-items: flex-end;
}
.chat-reply-widget-message-wrapper {
    height: 100%;
    max-width: calc(100% - 90px);
    // border-right: none !important;
    background: transparent;

    .ql-editor {
        min-height: 40px;
        max-height: 160px;
        width: 100%;
        // min-width: 100%;
        padding: 10px 42px 8px 10px;
        border-radius: 20px;
        border: 1px solid $default-border;
        background-color: white;
        &:focus {
            color: $secondary !important;
            -webkit-box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
            box-shadow: 0 0 5px 0 rgba(104, 117, 129, 1) !important;
            border: 1px solid $secondary-light-1 !important;
        }
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        img {
            width: 20px;
            height: 20px;
        }
        &.disabled {
            .ql-editor > * {
                cursor: default !important;
            }
        }
    }
    .ql-container.ql-snow {
        border: none;
    }

    .ql-editor::before {
        padding-left: 5px;
    }

    .ql-editor.ql-blank::before {
        left: 5px;
        font-size: 14px;
        font-style: unset;
    }
    .icon-reply-message {
        bottom: 5px;
        position: relative;
        left: -45px;
    }

    .emoji-wrapper {
        width: 20px;
        height: 20px;
        right: 13px;
        bottom: 7px;
        position: absolute;
    }
}

.chat-tool-widget-wrapper {
    width: 100%;
    padding: 10px 14px 12px 14px;
    background-color: #fff;
    border-top: 1px solid #ece8ec;
}

.widget-content-wrapper {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    overflow: auto;
    // background-color: #fff;
    background: #f6f9fa 0 0 no-repeat padding-box;
    flex: 1 1 auto;
    padding: 10px 10px;

    .text-date {
        display: block;
        margin: 10px 0;
        text-align: center;
        font-size: 12px;
        color: #84919d;
        position: relative;
    }
    .welcome-wrapper {
        display: block;
        margin: 21px 0 10px;
        text-align: center;
        font-size: 12px;
        color: #84919d;
        position: relative;
        white-space: pre-wrap;
        letter-spacing: 0.24px;
    }

    .img-reply {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .text-reply {
        max-width: calc(100% - 10rem);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        color: #33475b;
        font-size: 14px;
        -webkit-letter-spacing: 0;
        -moz-letter-spacing: 0;
        -ms-letter-spacing: 0;
        letter-spacing: 0;
        line-height: 18px;
        background-color: #ffffff;
        border-radius: 15px;
        padding: 7px 12px 7px 12px;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .text-question {
        max-width: calc(100% - 10rem);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        color: #ffffff;
        font-size: 14px;
        -webkit-letter-spacing: 0;
        -moz-letter-spacing: 0;
        -ms-letter-spacing: 0;
        letter-spacing: 0;
        line-height: 18px;
        background-color: #536a85;
        border-radius: 15px;
        padding: 7px 12px 7px 12px;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .time-message {
        color: #84919d;
        align-items: center;
        font-size: 10px;
        letter-spacing: 0;
        line-height: 20px;
    }
}

.widget-chat-reply-wrapper {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: flex-end;

    .input-reply {
        width: calc(100% - 105px);
        display: inline-block;
        position: relative;
        height: 40px;

        .emoji {
            width: 28px;
            height: 28px;
            right: 7px;
            bottom: 7px;
            position: absolute;
        }
        textarea {
            width: 100%;
            resize: none;
            border-radius: 20px;
            border: 1px solid #e3e8ec;
            padding-left: 20px;
            padding-top: 9px;
            padding-right: 30px;
            height: 40px;
            font-size: 13px;
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
                /* make scrollbar transparent */
            }
        }
    }
}

.footer-wrapper {
    height: 10px;
    background-color: "rgb(228 228 228)";
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-close {
    position: absolute;
    right: 1em;
    top: 13px;
}

@keyframes expand-bounce {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

/* Here the scale simply goes from 1 back to 0 */
@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
