<template>
    <div class="status-coin-chart">
        <div :id="`coin-chart-${_id}`"></div>
    </div>
</template>

<script>
var Highcharts = require("highcharts");

export default {
    name: "Coinchat",
    props: {
        chartData: {
            type: Array,
            required: false,
        },
        _id: {
            type: String,
            required: false,
        },
    },
    data: function () {
        return {
            target: undefined,
        };
    },
    mounted: function () {
        this.target = Highcharts.chart(`coin-chart-${this._id}`, {
            chart: {
                zoomType: "x",
                height: 200
            },
            title: {
                text: "",
            },
            subtitle: {
                text: ""
            },
            xAxis: {
                type: "datetime",
            },
            yAxis: {
                title: {
                    enabled: false,
                    text: "Exchange rate",
                },
            },
            data: {
                enablePolling: true,
                dataRefreshRate: 1
            },

            legend: {
                enabled: false,
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1,
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [
                                1,
                                Highcharts.color(
                                    Highcharts.getOptions().colors[0]
                                )
                                    .setOpacity(0)
                                    .get("rgba"),
                            ],
                        ],
                    },
                    marker: {
                        radius: 2,
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1,
                        },
                    },
                    threshold: null,
                },
            },

            series: [
                {
                    type: "area",
                    name: "฿",
                    data: this.chartData,
                },
            ],
        });
    },
    beforeDestroy: function () {
        // this.target.destroy();
    },
};
</script>
<style lang="scss">
$bodercolor: #f1f4f6;

.status-line-chart {
    height: auto;
    padding: 6.5px 0px;
    border: 1px solid $bodercolor;
    border-radius: 5px;
}
.status-line-chart #line-chart {
    z-index: 500;
    position: relative;
}

.highcharts-label.highcharts-data-label {
    text {
        tspan {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

.highcharts-container {
    width: 100% !important;
}

.highcharts-root {
    width: 100% !important;
}

.highcharts-legend {
    .highcharts-legend-item.highcharts-spline-series {
        .highcharts-graph {
            stroke-width: 15;
        }

        tspan {
            font-weight: normal;
        }
    }
}
</style>
