<template>
  <div class="status-line-chart">
    <div id="column-chart"></div>
  </div>
</template>

<script>
var Highcharts = require("highcharts");
import _ from "lodash";
export default {
  name: "ColumnChart",
  props: {
    seriesDa: {
      type: Array,
      required: true
    }
  },
  data: function() {
    return {
      target: undefined
    };
  },
  methods: {
    createColumn: async function(seriesData, seriesDa) {
      this.target = Highcharts.chart("column-chart", {
        chart: {
          type: "column",
          backgroundColor: "rgba(255, 255, 255, 0.0)",
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        credits: {
          enabled: false
        },
        title: {
          text: ""
        },
        subtitle: {
          text: ""
        },
        legend: {
          enabled: true,
          align: "right",
          verticalAlign: "top",
          layout: "vertical",
          x: 0,
          y: 0,
          itemMarginTop: 20,
          itemMarginBottom: 0,
          symbolPadding: 20,
          symbolRadius: 0,
          symbolHeight: 16,
          symbolWidth: 16,
          itemStyle: {
            fontSize: "13px",
            fontWeight: "normal"
          },
          maxHeight: 1000,
          itemWidth: 250
        },
        xAxis: {
          categories: [""],
          labels: {
            enabled: false // disable labels
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: ""
          }
        },
        responsive: {
          rules: [
            {
              condition: {
                maxWidth: 500
              },
              chartOptions: {
                legend: {
                  align: "center",
                  verticalAlign: "bottom",
                  layout: "horizontal"
                },
                yAxis: {
                  labels: {
                    align: "left",
                    x: 0,
                    y: -5
                  },
                  title: {
                    text: null
                  }
                },
                subtitle: {
                  text: null
                },
                credits: {
                  enabled: false
                }
              }
            }
          ]
        },
        plotOptions: {
          series: {
            pointPadding: 0.25,
            groupPadding: 0.02,
            borderWidth: 0,
            shadow: false
          }
        },
        series: seriesData,
        tooltip: {
          useHTML: true,
          formatter: function() {
            // console.log("toole", this);
            let data = `<table class='tooltip-table'><thead><tr><td class='t-name' style="color:${this.point.color};font-size:1rem;">${this.key}</td><td class='t-value'>: ${this.y}</td></tr></thead><tbody>`;
            for (const key in this.point.data) {
              data += `<tr style='font-size:0.8rem;'><td class='t-name'>${this.point.data[key].desc}</td><td class='t-value'>: ${this.point.data[key].countReq}</td></tr>`;
            }
            data += "</tbody></div>";
            return data;
          },
   
        }
      });
    }
  },
  mounted: async function() {
    let seriesData = _.cloneDeep(this.seriesDa);
    let dataList = [];
    for (const key in seriesData) {
      if (seriesData[key].data.hasOwnProperty("cnt")) {
        dataList[key] = seriesData[key];
        // for (const key_2 in seriesData[key].data.statusList) {
        //   console.log(seriesData[key].data.statusList[key_2]);
        // }
        dataList[key].data = [
          {
            y: seriesData[key].data.cnt,
            data: seriesData[key].data.statusList,
            name: dataList[key].name,
            color: dataList[key].color
          }
        ];
      }
    }

    // console.log("seriesData", seriesData, this.seriesDa);
    await this.createColumn(seriesData, this.seriesDa);
  },
  beforeDestroy: function() {
    this.target.destroy();
  }
};
</script>
<style>
.status-pie-chart {
  height: 300px;
}
.status-pie-chart #pie-chart {
  z-index: 500;
  position: relative;
  top: -9rem;
}
.status-pie-chart .status-count {
  position: relative;
  font-size: 15px;
  color: #0a6fbc;
  top: 6rem;
  text-align: center;
  width: 100%;
}

.status-pie-chart .status-count > .count {
  font-size: 3rem;
  color: #0a6fbc;
  font-weight: bold;
}

.status-pie-chart .status-count > .title {
  font-size: 1rem;
  color: #0a6fbc;
  font-weight: bold;
  margin-top: -10px;
}
</style>
