<template>
  <div class="chart-wrapper">
    <div class="chart-inner">
      <div :id="`line-chart-${_id}`" style="width: 100%; height: 100%"></div>
    </div>
  </div>
</template>

<script>
var Highcharts = require("highcharts");

export default {
  name: "LineChart",
  props: {
    chartData: {
      type: Object,
      required: false,
    },
    _id: {
      type: String,
      required: false,
    },
  },
  data: function () {
    return {
      target: undefined,
    };
  },
  mounted: function () {
    Highcharts.setOptions({
      lang: {
        thousandsSep: ",",
      },
    });
    this.target = Highcharts.chart(`line-chart-${this._id}`, {
      chart: {
        type: "spline",
        backgroundColor: "rgba(255, 255, 255, 0.0)",
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
      },
      colors: this.chartData.colors,
      credits: {
        enabled: false,
      },

      title: {
        text: "",
      },

      subtitle: {
        text: "",
      },

      yAxis: {
        title: {
          text: this.chartData.yAxisTitle,
        },
      },

      xAxis: {
        crosshair: {
          width: 1,
          color: "#c2c8cd",
        },
        categories: this.chartData.categories,
        labels: {
          style: {
            fontSize: "10px",
          },
          rotation: 0,
          step: Math.round(
            this.chartData.categories.length > 5
              ? this.chartData.categories.length / 5
              : 1
          ),
        },
      },

      tooltip: {
        shared: true,
        // crosshairs: true,
        // useHTML: true,
        // formatter: function () {
        //     console.log("toole", this);
        //     console.log(this.series);

        //     let data = `<table class='tooltip-table'><thead><tr><td class='t-name' style=";font-size:1rem;">x</td><td class='t-value'>: x</td></tr></thead><tbody>`;
        //     for (const key in this.points) {
        //         data += `<tr style='font-size:0.8rem;'><td class='t-name'>${this.points[key].x}</td><td class='t-value'>: ${this.points[key].y}</td></tr>`;
        //     }
        //     data += "</tbody></div>";
        //     return data;
        // },
      },
      plotOptions: {
        series: {
          marker: {
            enabled: this.chartData.categories.length == 1 ? true : false,
          },
        },
      },

      series: this.chartData.series,

      responsive: {
        rules: [
          {
            condition: {
              // maxWidth: 500,
            },
            chartOptions: {
              legend: {
                align: "right",
                verticalAlign: "top",
                layout: "horizontal",
              },
              yAxis: {
                labels: {
                  align: "center",
                  x: 10,
                  y: 10,
                },
                // title: {
                //     text: null,
                // },
              },
              subtitle: {
                text: null,
              },
              credits: {
                enabled: false,
              },
              plotOptions: {
                series: {
                  marker: {
                    radius: 3,
                  },
                  dataLabels: {
                    useHTML: true,
                  },
                },
              },
            },
          },
        ],
      },
    });
  },
  beforeDestroy: function () {
    // this.target.destroy();
  },
};
</script>
<style lang="scss" scope>
$bodercolor: #f1f4f6;

.status-line-chart {
  height: auto;
  padding: 6.5px 0px;
  border: 1px solid $bodercolor;
  border-radius: 5px;
}
.status-line-chart #line-chart {
  z-index: 500;
  position: relative;
}

.highcharts-label.highcharts-data-label {
  text {
    tspan {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.highcharts-container {
  width: 100% !important;
}

.highcharts-root {
  width: 100% !important;
}

.highcharts-legend {
  .highcharts-legend-item.highcharts-spline-series {
    .highcharts-graph {
      stroke-width: 15;
    }

    tspan {
      font-weight: normal;
    }
  }
}

.chart-wrapper {
  position: relative;
  width: 45%;
  float: left;
}

.chart-inner {
  position: absolute;
  border: 2px solid #f1f4f6;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  height: 100%;
  max-height: 456px;
  min-height: 456px;
}
</style>
