<template>
    <div class="status-pie-chart">
        <div id="pie-chart"></div>
    </div>
</template>

<script>
var Highcharts = require("highcharts");

export default {
    name: "Chart",
    props: {
        series: {
            type: Array,
            required: true,
        },
        height: {
            type: Number,
            required: false,
        },
        width: {
            type: Number,
            required: false,
        },
        pointFormat: {
            type: String,
            required: false,
        },
        format: {
            type: String,
            required: false,
        },
    },
    data: function () {
        return {
            target: undefined,
        };
    },
    mounted: function () {
        this.target = Highcharts.chart("pie-chart", {
            chart: {
                type: "pie",
                options3d: {
                    enabled: true,
                    alpha: 45,
                },
                backgroundColor: "rgba(255, 255, 255, 0.0)",
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                width: this.width || 300,
                height: this.height || 300,
            },
            credits: {
                enabled: false,
            },
            title: {
                text: "",
            },
            subtitle: {
                text: "",
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: "pointer",
                    dataLabels: {
                        enabled: true,
                        format: this.format,
                        distance: -50,
                        style: {
                            color: "#FFFFFF",
                            fontSize: "14px",
                        },
                    },
                    states: {
                        hover: {
                            brightness: -0.1,
                        },
                        inactive: {
                            opacity: 0.9,
                        },
                    },
                    // innerSize: 150,
                    // depth: 45
                    // size:this.height || 220
                },
            },
            tooltip: {
                headerFormat: "",
                pointFormat: this.pointFormat,
                useHTML: true,
            },
            series: this.series,
        });
    },
    beforeDestroy: function () {
        this.target.destroy();
    },
};
</script>
<style lang="scss">
.status-pie-chart {
    height: auto;
}
.status-pie-chart #pie-chart {
    z-index: 500;
    position: relative;
}

.highcharts-label.highcharts-data-label {
    text {
        tspan {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
</style>
