<template>
    <div class="space-body">
        <div class="dashboard-card mt-3" v-if="showgrap">
            <div class="d-flex summary-graph row" v-for="(item, key) in graph"
                :key="`agent-all${key}`">
                <div class="box-detail">
                    
                    <div class="label-name">
                        {{item.name}}
                    </div>
                    <div class="icon row">
                        <div class="icon-coin">
                            <img :src="`/${lowerCaseImage(item._id)}`">
                        </div>
                        <div class="detail row col-11">
                            <div class="left col-5">
                                <div class="coin-name"><strong>{{item._id}}</strong>/THB</div>
                                <div class="coin-price">{{item.quote.price}} <span class="coin-type">THB</span></div>
                            </div>
                            <div class="right col-7">
                                <div class="coin-change">{{item.quote.percent_change_24h}} (24h)%</div>
                                <div class="coin-name">Vol: {{item.quote.volume_24h}} (24h)</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="graph">
                    <CoinChart
                        v-if="!loading"
                        :chartData="item.graph"
                        :_id="item._id"
                        style="width: 100%"
                    />
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import PieChart from "~/components/Graph/PieChart.vue";
import LineChartDashboard from "~/components/Graph/LineChartDashboard.vue";
import CoinChart from "~/components/Graph/CoinChart.vue";
import _ from "lodash";
export default {
    head() {
        return {
            title: `Dashboard`,
        };
    },
    async asyncData({ store, $dayjs }) {},
    data() {
        return {
            showgrap: false,
            dateRange: {
                startDate: "",
                endDate: "",
            },
            compare_to: {
                start: "",
                end: "",
            },
            label_datepicker: "Last 7 days",
        };
    },
    computed: {
        ...mapGetters({
            graph: "dashboard/graph",
            dashboard_box_one: "dashboard/dashboard_box_one",
            dashboard_box_two: "dashboard/dashboard_box_two",
            contacts: "dashboard/contacts",
            loading: "overlay",
        }),
    },
    methods: {
        ...mapActions({
            setLoading: "setLoadingOverlay",
        }),
        lowerCaseImage(image) {
            return `${_.lowerCase(image)}.png`
        },
        async getDashboard() {
            // this.setLoading(true);
            await this.$store.dispatch("dashboard/getDashboard");
            // console.log(data)
            this.setLoading(false);
        },
    },
    async mounted() {
        // this.$store.dispatch("setLoadingOverlay", true);
        await this.$store.dispatch("dashboard/getDashboard");
        this.showgrap = true
        // this.$store.dispatch("setLoadingOverlay", false);
        let that = this
        setInterval(async function () {
            console.log('setInterval')
            await that.getDashboard()
        }, 5000);
    },
    destroyed() {
        this.$store.commit("dashboard/resetState");
    },
    components: {
        PieChart,
        LineChartDashboard,
        CoinChart
    },
};
</script>

<style lang="scss" scoped>
.dashboard-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin: 10px
}

.summary-graph{
    display: block;
    float: left;
    width: calc(33% - 20px);
    margin: 10px;
}

.box-detail {
    width: 100%;
    .icon-coin {
        width: 24px;
        margin-left: 10px;
        img{
            width: 24px;
            height: auto;
        }
    }

    .detail {
        width: 100%;
        .right{
            text-align: right;
            font-size: 0.8rem;

        }

        .left{
            text-align: left;

            .coin-price {
                font-size: 0.8rem;
                .coin-type{
                    font-size: 0.6rem;
                }
            }
        }
    }
}

</style>
